.banners--search {
	font-size: 14px;
	display: inline-block;
	margin-right: 15px;
	label {
		font-weight: 400;
	}
}

.banners--sort {
	display: inline-block;
	cursor: pointer;
	position: relative;
	> label {
		width: 93px;
		cursor: pointer;
		height: 31px;
		border: 1px solid #cccccc;
		text-align: left;
		font-weight: 400;
		font-size: 13px;
		line-height: 31px;
		display: block;
		padding: 0px 15px;
		background-image: url(../images/sort.png);
		background-repeat: no-repeat;
   	 	background-position: 70px 9px;
		background-color: #f0f2f4;
	}
}

.banners--sort--options {
	position: absolute;
	display: none;
	top: 32px;
	right: 0px;
    width: 190px;
	background-color: #f0f2f4;
	border: 1px solid #cccccc;
	padding: 10px 0px 5px;
}

.banners--sort--option {
    padding: 10px 20px;
	text-align: left;
	position: relative;
	label {
		display: inline-block;
		width: 75px;
		font-weight: 400;
	}
	select {
		background-image: none;
    	position: relative;
    	height: 25px;
    	border: 1px solid #ccc;	
    	display: inline-block;
		vertical-align: middle;
	}
}

.banners--search-options {
	text-align: right;
	position: relative;
    margin-bottom: 15px;
	z-index: 10;
}

#banners-search-input {
	display: inline-block;
	width: 146px;
	height: 28px;
	padding: 5px 15px;
	font-size: 14px;
}

.banners--filters {
	@media (min-width: 991px) {
		float: right;
		padding-left: 0px;
		padding-right: 0px;
		margin-right: 0px;
	}
}

.banners--filter-list {
	padding: 8px 0 30px;
}

.banners--filter {
	> label {
		font-weight: 500;
		color: #2c2f35;
		font-size: 12px;
		padding: 13px 20px 13px;
		border-bottom: 1px solid #e3e1e1;
		display: block;
		margin-bottom: 0px;
	}
}

.banners-filter-option {
	display: none;
	background-color: #FCFCFC;
    position: relative;
    padding: 12px 20px 10px;
	font-size: 12px;
	&:before {
		display: block;
		content: "";
		width: 100%;
		position: absolute;
		bottom: 0px;
		left: 0px;
		height: 1px;
		background-color: #e3e1e1;
	}
	label {
		font-weight: 400;
		display: inline-block;
		margin-right: 1em;
		width: 40%;
	}
}

.banners--list {
	background-color: #fff;
	@media (min-width: 991px) {
		padding-right: 0px;
		padding-left: 0px;
	}
}

.banners--panel {
	#banners & {
		background-color: #f0f2f4;
	}
}

.header-block-1 {
	#banners & {
		border-bottom: 1px solid #e3e1e1;
	}
}

.header-block-2 {
	border-bottom: 1px solid #e3e1e1;
}

.banner--item {
	border-bottom: 1px solid #E8E8E8;
	&.first-child {
		border-top: 1px solid #E8E8E8;
	}

	&:hover {
		background-color: #f9fafb;
	}
}

	.banner--item-content {
		min-height: 187px;
	}

.banner--preview-container {
	vertical-align: middle;
	background-color: #f0f2f4;
	width: 185px!important;
	min-height: 187px!important;
	text-align: center;
	position: relative;

	.banner--item:hover & {
		background-color: #f9fafb;
	}
}

.banner--preview {
	display: block;
	position: relative;
	width: 185px!important;
	height: 187px!important;
	top: 0px;
	left: 0px;
}

.banner--details {
	padding: 30px 33px 26px;
	position: relative;
	.banner--item:hover & {
		background-color: #f9fafb;
		&:before,
		&:after {
			content: "";
			display: block;
			position: absolute;
			height: 100%;
			left: 0;
			top: 0;
			width: 2px;
			background-color: #fff;
			z-index: 100;
		}

		&:after {
			left: auto;
			right: 0px;
		}
	}
}
	.banner--details--banner-name {
		color: #33363d;
		font-weight: 400;
		font-size: 16px;
		margin: 0px 0px 10px;
		strong {
			font-weight: 700;
		}
	}
	.banner--details--banner-format {
		font-style: italic;
	}
	.banner--details--campaign-name {
		color: #ee683a;
		font-size: 14px;
		min-height: 80px;
	}

	.banner--details--target-link {
		color: #868686;
		font-size: 12px;
		float: left;
	}

	.banner--details--get-code-btn {
		font-family: @font-mont;
		font-size: 10px;
		letter-spacing: 0.08em;
		padding: 9px 19px 7px 16px;
		float: right;    
		margin-top: -14px;
	}

.banner--viewable-preview {
	position: absolute;
	&.mrec {
		width: 300px;
		height: 250px;
	}
}

.banner--viewable--cover {
	width: 100%;
	height: 100%;
	display: block;
}

.banner--viewable--cover {
	position: absolute;
	cursor: pointer;
	width: 100%;
	height: 100%;
	z-index: 9;
	top: 0;
	left: 0;
	&:before {
		content: "";
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		top: 0px;
		left: 0px;
		z-index: 1;
		background-repeat: no-repeat;
		background-position: center center;
		background-image: url(../images/preview-btn.png);
		.opacity(00);
	}

	.banner--playable & {
		&:before {
			// background-image: url(../images/play-btn.png);
		}
	}

	&:hover {
		&:before {
			.opacity(80);
		}
	}

	.banner--item:hover & {
		&:before {
			.opacity(100);
		}
	}
}

	.banner--viewable--screenshot {
		display: block;
		z-index: 0;
		position: absolute;
		top: 15px;
		left: 15px;
		right: 15px;
		bottom: 15px;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center center;
	}


.banner--viewable-preview-container {
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0;
	background-color: #fff;
	.opacity(0);
	.transition(opacity 0.125s ease);
	&.active {
		z-index: 10;
		.transition(all 0.125s ease);
		.opacity(100);
	}
}

.banner-code-holder {
	.banner--item & {
		display: none;
	}
}

.banners--pagination {
	background-color: #fff;
	text-align: center;
}

	.pagination {
		.banners--pagination & {
			margin: 40px auto;
			float: none;
			display: inline-block;
			> li {
				display: inline-block;
				float: none;
				>span,
				>a {
					margin-right: 1px!important;
					background-color: #ecebeb;
					border: none!important;
					color: #2c2f35;
					font-size: 10px;
				}

				&.disabled {
					>span,
					>a {
						img {
							.opacity(0.5);
						}
					}
				}

				&.active {
					> span {
						background-color: #f0f2f4;
					}
				}
			}
		}
	}