header {
	.high-low {
		.sprite(@header-logo);
	}
}

.navbar.post-login {
	padding-top: 13px;
	padding-bottom: 12px;

}

.container-fluid {
	.navbar.post-login & {
		padding-left: 24px;
		padding-right: 24px;
	}
}

.commission-status {
	font-size: 14px;
	line-height: 28px;
	font-weight: 400;
	color: #9a9ca2;
}

	.commission-status--value {
		color: #fff;
	}