.header-block-1 {
	padding: 17px 25px 12px; 
	background-color: #ecebeb;
	color: #2c2f35;
	font-size: 14px;
	line-height: 15px;
}

.header-block-2 {
	padding: 17px 25px 12px; 
	background-color: #ecebeb;
	color: #939393;
	font-family: @font-mont;
	font-size: 10px;
	line-height: 15px;
	letter-spacing: 0.2em;
}