#landing-pages {
	margin: 20px 0; 
}

.banners--panel {
	#landing-pages & {
		background-color: #f9f9f9;
	}
}


.banner--items {
	#landing-pages & {
		border-top: 1px solid #e3e1e1;
	}
}

.banner--item {
	#landing-pages & {
		margin-top: 30px;
		width: 50%;
		float: left;
	}
}

.banner--preview-container {
	#landing-pages & {
		width: 100%;
		height: 0px;
		padding-bottom: 6%;
	}
}

.landing-page--item {
	width: 50%;
	margin-top: 30px;
	float: left;
	padding-right: 30px;
	padding-left: 0px;

	@media (max-width: 991px) and (min-width: 768px) {
		width: 100%;
		margin-top: 0px;
		padding: 15px;
	}

	@media (max-width: 520px) {
		width: 100%;
		margin-top: 0px;
		padding: 15px;
	}

	&:hover {
		cursor: pointer;
	}
}

	.landing-page--item--inner--wrapper {
		border: 1px solid #e8e8e8;
		box-shadow: 3px 3px 0px 0px #f6f6f6;
	}

	.landing-page--item--name {
		width: 80%;
	}

.landing-page--item--favourite {
    position: absolute;
    right: 17px;
    top: 21px;
	cursor: pointer!important;
	&:hover {
		cursor: pointer!important;
	}
	input {
		display: none;
	}

	* {
		cursor: pointer!important;
		&:hover {
			cursor: pointer!important;
		}
	}
}
	.landing-page--item--favourite--icon {
		display: block;
		cursor: pointer!important;
		.sprite(@star-grey-sm);
	}

	input:checked + .landing-page--item--favourite--icon {
		.sprite(@star-yellow-sm);
		cursor: pointer!important;
	}



	.landing-page--item--screenshot {
		position: relative;

		&:before {
			content: "";
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			top: 0px;
			left: 0px;
			z-index: 1;
			background-color: transparent;
			background-repeat: no-repeat;
			background-position: center center;
			background-image: url(../images/preview-btn.png);
			.opacity(00);
		}

		.landing-page--item:hover & {
			&:before {
				.transition(all 0.125s ease);
				background-color: rgba(255,255,255,0.2);
				.opacity(80);
			}
		}
	}