.selectboxit-container {

	* {
		font-family: inherit;
		font-size: 12px;
	}

	.selectboxit {
		border-radius: 0px;
		background: none;
		border: none;
		
		&:hover {
			color: #656565;
			a {
				color: #656565;
			}
		}
	}

	.selectboxit-options {
		border-radius: 0px;
	}

	span {
		height: 24px;
		line-height: 24px;
	}

	.banner--details--target-link & {
		.selectboxit-text {
			position: relative;
			overflow: visible;
			&:after {
				content: "";
				display: inline-block;
				position: absolute;
			    right: -20px;
				top: 11px;
			    .opacity(0.5);
				.sprite(@down-grey-sm);
			}
		}
		&:hover {
			.selectboxit-text {
				&:after {	    
					.opacity(1);
				}
			}
		}
	}
}

.selectboxit-list {

	>.selectboxit-option {
		padding: 10px 5px;
	}

	>.selectboxit-focus {
		>.selectboxit-option-anchor {
			background:none;
			color: #ee683a;
		}
	}
}
.selectboxit-default-arrow {
	border: none;
	.sprite(@down-grey-sm);
	.opacity(0.5);

	.selectboxit-container:hover & {
		.opacity(1);
	}

	.banner--details--target-link & {
		display: none;
	}
}

.selectboxit {
	.selectboxit-arrow-container {
		.selectboxit-arrow {
			margin: 0px;
			margin-top: -1px;
		}
	}
}

.selectboxit-btn.selectboxit-enabled:hover, 
.selectboxit-btn.selectboxit-enabled:focus {
	background-color: transparent;
}