
table td[class*="col-"], table th[class*="col-"] {
	position: relative;
}

.table-wrapper {
	padding: 40px 0px 0px;
	margin: 0 10px;
	background-color: #fff;
	position: relative;

	@media (max-width: 991px) {
		overflow: auto;
	}

	&.table-lg {
		margin: 0px;
   	 	padding-top: 22px;
	}
}

	.dataTables_processing {
		display: block;
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		background-color: rgba(255,255,255,0.8);
		z-index: 100000;
		.loading {
			position: absolute;
			top: 60px;
			width: 120px;
			left: 50%;
			margin-left: -60px;
		}
	}

	table {
		width: 100%;
		background-color: #fff;
		table-layout: fixed;
	}
		table thead tr {
			border-top: 1px solid #efefef;
			border-bottom: 1px solid #dadada;
		}
		table thead tr th {
			vertical-align: top;
			font-size: 12px;
			font-weight: 500;
			color: #33363d;
			background-color:#f9f9f9;    
			padding-top: 10px;
   	 		padding-bottom: 8px;
			text-align: left;
			padding-left: 5px;
			padding-right: 5px;
			position: relative;

			&.sorting {
				&:after {
					content: "";
					display: inline-block;
					position: absolute;
					top: 50%;
					margin-top: -7px;
					margin-left: 5px;
					.sprite(@sort-default);
					@media (max-width: 1024px) {
						right: 10px;
					}
				}
			}

			&.sorting_desc {
				&:after {
					content: "";
					display: inline-block;
					position: absolute;
					top: 50%;
					margin-top: -7px;
					margin-left: 5px;
					.sprite(@sort-descending);
					@media (max-width: 1024px) {
						right: 10px;
					}
				}
			}

			&.sorting_asc {
				&:after {
					content: "";
					display: inline-block;
					position: absolute;
					top: 50%;
					margin-top: -7px;
					margin-left: 5px;
					.sprite(@sort-ascending);
					@media (max-width: 1024px) {
						right: 10px;
					}
				}
			}

			.table-wrapper__dashboard & {
				&:first-child {
					padding-left: 20px;
					width: 45px;
				}
				&:nth-child(2) {
					width: 40%;
				}
				&:nth-child(3) {
				}
				&:nth-child(4) {
				}
				&:nth-child(5) {
				}
				&:nth-child(6) {
					width: 120px;
				}
				&:last-child {
					// padding-right: 20px;
				}
			}

			&.url {
				max-width: 230px;
			}


			.table-lg & {

				font-size: 12px;

				padding-left: 10px;
    			padding-right: 20px;

				&:first-child {
					padding-left: 28px;
				}

			}
		}

		tbody tr {
			border-top: 1px solid #eeeeee;
		}
		tbody tr&:hover > td {
			background-color: #fffcec;
		}
		tbody tr > td {
			vertical-align: top;
			font-size: 12px;
			font-weight: 400;
			color: #33363d;
			padding-top: 9px;
			padding-bottom: 9px;
			padding-left: 5px;
			padding-right: 5px;

			.table-lg & {

				font-size: 12px;
				
				padding-left: 10px;
    			padding-right: 20px;

				&:first-child {
					padding-left: 28px;
				}

			}

			.table-wrapper__dashboard & {

				&:first-child {
					padding-left: 20px;
					color: #f07a3f;
					font-weight: 500;
				}
				&:last-child {
					padding-right: 20px;
				}
			}

			&.url {
				max-width: 230px;
			}
		}

		.dataTables_paginate {
			text-align: center;
			margin-top: 2em;
			padding-top: 2em;
			margin-bottom: 3em;
			border-top: 1px solid #eaeaea;
		}

			.paginate_button, 
			.ellipsis  {
				text-decoration: none;
				display: inline-block;
				width: 35px;
				height: 32px;
				text-align: center;
				line-height: 32px;
				padding: 0;
				font-size: 10px;
				margin-right: 3px;
				border-bottom: 3px solid #e1dfdf;
				margin-right: 1px !important;
				background-color: #ecebeb;
				border: none !important;
				cursor: pointer;
				font-family: 'Montserrat','Futura','Verdana',Arial,sans-serif;

				&.disabled {
					cursor: default!important;
					&:before {
						.opacity(0.5);
					}
					&:hover {
						background-color: #ecebeb;
					}
				}

				&.next {
					&:before {
						content: "";
						display: inline-block;
						.sprite(@right-v);
					}
				}

				&.previous {
					&:before {
						content: "";
						display: inline-block;
						.sprite(@left-v);
					}
				}

				&.current {
					font-weight: 700;
					background-color: #f0f2f4;
					cursor: default!important;
					&:hover {
						background-color: #f0f2f4;
					}
				}

				&:hover {					
					text-decoration: none;
					background-color: #e1dfdf;
				}
			}

			.ellipsis {
				background-color: #ecebeb;
				color: #b0aaaa;
				cursor: default;
				&:hover {
					background-color: #ecebeb;
					color: #b0aaaa;
				}
			}



