#banner-performance-table {

	table-layout: fixed;

	.favourite-unchecked {
		position: relative;
		display: inline-block;
		.sprite(@star-grey-sm);
	}
	.favourite-checked {
		position: relative;
		display: inline-block;
		.sprite(@star-yellow-sm);
	}
	.preview-thumbnail {
		width: 142px;
		height: 120px;
		position: relative;
		display: block;
		background-color: #f0f2f4;
		.preview-thumbnail--inner-wrapper {
			position: absolute;
			display: block;
			top: 10px;
			left: 15px;
			right: 15px;
			bottom: 10px;
			background-size: contain;
			background-position: center center;
			background-repeat: no-repeat;
		}
	}

	tr:hover > td {
		.preview-thumbnail {
			background-color: #fffcec;

		}
	}

	tr > td,
	tr > th {
		vertical-align: middle;
		text-align: center;

		&.col-preview {
			padding-left: 0px;
			padding-right: 0px;
			width: 142px!important;
			max-width: 142px!important;
		}

		&:nth-child(1),
		&:nth-child(2) {
			text-align: left;
		}

		&.col-banner {
			padding-left: 64px;
		}

		&.col-impressions {
			width: 168px;
		}

		&.col-clicked {
			width: 168px;
		}

		&.col-clicked-combined,
		&.col-traded-combined {
			width: 168px;
		}

		&.col-clicked-percentage {
			width: 168px;
		}

		&.col-traded {
			width: 168px;
		}

		&.col-traded-percentage {
			width: 168px;
		}

		&.col-favourite {
			width: 168px;
		}

		@media (max-width: 1920px) {

			&.col-impressions {
				width: 106px;
			}

			&.col-clicked {
				width: 106px;
			}

			&.col-clicked-percentage {
				width: 106px;
			}

			&.col-traded {
				width: 106px;
			}

			&.col-traded-percentage {
				width: 106px;
			}

			&.col-favourite {
				width: 106px;
			}
		}

		@media (max-width: 1440px) {
			&.col-banner {
				padding-left: 32px;
			}
			&.col-clicked-combined,
			&.col-traded-combined {
				width: 100px;
			}
		}
	}

	tr > th {

		&.clicked {
			&:before {
				content: "";
				display: inline-block;
				width: 12px;
				height: 12px;
				border-radius: 10px;
				border: 2px solid #fff;
				background-color: #cee8e1;
				margin-right: 2px;
				vertical-align: sub;
				position: relative;
				top: -1px;
			}
		}

		&.traded {
			&:before {
				content: "";
				display: inline-block;
				width: 12px;
				height: 12px;
				border-radius: 10px;
				border: 2px solid #fff;
				background-color: #ffb091;
				margin-right: 2px;
				vertical-align: sub;
				position: relative;
				top: -1px;
			}
		}
	}

	tr > td {
		small {
			display: inline-block;
			font-size: 10px;
			.opacity(0.8);
		}
		&.col-preview {
			padding: 0px;
		}

		&.col-clicked-combined,
		&.col-traded-combined {
			text-indent: 17px;
			.col-content {
				text-indent: 0px;
				display: inline-block;
				position: relative;
			}
		}
	}
}

#banner-performance-table_wrapper {
	@media (max-width: 1199px) and (min-width: 768px) {
		min-width: 768px;
	}
	@media (max-width: 767px) and (min-width: 320px) {
		min-width: 480px;
	}
}


.percentage-display {
	#banner-performance-table & {
	}
}

.percentage-bar {
	#banner-performance-table & {
		// background-color: #f1f1f1;
	}
}

.percentage-bar-fill {
	#banner-performance-table .clicked-percentage & {
		background-color: #cee8e1;
	}

	#banner-performance-table .traded-percentage & {
		background-color: #ffb091;
	}
}