{% extends base %}


{% block bodyClass %}
{% endblock %}

{% block content %}
<br/>
<br/>
<br/>
<div class="container">
	<h3>HighLow Affiliates Account UI</h3>
	<hl></hl>
	<h5>Screen list:</h5>
	<a href="view-promotions.html">View Promotions</a>
</div>

{% endblock %}