{% extends base %}


{% block bodyClass %}
{% endblock %}

{% block content %}







<script src="//tstatic2.rtcm.com/acontent/scripts/main.js"></script>
<script>
	$(document).ready(function(){
		$(".sidebar-toggler").click(function(){
			if($('body').hasClass('show-sidebar')) {
				$('body').removeClass('show-sidebar');
				$('#side-menu').addClass('hidden-xs');
			} else {
				$('body').addClass('show-sidebar');
				$('#side-menu').removeClass('hidden-xs');
			}
		});


		setTimeout(function(){
			  $('.message-wrapper').each(function(){
			   $(this).addClass('display').addClass($(this).data('type'));
			  });
			 },600);
			 
		 $('.message-wrapper .close').click(function(){
		  $('.message-wrapper').removeClass('display').removeClass('fail').removeClass('success').removeClass('alert').removeClass('generic').removeClass('warning');
		 });

	});
</script>
    	
<script type="text/javascript" src="//tstatic2.rtcm.com/acontent/scripts/jquery.zclip.min.js"></script>
<script>
	$(document).ready(function(){
		$('a.bannerOption').on('click',function(e){
			e.preventDefault();
			$(this).next('.subCodeDiv').show();
		});

		$('.applySubCode').on('click',function(e){				
			var subCodeText =  $(this).prev('input.subCodeText').val();			
			var textarea = $(this).closest('.banner-code-div').find('.banner-code-holder');
			var textareaPrototype = textarea.data('prototype');
			href = '';
			if(subCodeText != '') {
				href = "&amp;chan="+subCodeText;
			}
			textarea.val(textareaPrototype.replace('SUBCODE',href));								
			$(this).parent('div').hide();		
		});
    
		if (location.hash !== '') {
			$('a[href="' + location.hash + '"]').tab('show');
		} else {
			$('.nav-tabs a:first').tab('show');
		}
		$('a[data-toggle="tab"]').on('shown.bs.tab', function(e) {
			if(history.pushState)
				history.pushState(null, null, '#'+$(e.target).attr('href').substr(1));
			else
				location.hash = '#'+$(e.target).attr('href').substr(1);
		});

		message = '<div class="highlow message-wrapper">'+
			'<div class="message">'+
				'クリップボードにバナーコードがコピーされました'+
			'</div>'+
			'<div class="close">'+
			'</div>'+
		'</div>';

		$('.get-code').zclip({
			path:'//tstatic2.rtcm.com/acontent/js/ZeroClipboard.swf',
			copy: function() {
				content = $(this).closest('.banner-code-div').find('.banner-code-holder').val(); 
				return content;
			},
			afterCopy: function() {
				$('.message-wrapper').remove();
				$(this).closest('.media-body').prepend(message);
				$('.message-wrapper').addClass('success').addClass('display');
				setTimeout(function(){
					$('.message-wrapper').each(function(){
						$(this).removeClass('success').removeClass('display').remove();
					});
				},5000);
			}
		});

		$('.message-wrapper .close').click(function(){
			$('.message-wrapper').removeClass('display').removeClass('fail').removeClass('success').removeClass('alert').removeClass('generic').removeClass('warning');
		});	

	});
</script>

{% endblock %}