{% extends base %}



{% block bodyClass %}
{% endblock %}

{% block content %}

{% include header %}

{% assign landingPages='active' %}

{% assign creatives='active' %}

{% include side-menu %}

{% assign landingPages='active' %}

{% assign creatives='active' %}

<div class="main-content">
	<div class="wrapper clearfix">
		<div class="clearfix">
		</div>
		<div class="page-heading clearfix">
			<div class="pull-left">
				<h3>
					Targeted landing pages
				</h3>
			</div>
		</div>
		<div class="container">
			<h3 class="page-sub-heading">View our range of targeted landing pages.</h3>

			<div class="row">
				<h3></h3>
				<div class="col-lg-12">
					<div class="tab-content">
						<div class="tab-pane active" id="landing-pages">
							<form>
								<div class="banners--panel clearfix">
									<div class="col-lg-3 banners--filters">
										<div class="header-block-2 banners--filters--panel-header">
											<div class="clearfix banners--search-options">
												<div class="banners--search">
													<label for="banners-search-input">Search</label>
													<input id="banners-search-input" type="text" placeholder="Keywords" class="form-control"/>
												</div>
												<div class="banners--sort">
													<label>Sort by</label>
													<div class="banners--sort--options">
														<div class="banners--sort--option">
															<label>
																<input type="checkbox" name="sort-alphabet"/>
																&nbsp;&nbsp;Alphabetically
															</label>
															<select>
																<option value="asc">ASC</option>
																<option value="asc">DEC</option>
															</select>
														</div>
														<div class="banners--sort--option">
															<label>
																<input type="checkbox" name="sort-recent"/>
																&nbsp;&nbsp;Most recent
															</label>
															<select>
																<option value="asc">ASC</option>
																<option value="asc">DEC</option>
															</select>
														</div>
														<div class="banners--sort--option clearfix">
															<button class="banners--sort--apply-btn btn btn-alternate btn btn-extruded pull-left">
																<i class="fa fa-check"></i>&nbsp;&nbsp;SORT
															</button>
															<div class="btn clear pull-right">
																CLEAR
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="banners--filter-list">
											<div class="banners--filter-list--title toggler" data-toggle-target=".banners--filter-container" data-toggle-class="active">
												FILTER
											</div>
											<div class="clearfix banners--filter-container">
												<div class="banners--filter--group">
													<div class="banners--filter">
														<label for="language-filter-toggle">
															<input id="language-filter-toggle" type="checkbox" class="banners--filter--toggle" checked>
															&nbsp;&nbsp;By language
														</label>
														<div class="banners-filter-option" style="display: block;">
															<label>
																<input type="checkbox" class="check-all" name="language[]" value="all"/>
																All
															</label>
															<label>
																<input type="checkbox" name="language[]" value="jp"/>
																Japanese
															</label>
															<label>
																<input type="checkbox" checked name="language[]" value="eng"/>
																English
															</label>
															<label>
																<input type="checkbox" name="language[]" value="uni"/>
																Generic
															</label>
														</div>
													</div>
													<div class="banners--filter">
														<label for="banner-orientation-filter-toggle">
															<input id="banner-orientation-filter-toggle" type="checkbox" class="banners--filter--toggle">
															&nbsp;&nbsp;By lorem
														</label>
														<div class="banners-filter-option">
															<label>
																<input type="checkbox" class="check-all" name="orientation[]" value="all"/>
																All
															</label>
															<label>
																<input type="checkbox" name="orientation[]" value="square"/>
																Ipsum
															</label>
															<label>
																<input type="checkbox" name="orientation[]" value="Landscape"/>
																Dolor sit
															</label>
															<label>
																<input type="checkbox" name="orientation[]" value="portrait"/>
																Amet
															</label>
														</div>
													</div>
													<div class="banners--filter">
														<label for="banner-orientation-filter-toggle">
															<input id="banner-orientation-filter-toggle" type="checkbox" class="banners--filter--toggle">
															&nbsp;&nbsp;By lorem
														</label>
														<div class="banners-filter-option">
															<label>
																<input type="checkbox" class="check-all" name="orientation[]" value="all"/>
																All
															</label>
															<label>
																<input type="checkbox" name="orientation[]" value="square"/>
																Ipsum
															</label>
															<label>
																<input type="checkbox" name="orientation[]" value="Landscape"/>
																Dolor sit
															</label>
															<label>
																<input type="checkbox" name="orientation[]" value="portrait"/>
																Amet
															</label>
														</div>
													</div>
												</div>
												<div class="banners--filter--apply">
													<button class="banners--filter--apply-btn btn btn-alternate btn-extruded pull-left"><i class="fa fa-filter"></i>&nbsp;&nbsp;APPLY FILTER</button>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-9 banners--list landing-pages--list">
										<div class="header-block-1">
											Landing pages <span class="thin">(1-4 of 8 records)</span>
										</div>
										<div class="banner--items clearfix">
											<div class="landing-page--item landing-page--view-details" 
												data-name="HighLow Markets Home page"
												data-url="https://en2.highlow.net/account"
												data-screenshots='["acontent/landing-page-screenshots/lp-detail-shot-1.png","acontent/landing-page-screenshots/lp-detail-shot-2.png","acontent/landing-page-screenshots/lp-detail-shot-3.png"]'
												data-description="<strong>Featuring a built-in sign-up form, plus regionally dynamic content</strong>
			<p>A general, simple landing page outlining key features, an image of the HighLow platform and the sign-up bonus. This page dynamically loads country-specific content using blahBlah, meaning a more relevant experience for the lead.<p>
			<p>Potential leads can sign-up for HighLow directly from this page.</p>"
											>
												<div class="landing-page--item--inner--wrapper">
													<div class="landing-page--item--screenshot--wrapper">
														<div class="landing-page--item--screenshot">
															<img id="landing-page--hover-preview--screenshot-img" class="landing-page--item--screenshot-img" src="acontent/landing-page-screenshots/lp1.png"/>
														</div>
													</div>
													<div class="landing-page--item--details">
														<div class="landing-page--item--favourite">
															<label>
																<input type="checkbox" checked="checked" value="all"/>
																<span class="landing-page--item--favourite--icon">
																</span>
															</label>
														</div>
														<div class="landing-page--item--name">
															HighLow Markets Home page
														</div>
														<div class="landing-page--item--url">
															https://en2.highlow.net/account
														</div>
													</div> 
												</div>
											</div>
											<div class="landing-page--item landing-page--view-details" 
												data-name="Long Form Landing page"
												data-url="https://en2.highlow.net/landing"
												data-screenshots='["acontent/landing-page-screenshots/lp-detail-shot-1.png","acontent/landing-page-screenshots/lp-detail-shot-2.png","acontent/landing-page-screenshots/lp-detail-shot-3.png"]'
												data-description="<strong>Featuring a built-in sign-up form, plus regionally dynamic content</strong>
			<p>A general, simple landing page outlining key features, an image of the HighLow platform and the sign-up bonus. This page dynamically loads country-specific content using blahBlah, meaning a more relevant experience for the lead.<p>
			<p>Potential leads can sign-up for HighLow directly from this page.</p>">
												<div class="landing-page--item--inner--wrapper">
													<div class="landing-page--item--screenshot--wrapper">
														<div class="landing-page--item--screenshot">
															<img id="landing-page--hover-preview--screenshot-img" class="landing-page--item--screenshot-img" src="acontent/landing-page-screenshots/lp2.png"/>
														</div>
													</div>
													<div class="landing-page--item--details">
														<div class="landing-page--item--favourite">
															<label>
																<input type="checkbox" value="all"/>
																<span class="landing-page--item--favourite--icon">
																</span>
															</label>
														</div>
														<div class="landing-page--item--name">
															Long Form Landing page
														</div>
														<div class="landing-page--item--url">
															https://en2.highlow.net/landing
														</div>
													</div> 
												</div>
											</div>
											<div class="landing-page--item landing-page--view-details" 
												data-name="Experience Traders Landing page"
												data-url="https://en2.highlow.net/lp-traders"
												data-screenshots='["acontent/landing-page-screenshots/lp-detail-shot-1.png","acontent/landing-page-screenshots/lp-detail-shot-2.png","acontent/landing-page-screenshots/lp-detail-shot-3.png"]'
												data-description="<strong>Featuring a built-in sign-up form, plus regionally dynamic content</strong>
			<p>A general, simple landing page outlining key features, an image of the HighLow platform and the sign-up bonus. This page dynamically loads country-specific content using blahBlah, meaning a more relevant experience for the lead.<p>
			<p>Potential leads can sign-up for HighLow directly from this page.</p>">
												<div class="landing-page--item--inner--wrapper">
													<div class="landing-page--item--screenshot--wrapper">
														<div class="landing-page--item--screenshot">
															<img id="landing-page--hover-preview--screenshot-img" class="landing-page--item--screenshot-img" src="acontent/landing-page-screenshots/lp3.png"/>
														</div>
													</div>
													<div class="landing-page--item--details">
														<div class="landing-page--item--favourite">
															<label>
																<input type="checkbox" value="all"/>
																<span class="landing-page--item--favourite--icon">
																</span>
															</label>
														</div>
														<div class="landing-page--item--name">
															Experience Traders Landing page
														</div>
														<div class="landing-page--item--url">
															https://en2.highlow.net/lp-traders
														</div>
													</div> 
												</div>
											</div>
											<div class="landing-page--item landing-page--view-details" 
												data-name="Short Form Landing page"
												data-url="http://point.agency/highlow/new-site/landing-page-basic.html"
												data-screenshots='["acontent/landing-page-screenshots/lp-detail-shot-1.png","acontent/landing-page-screenshots/lp-detail-shot-2.png","acontent/landing-page-screenshots/lp-detail-shot-3.png"]'
												data-description="<strong>Featuring a built-in sign-up form, plus regionally dynamic content</strong>
			<p>A general, simple landing page outlining key features, an image of the HighLow platform and the sign-up bonus. This page dynamically loads country-specific content using blahBlah, meaning a more relevant experience for the lead.<p>
			<p>Potential leads can sign-up for HighLow directly from this page.</p>">
												<div class="landing-page--item--inner--wrapper">
													<div class="landing-page--item--screenshot--wrapper">
														<div class="landing-page--item--screenshot">
															<img id="landing-page--hover-preview--screenshot-img" class="landing-page--item--screenshot-img" src="acontent/landing-page-screenshots/lp5.png"/>
														</div>
													</div>
													<div class="landing-page--item--details">
														<div class="landing-page--item--favourite">
															<label>
																<input type="checkbox" checked="checked" value="all"/>
																<span class="landing-page--item--favourite--icon">
																</span>
															</label>
														</div>
														<div class="landing-page--item--name">
															Short Form Landing page
														</div>
														<div class="landing-page--item--url">
															http://point.agency/highlow/new-site/landing-page-basic.html
														</div>
													</div> 
												</div>
											</div>
										</div>
									</div>
								</div>	
								<div class="banners--pagination">
									<ul class="pagination">
										<li class="disabled">
											<span>
												<img src="acontent/images/left-v.png"/><!--
												--><img src="acontent/images/left-v.png"/>
											</span>
										</li><!--
										--><li class="disabled">
											<span>
												<img src="acontent/images/left-v.png"/>
											</span>
										</li><!--
										--><li class="active">
											<span>1</span>
										</li><!--
										--><li>
											<a href="/en/my-account/5402f0f8ce0670930e7b23d3/view-promotion?page=2">2</a>
										</li><!--
										--><li>
											<a href="/en/my-account/5402f0f8ce0670930e7b23d3/view-promotion?page=3">3</a>
										</li><!--
										--><li>
											<a href="/en/my-account/5402f0f8ce0670930e7b23d3/view-promotion?page=4">4</a>
										</li><!--
										--><li>
											<a href="/en/my-account/5402f0f8ce0670930e7b23d3/view-promotion?page=5">5</a>
										</li><!--
										--><li class="disabled">
											<span>&hellip;</span>
										</li><!--
										--><li>
											<a href="/en/my-account/5402f0f8ce0670930e7b23d3/view-promotion?page=8">8</a>
										</li><!--
										--><li>
											<a href="/en/my-account/5402f0f8ce0670930e7b23d3/view-promotion?page=2">
												<img src="acontent/images/right-v.png"/>
											</a>
										</li><!--
										--><li>
											<a href="/en/my-account/5402f0f8ce0670930e7b23d3/view-promotion?page=8">
												<img src="acontent/images/right-v.png"/><!--
												--><img src="acontent/images/right-v.png"/>
											</a>
										</li>
									</ul>
								</div>  
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% include landing-page-detail-modal %}

{% endblock %}

{% block script %}

<script type="text/javascript" src="acontent/js/custom-plugin/view-landing-page-details.js">
</script>

<script>
	$(document).ready(function(){
		$(".sidebar-toggler").click(function(){
			if($('body').hasClass('show-sidebar')) {
				$('body').removeClass('show-sidebar');
				$('#side-menu').addClass('hidden-xs');
			} else {
				$('body').addClass('show-sidebar');
				$('#side-menu').removeClass('hidden-xs');
			}
		});


		setTimeout(function(){
			$('.message-wrapper').each(function(){
				$(this).addClass('display').addClass($(this).data('type'));
			});
		},600);

		$('.message-wrapper .close').click(function(){
			$('.message-wrapper').removeClass('display').removeClass('fail').removeClass('success').removeClass('alert').removeClass('generic').removeClass('warning');
		});


	});
</script>



{% endblock %}