{% extends base %}

{% block title %}
	Commission | Payments
{% endblock %}

{% block bodyClass %}
{% endblock %}

{% block content %}

{% include header %}

{% assign payments='active' %}

{% assign paymentsCommission='active' %}

{% include side-menu %}

{% assign payments='active' %}

{% assign paymentsCommission='active' %}

<div class="main-content">
	<div class="wrapper clearfix">
		<div class="clearfix">
		</div>
		<div class="page-heading clearfix">
			<div class="pull-left">
				<h3>
					COMMISSION
				</h3>
			</div>
			<div class="page-actions">
				<div class="affiliate-btn-group affiliate-btn-xs pull-right" id="aff_frontend_ranges">
					<a href="#" id="reportrange" class="affiliate-btn affiliate-btn-default"><i class="sprite-icon__calendar-red-sm"></i>&nbsp; 
						<span>January 12, 2016 &mdash; February 10, 2016</span>
						<span class="sprite-icon"></span>
					</a>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="widget-stats">
				<div class="row">
					<div class="col-md-4 stats">
				    	<div class="stats-title">
				    		<span>Paid to date</span>&nbsp;
				    		<span class="tooltip-toggle lg-screen" data-toggle="tooltip" data-placement="right" title="The number of clients who created accounts with us based on creation date. Depending on the filter it will include all clients registered during that period."><i class="fa fa-question"></i></span>


				    		<span class="tooltip-toggle sm-screen" data-toggle="tooltip" data-placement="top" title="The number of clients who created accounts with us based on creation date. Depending on the filter it will include all clients registered during that period."><i class="fa fa-question"></i></span>
				    	</div>
				        <div class="stats-info">AU$57,255.00</div>                
					</div>
					<div class="col-md-4 stats">
				    	<div class="stats-title">
				    		<span>Pending</span>&nbsp;
				    		<span class="tooltip-toggle lg-screen" data-toggle="tooltip" data-placement="right" title="The number of clients who created accounts with us based on creation date. Depending on the filter it will include all clients registered during that period."><i class="fa fa-question"></i></span>


				    		<span class="tooltip-toggle sm-screen" data-toggle="tooltip" data-placement="top" title="The number of clients who created accounts with us based on creation date. Depending on the filter it will include all clients registered during that period."><i class="fa fa-question"></i></span>
				    	</div>
				        <div class="stats-info">AU$0.00</div>                
					</div>
					<div class="col-md-4 stats">
				    	<div class="stats-title">
				    		<span>This month</span>&nbsp;
				    		<span class="tooltip-toggle lg-screen" data-toggle="tooltip" data-placement="left" title="The number of clients who created accounts with us based on creation date. Depending on the filter it will include all clients registered during that period."><i class="fa fa-question"></i></span>


				    		<span class="tooltip-toggle sm-screen" data-toggle="tooltip" data-placement="top" title="The number of clients who created accounts with us based on creation date. Depending on the filter it will include all clients registered during that period."><i class="fa fa-question"></i></span>
				    	</div>
				        <div class="stats-info">AU$2,700</div>                
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div id="commission-history-table-widget" class="widget widget__table">
						<div class="clearfix">
							<div class="widget-title">
								Commission History <span class="chart-title--dynamic" id="lead-count"></span>
							</div>
							<div class="widget-options">
								<div id="commission-history-table--download" class="btn widget-options--btn">
									<i class="sprite-icon__thick-arrow-down-grey-sm"></i>
									Download
								</div>
								<div id="commission-history-table--filter" data-toggle="modal" data-target="#commission-history-filter-modal" class="btn widget-options--btn">
									<i class="sprite-icon__filter-grey-sm"></i>
									Filters
								</div>
								&nbsp;
								&nbsp;
								<div class="filter--toggles">
									<div class="filter--toggles--item commission-history--quick-filter active toggler" data-value="0" data-self-toggle-off-disabled="true" data-toggle-group="commission-history--quick-filters">
										All
									</div>
									<div class="filter--toggles--item commission-history--quick-filter toggler" data-value="1" data-self-toggle-off-disabled="true" data-toggle-group="commission-history--quick-filters">
										Paid
									</div>
									<div class="filter--toggles--item commission-history--quick-filter toggler" data-value="2" data-toggle-self-off-disabled="true" data-toggle-group="commission-history--quick-filters">
										Unpaid
									</div>
								</div>
							</div>
						</div>
						<div class="table-wrapper table-lg">
							<table id="commission-history-table" data-src="acontent/js/sample-json/commission-history.js" 
								data-data-property="data" 
								data-count-property="total" 
								data-page-length="25"
								data-filtered-count-property="filtered"
								data-no-data-message="No result found."
								data-asset-url="acontent/images/"
								data-page-count-property="currentPage"
								data-count-display="#lead-count"
								data-filter-container="#lead-status-filter-form">
								<thead>
									<tr>
										<th 
											data-property-name="month">
											Month
										</th>
										<th 
											
											data-property-name="commission">
											Commission
										</th>
										<th
											data-property-name="paid"
											data-type="map"
											data-map='{ "true" : "Y" , "else" : "N"}'>
											Paid?
										</th>
										<th
											data-property-name="payment_date"
											data-type="date",
											data-format="YYYY-MM-DD">
											Payment date
										</th>
									</tr>
								</thead>
								<tbody>

								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% include commission-history-filter-modal %}

{% endblock %}

{% block defaultScripts %}
    <script src="https://cdn.highlow.net/admin/js/jquery-1.8.3.js"></script>
	<script src="https://cdn.highlow.net/admin/js/ui/jquery-ui-1.9.2.custom.js"></script>    	
	<script src="https://cdn.highlow.net/admin/js/ui/jquery-ui-timepicker.js"></script>
	<script src="https://cdn.highlow.net/admin/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="https://cdn.highlow.net/common/js/jquery.validate.min.js"></script>
	<script src="https://cdn.highlow.net/common/js/additional-methods.min.js"></script>
	<script src="https://cdn.highlow.net/acontent/js/custom.js"></script>
	<script src="https://cdn.highlow.net/acontent/js/datepicker.loader.js"></script>
	<script src="https://cdn.highlow.net/admin/js/daterangepicker.js"></script>
	<script src="acontent/js/highlow-affiliate.js"></script>
	
	<script>
    	$(document).ready(function(){
			$(".sidebar-toggler").click(function(){
				if($('body').hasClass('show-sidebar')) {
					$('body').removeClass('show-sidebar');
					$('#side-menu').addClass('hidden-xs');
				} else {
					$('body').addClass('show-sidebar');
					$('#side-menu').removeClass('hidden-xs');
				}
			});


			setTimeout(function(){
				  $('.message-wrapper').each(function(){
				   $(this).addClass('display').addClass($(this).data('type'));
				  });
				 },600);
				 
			 $('.message-wrapper .close').click(function(){
			  $('.message-wrapper').removeClass('display').removeClass('fail').removeClass('success').removeClass('alert').removeClass('generic').removeClass('warning');
			 });

				 
		});
    </script>

	<script>
		$(document).ready(function(){
			$('body').tooltip({
			    selector: '[data-toggle="tooltip"]'
			});
		});
	</script>
	<script type="text/javascript" src="acontent/js/third-parties/select2.full.min.js"></script>
	<script src="https://cdn.highlow.net/admin/js/jquery.cookie.js"></script>
	<script src="https://cdn.highlow.net/admin/js/moment.min.js"></script>
	<script src="acontent/js/third-parties.min.js"></script>
	<script src="acontent/js/custom-plugin/upload-cropper.js"></script>
	<script type="text/javascript" src="acontent/js/custom-plugin/selectboxit.js"></script>
	<script type="text/javascript" src="acontent/js/custom-plugin/table.js"></script>
	<script type="text/javascript" src="acontent/js/custom-plugin/toggler.js"></script>
	<script type="text/javascript" src="acontent/js/custom-plugin/typeSelect.js"></script>
	<script type="text/javascript" src="acontent/js/custom-plugin/form-ajax.js"></script>
	<script type="text/javascript" src="acontent/js/custom-plugin/form-ajax.commission-history-filter-form.js"></script>
	<script type="text/javascript" src="acontent/js/custom-plugin/commission-history-table.quick-filter.js"></script>
	<script type="text/javascript" src="acontent/js/ui-demo/commission-history.js"></script>

{% endblock %}