{% extends base %}

{% block title %}
	Conversions
{% endblock %}

{% block bodyClass %}
{% endblock %}

{% block content %}

{% include header %}

{% assign conversions='active' %}

{% assign reporting='active' %}

{% include side-menu %}

{% assign conversions='active' %}

{% assign reporting='active' %}

<div class="main-content">
	<div class="wrapper clearfix">
		<div class="clearfix">
		</div>
		<div class="page-heading clearfix">
			<div class="pull-left">
				<h3>
					Conversions
				</h3>
			</div>
		</div>
		<div class="container">
			<h3 class="page-sub-heading">Details of your conversions</h3>

			<div class="row">

				
			</div>
		</div>

	</div>
</div>

{% endblock %}

{% block script %}

<script>
	$(document).ready(function(){
		$(".sidebar-toggler").click(function(){
			if($('body').hasClass('show-sidebar')) {
				$('body').removeClass('show-sidebar');
				$('#side-menu').addClass('hidden-xs');
			} else {
				$('body').addClass('show-sidebar');
				$('#side-menu').removeClass('hidden-xs');
			}
		});


		setTimeout(function(){
			$('.message-wrapper').each(function(){
				$(this).addClass('display').addClass($(this).data('type'));
			});
		},600);

		$('.message-wrapper .close').click(function(){
			$('.message-wrapper').removeClass('display').removeClass('fail').removeClass('success').removeClass('alert').removeClass('generic').removeClass('warning');
		});


	});
</script>

<script type="text/javascript" src="https://cdn.highlow.net/acontent/js/jquery.zclip.min.js"></script>

{% endblock %}