{% extends base %}

{% block title %}
	Profile | Settings
{% endblock %}

{% block bodyClass %}
{% endblock %}

{% block content %}

{% include header %}

{% assign settings='active' %}

{% assign settingsProfile='active' %}

{% include side-menu %}

{% assign settings='active' %}

{% assign settingsProfile='active' %}

<div class="main-content settings">
	<div class="wrapper clearfix">
		<div class="clearfix">
		</div>
		<div class="page-heading clearfix">
			<div class="pull-left">
				<h3>
					ACCOUNT SETTINGS
				</h3>
			</div>
		</div>
		<div class="container">
			<h3 class="page-sub-heading">Change your account information, your bank details, your log-in credentials and add/remove websites</h3>
			<br/>
			<br/>					
			<div class="p-css-table side-tab-view">
				<div class="p-css-table-row">
					<div class="p-css-table-cell side-tab-view--side-tab">
						{% include settings-tabs %}
						{% assign settingsProfile='active' %}
					</div>
					<div class="p-css-table-cell side-tab-view--main-view">
						<div class="profile--avatar">
							<div class="profile--avatar--preview">
								<img src="acontent/images/avatar-1.png"/>
							</div>
							<div class="profile--avatar--instruction">
								Select or upload your avatar
							</div>
							<a class="profile--avatar--change-btn btn btn-grey btn-extruded" href="#update-avatar-modal" data-toggle="modal">
								CHOOSE AVATAR
							</a>
						</div>
						<form class="form-ajax form read-only" id="profile-settings-form">
							<div class="form-group">
								<label>
								First name
								</label>
								<input class="form-control" type="text" value="Jon"/>
							</div>
							<div class="form-group">
								<label>
								Last name
								</label>
								<input class="form-control" type="text" value="Viner"/>
							</div>
							<div class="form-group">
								<label>
								Affiliate ID
								</label>
								<input class="form-control" type="text" value="4235e24c" disabled="disabled"/>
							</div>
							<div class="form-group">
								<label>
								Email
								</label>
								<input class="form-control" type="email" value="binaries@clickmedia.eu"/>
							</div>
							<div class="form-group">
								<label>
								Phone number
								</label>
								<input class="form-control" type="text" value="0452177891"/>
							</div>
							<div class="form-group">
								<label>
								Company name
								</label>
								<input class="form-control" type="text" value="Click Media Europe SL"/>
							</div>
							<br/>
							<div class="pull-right submit-btn btn-alternate btn btn-extruded toggler" id="profile-settings-edit" data-toggle-target="#profile-settings-form" data-toggle-class="read-only">
								UPDATE
							</div>
							<button id="profile-settings-save" class="pull-right submit-btn btn-alternate btn btn-extruded toggler" data-toggle-target="#profile-settings-form" data-toggle-class="read-only">
								SAVE
							</button>
						</form>
					</div>
				</div>
			</div>
			<br/>
		</div>
	</div>
</div>

{% endblock %}

{% block defaultScripts %}
    <script src="acontent/js/jquery-1.11.1.min.js"></script>
	<script src="https://cdn.highlow.net/admin/js/ui/jquery-ui-1.9.2.custom.js"></script>    	
	<script src="https://cdn.highlow.net/admin/js/ui/jquery-ui-timepicker.js"></script>
	
	<script src="https://cdn.highlow.net/common/js/jquery.validate.min.js"></script>
	<script src="https://cdn.highlow.net/common/js/additional-methods.min.js"></script>
	<script src="https://cdn.highlow.net/acontent/js/custom.js"></script>
	<script src="https://cdn.highlow.net/acontent/js/datepicker.loader.js"></script>
	<script src="https://cdn.highlow.net/admin/js/daterangepicker.js"></script>
	<script src="acontent/js/highlow-affiliate.js"></script>
	
	<script>
    	$(document).ready(function(){
			$(".sidebar-toggler").click(function(){
				if($('body').hasClass('show-sidebar')) {
					$('body').removeClass('show-sidebar');
					$('#side-menu').addClass('hidden-xs');
				} else {
					$('body').addClass('show-sidebar');
					$('#side-menu').removeClass('hidden-xs');
				}
			});


			setTimeout(function(){
				  $('.message-wrapper').each(function(){
				   $(this).addClass('display').addClass($(this).data('type'));
				  });
				 },600);
				 
			 $('.message-wrapper .close').click(function(){
			  $('.message-wrapper').removeClass('display').removeClass('fail').removeClass('success').removeClass('alert').removeClass('generic').removeClass('warning');
			 });

				 
		});
    </script>

	<script>
		$(document).ready(function(){
			$('body').tooltip({
			    selector: '[data-toggle="tooltip"]'
			});
		});
	</script>
	<script type="text/javascript" src="acontent/js/third-parties/select2.full.min.js"></script>
	<script src="https://cdn.highlow.net/admin/js/jquery.cookie.js"></script>
	<script src="https://cdn.highlow.net/admin/js/moment.min.js"></script>
	<script src="acontent/js/third-parties.min.js"></script>
	<script type="text/javascript" src="acontent/js/custom-plugin/upload-cropper.js"></script>
	<script type="text/javascript" src="acontent/js/custom-plugin/file-uploader.js"></script>
	<script type="text/javascript" src="acontent/js/custom-plugin/file-uploader.invoice.js"></script>
	<script type="text/javascript" src="acontent/js/custom-plugin/selectboxit.js"></script>
	<script type="text/javascript" src="acontent/js/custom-plugin/table.js"></script>
	<script type="text/javascript" src="acontent/js/custom-plugin/toggler.js"></script>
	<script type="text/javascript" src="acontent/js/custom-plugin/typeSelect.js"></script>
	<script type="text/javascript" src="acontent/js/custom-plugin/form-ajax.js"></script>

{% endblock %}