{% extends base %}


{% block bodyClass %}
{% endblock %}

{% block content %}

{% include header %}

{% assign promotion='active' %}

{% include side-menu %}

{% assign promotion='active' %}

<div class="main-content">
	<div class="wrapper clearfix">
		<div class="clearfix">
		</div>
		<div class="page-heading clearfix">
			<div class="pull-left">
				<button type="button" class="sidebar-toggler navbar-toggle visible-xs">
					<span class="sr-only"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="pull-left">
				<h3>
					Australian Affiliates Campaign 2		            
				</h3>
			</div>
			<div class="pull-right">
				<div class="page-actions">
					<ul>
						<li><a class="affiliate-btn affiliate-btn-default" href="#"><i class="fa fa-chevron-left"></i> Back to List</a></li>		
					</ul>
				</div>
			</div>
		</div>
		<div class="container">
			<h3></h3>
			<div class="row">
				<div class="col-lg-12">
					<p>Default Promotion URL : <a href="#">https://en2.highlow.net/account?a_aid=568d490aad773&amp;a_cid=757a25f1</a> </p>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<table class="table table-striped">
						<tbody>
							<tr>
								<td><strong>Promotion Name</strong></td>
								<td>Australian Affiliates Campaign 2</td>
							</tr>
							<tr>
								<td><strong>Promotion Code</strong></td>
								<td>757a25f1</td>
							</tr>
						</tbody>
					</table>			
				</div>
				<div class="col-lg-6">
					<table class="table table-striped">
						<tbody>   
							<tr>
								<td width="25%"><strong>Commission Details</strong></td>
								<td>       
									1 - 10 Accounts <b>AU$300.00</b>
									<br/>
									11 - 100 Accounts <b>AU$350.00</b>
									<br/>
									&gt;=101 Accounts <b>AU$400.00</b>
									<br/>
								</td>
							</tr>
						</tbody>
					</table>			
				</div>
			</div>	

			<div class="row">
				<h3></h3>
				<div class="col-lg-12">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li class="active"><a href="#banners" role="tab" data-toggle="tab">Banners</a></li>
						<li><a href="#directLink" role="tab" data-toggle="tab">Direct Links</a></li>			  
					</ul>

					<!-- Tab panes -->
					<div class="tab-content">
						<div class="tab-pane active" id="banners">
							<form>
								<div class="clearfix banners--search-options">
									<form>
										<div class="banners--search">
											<label for="banners-search-input">Search</label>
											&nbsp;
											&nbsp;
											<input id="banners-search-input" type="text" class="form-control"/>
										</div>
										<div class="banners--sort">
											<label>Sort by</label>
											<div class="banners--sort--options">
												<div class="banners--sort--option">
													<label>
														<input type="checkbox" name="sort" value="size"/>
														Size
													</label>
													<select>
														<option value="asc">ASC</option>
														<option value="asc">DEC</option>
													</select>
												</div>
												<div class="banners--sort--option">
													<label>
														<input type="checkbox" name="sort" value="name"/>
														Name
													</label>
													<select>
														<option value="asc">ASC</option>
														<option value="asc">DEC</option>
													</select>
												</div>
												<div class="banners--sort--option">
													<div class="btn clear">
														Clear
													</div>
												</div>
											</div>
										</div>
									</form>
									<br/>
								</div>
								<div class="banners--panel clearfix">
									<div class="col-md-3 banners--filters">
										<div class="header-block-2">
											FILTERS
										</div>
										<div class="banners--filter-list">
											<div class="banners--filter">
												<label for="language-filter-toggle">
													<input id="language-filter-toggle" type="checkbox" class="banners--filter--toggle">
													&nbsp;&nbsp;By language
												</label>
												<div class="banners-filter-option">
													<label>
														<input type="checkbox" class="check-all" name="language[]" value="all"/>
														All
													</label>
													<label>
														<input type="checkbox" name="language[]" value="jp"/>
														Japanese
													</label>
													<label>
														<input type="checkbox" name="language[]" value="eng"/>
														English
													</label>
													<label>
														<input type="checkbox" name="language[]" value="uni"/>
														Universal
													</label>
												</div>
											</div>
											<div class="banners--filter">
												<label for="banner-type-filter-toggle">
													<input id="banner-type-filter-toggle" type="checkbox" class="banners--filter--toggle">
													&nbsp;&nbsp;By banner type
												</label>
												<div class="banners-filter-option">
													<label>
														<input type="checkbox" class="check-all" name="type[]" value="all"/>
														All
													</label>
													<label>
														<input type="checkbox" name="type[]" value="animated"/>
														Animated
													</label>
													<label>
														<input type="checkbox" name="type[]" value="static"/>
														Static
													</label>
												</div>
											</div>
											<div class="banners--filter">
												<label for="banner-extension-filter-toggle">
													<input id="banner-extension-filter-toggle" type="checkbox" class="banners--filter--toggle">
													&nbsp;&nbsp;By file extension
												</label>
												<div class="banners-filter-option">
													<label>
														<input type="checkbox" class="check-all" name="extension[]" value="all"/>
														All
													</label>
													<label>
														<input type="checkbox" name="extension[]" value="html5"/>
														HTML5
													</label>
													<label>
														<input type="checkbox" name="extension[]" value="gif"/>
														.gif
													</label>
													<label>
														<input type="checkbox" name="extension[]" value="png"/>
														.png
													</label>
													<label>
														<input type="checkbox" name="extension[]" value="jpg"/>
														.jpg
													</label>
												</div>
											</div>
											<div class="banners--filter">
												<label for="banner-size-filter-toggle">
													<input id="banner-size-filter-toggle" type="checkbox" class="banners--filter--toggle">
													&nbsp;&nbsp;By size
												</label>
												<div class="banners-filter-option">
													<label>
														<input type="checkbox" class="check-all" name="size[]" value="all"/>
														All
													</label>
													<label>
														<input type="checkbox" name="size[]" value="120x240"/>
														120x240
													</label>
													<label>
														<input type="checkbox" name="size[]" value="120x90"/>
														120x90
													</label>
													<label>
														<input type="checkbox" name="size[]" value="120x60"/>
														120x60
													</label>
													<label>
														<input type="checkbox" name="size[]" value="120x600"/>
														120x600
													</label>
													<label>
														<input type="checkbox" name="size[]" value="125x125"/>
														125x125
													</label>
													<label>
														<input type="checkbox" name="size[]" value="160x600"/>
														160x600
													</label>
													<label>
														<input type="checkbox" name="size[]" value="234x60"/>
														234x60
													</label>
													<label>
														<input type="checkbox" name="size[]" value="300x250"/>300x250
													</label>
													<label>
														<input type="checkbox" name="size[]" value="320x50"/>320x50
													</label>
													<label>
														<input type="checkbox" name="size[]" value="468x60"/>468x60
													</label>
													<label>
														<input type="checkbox" name="size[]" value="500x147"/>500x147
													</label>
													<label>
														<input type="checkbox" name="size[]" value="728x90"/>728x90
													</label>
												</div>
											</div>
											<div class="banners--filter">
												<label for="banner-concept-filter-toggle">
													<input id="banner-concept-filter-toggle" type="checkbox" class="banners--filter--toggle">
													&nbsp;&nbsp;By concept
												</label>
												<div class="banners-filter-option">
													<label>
														<input type="checkbox" class="check-all" name="extension[]" value="all"/>All
													</label>
													<label>
														<input type="checkbox" name="extension[]" value="logo"/>Logo/Brand
													</label>
													<label>
														<input type="checkbox" name="extension[]" value="cashback"/>Signup Cashback
													</label>
													<label>
														<input type="checkbox" name="extension[]" value="traders"/>Traders
													</label>
													<label>
														<input type="checkbox" name="extension[]" value="etc"/>etc.
													</label>
												</div>
											</div>
											<div class="banners--filter--apply">
												<button class="banners--filter--apply-btn btn btn-alternate btn btn-extruded pull-left"><i class="fa fa-filter"></i>&nbsp;&nbsp;APPLY FILTER</button>
											</div>
										</div>
									</div>
									<div class="col-md-9 banners--list">
										<div class="header-block-1">
											Currently viewing 6 of 76 banners:
										</div>
										<div class="banner--item"

											data-name="300x250 Market related"
											data-format="(html5/png fallback)"
											data-campaign-name="Australian affiliates campaign 2"
											data-target="https://en2.highlow.net/account"
											data-code='<a href="http://www.google.com?a_aid=55b5cf4903c24&amp;a_cid=55b2298372b7f&amp;a_bid=5593b9124eeabSUBCODE" target="_top"><iframe style="width: 300px; height: 250px; border: none; outline: none; display: block;" src="http://point.agency/highlow/banners/market-related/mrec/banner.html"></iframe></a>'
											data-width="300"
											data-height="250"
										>
											<div class="p-css-table banner--item-content">
												<div class="p-css-table-row">
													<div class="p-css-table-cell banner--preview-container">
														<div class="banner--preview banner--viewable banner--playable banner--view-code">
															<a title="preview this banner" class="banner--viewable--cover">
																<div class="banner--viewable--screenshot" style="background-image: url(acontent/images/banner1-asx-mRec-preview.png);"></div>
															</a>
														</div>
													</div>
													<div class="banner--details banner-code-div">
														<h4 class="banner--details--banner-name">
															<strong>300x250 Market related</strong> 
															<span class="word banner--details--banner-format">
																(html5/png fallback)
															</span>
														</h4>
														<div class="banner--details--campaign-name">
															Australian affiliates campaign 2
														</div>
														<div class="banner--details--target-link">	
															https://en2.highlow.net/account
														</div>
														<button type="button" class="banner--details--get-code-btn btn-alternate btn btn-extruded banner--view-code">
															<img src="acontent/images/hl-icon-white.png"/>&nbsp;&nbsp;&nbsp;GET CODE
														</button>
													</div>
												</div>
											</div>
										</div>
										<div class="banner--item"

											data-name="728x90 Market related"
											data-format="(html5/png fallback)"
											data-campaign-name="Australian affiliates campaign 2"
											data-target="https://en2.highlow.net/account"
											data-code='<a href="http://www.google.com?a_aid=55b5cf4903c24&amp;a_cid=55b2298372b7f&amp;a_bid=5593b9124eeabSUBCODE" target="_top"><iframe style="width: 728px; height: 90px; border: none; outline: none; display: block;" src="http://point.agency/highlow/banners/market-related/leaderboard/banner.html"></iframe></a>'
											data-width="728"
											data-height="90"
										>
											<div class="p-css-table banner--item-content">
												<div class="p-css-table-row">
													<div class="p-css-table-cell banner--preview-container">
														<div class="banner--preview banner--viewable banner--playable banner--view-code">
															<a title="preview this banner" class="banner--viewable--cover">
																<div class="banner--viewable--screenshot" style="background-image: url(acontent/images/banner1-asx-leaderboard-preview.png);"></div>
															</a>
														</div>
													</div>
													<div class="banner--details banner-code-div">
														<h4 class="banner--details--banner-name">
															<strong>728x90 Market related</strong> 
															<span class="word banner--details--banner-format">
																(html5/png fallback)
															</span>
														</h4>
														<div class="banner--details--campaign-name">
															Australian affiliates campaign 2
														</div>
														<div class="banner--details--target-link">	
															https://en2.highlow.net/account
														</div>
														<button type="button" class="banner--details--get-code-btn btn-alternate btn btn-extruded banner--view-code">
															<img src="acontent/images/hl-icon-white.png"/>&nbsp;&nbsp;&nbsp;GET CODE
														</button>
													</div>
												</div>
											</div>
										</div>
										<div class="banner--item"

											data-name="120x600 Market related"
											data-format="(html5/png fallback)"
											data-campaign-name="Australian affiliates campaign 2"
											data-target="https://en2.highlow.net/account"
											data-code='<a href="http://www.google.com?a_aid=55b5cf4903c24&amp;a_cid=55b2298372b7f&amp;a_bid=5593b9124eeabSUBCODE" target="_top"><iframe style="width: 120px; height: 600px; border: none; outline: none; display: block;" src="http://point.agency/highlow/banners/market-related/skyscrapper/banner.html"></iframe></a>'
											data-width="120"
											data-height="600"
										>
											<div class="p-css-table banner--item-content">
												<div class="p-css-table-row">
													<div class="p-css-table-cell banner--preview-container">
														<div class="banner--preview banner--viewable banner--playable banner--view-code">
															<a title="preview this banner" class="banner--viewable--cover">
																<div class="banner--viewable--screenshot" style="background-image: url(acontent/images/banner1-asx-skyscraper-preview.png);"></div>
															</a>
														</div>
													</div>
													<div class="banner--details banner-code-div">
														<h4 class="banner--details--banner-name">
															<strong>120x600 Market related</strong> 
															<span class="word banner--details--banner-format">
																(html5/png fallback)
															</span>
														</h4>
														<div class="banner--details--campaign-name">
															Australian affiliates campaign 2
														</div>
														<div class="banner--details--target-link">	
															https://en2.highlow.net/account
														</div>
														<button type="button" class="banner--details--get-code-btn btn-alternate btn btn-extruded banner--view-code">
															<img src="acontent/images/hl-icon-white.png"/>&nbsp;&nbsp;&nbsp;GET CODE
														</button>
													</div>
												</div>
											</div>
										</div>
										<div class="banner--item"

											data-name="320x50 Market related"
											data-format="(html5/png fallback)"
											data-campaign-name="Australian affiliates campaign 2"
											data-target="https://en2.highlow.net/account"
											data-code='<a href="http://www.google.com?a_aid=55b5cf4903c24&amp;a_cid=55b2298372b7f&amp;a_bid=5593b9124eeabSUBCODE" target="_top"><iframe style="width: 320px; height: 50px; border: none; outline: none; display: block;" src="http://point.agency/highlow/banners/market-related/mobile/banner.html"></iframe></a>'
											data-width="320"
											data-height="50"
										>
											<div class="p-css-table banner--item-content">
												<div class="p-css-table-row">
													<div class="p-css-table-cell banner--preview-container">
														<div class="banner--preview banner--viewable banner--playable banner--view-code">
															<a title="preview this banner" class="banner--viewable--cover">
																<div class="banner--viewable--screenshot" style="background-image: url(acontent/images/banner1-asx-mobile-preview.png);"></div>
															</a>
														</div>
													</div>
													<div class="banner--details banner-code-div">
														<h4 class="banner--details--banner-name">
															<strong>320x50 Market related</strong> 
															<span class="word banner--details--banner-format">
																(html5/png fallback)
															</span>
														</h4>
														<div class="banner--details--campaign-name">
															Australian affiliates campaign 2
														</div>
														<div class="banner--details--target-link">	
															https://en2.highlow.net/account
														</div>
														<button type="button" class="banner--details--get-code-btn btn-alternate btn btn-extruded banner--view-code">
															<img src="acontent/images/hl-icon-white.png"/>&nbsp;&nbsp;&nbsp;GET CODE
														</button>
													</div>
												</div>
											</div>
										</div>
										<div class="banner--item"

											data-name="468x60 DAX banner"
											data-format="(html5/png fallback)"
											data-campaign-name="Australian affiliates campaign 2"
											data-target="https://en2.highlow.net/account"
											data-code='<a href="http://www.google.com?a_aid=55b5cf4903c24&amp;a_cid=55b2298372b7f&amp;a_bid=5593b9124eeabSUBCODE" target="_top"><iframe style="width: 468px; height: 60px; border: none; outline: none; display: block;" src="http://point.agency/highlow/banners/market-related/banner-dax/banner.html"></iframe></a>'
											data-width="468"
											data-height="60"
										>
											<div class="p-css-table banner--item-content">
												<div class="p-css-table-row">
													<div class="p-css-table-cell banner--preview-container">
														<div class="banner--preview banner--viewable banner--playable banner--view-code">
															<a title="preview this banner" class="banner--viewable--cover">
																<div class="banner--viewable--screenshot" style="background-image: url(acontent/images/banner1-dax-banner-preview.png);"></div>
															</a>
														</div>
													</div>
													<div class="banner--details banner-code-div">
														<h4 class="banner--details--banner-name">
															<strong>468x60 DAX banner</strong> 
															<span class="word banner--details--banner-format">
																(html5/png fallback)
															</span>
														</h4>
														<div class="banner--details--campaign-name">
															Australian affiliates campaign 2
														</div>
														<div class="banner--details--target-link">	
															https://en2.highlow.net/account
														</div>
														<button type="button" class="banner--details--get-code-btn btn-alternate btn btn-extruded banner--view-code">
															<img src="acontent/images/hl-icon-white.png"/>&nbsp;&nbsp;&nbsp;GET CODE
														</button>
													</div>
												</div>
											</div>
										</div>
										<div class="banner--item"

											data-name="728x90 Sample image Campaign"
											data-format="(html5/png fallback)"
											data-campaign-name="Australian affiliates campaign 2"
											data-target="https://jp2.highlow.net/account"
											data-code='<a href="https://jp2.highlow.net/account?a_aid=568d490aad773&amp;a_cid=757a25f1&amp;a_bid=a7fbd113SUBCODE" target="_top"><img src="https://highlow-affiliate-banner.s3-ap-northeast-1.amazonaws.com/5472927e4c164.gif" alt="1口１０００円からのバイナリーオプション一銭の値動きで利益が出る。お得なキャンペーン実施中！" title="1口１０００円からのバイナリーオプション一銭の値動きで利益が出る。お得なキャンペーン実施中！" /></a>'
											data-width="728"
											data-height="90"
										>
											<div class="p-css-table banner--item-content">
												<div class="p-css-table-row">
													<div class="p-css-table-cell banner--preview-container">
														<div class="banner--preview banner--viewable banner--view-code">
															<a title="preview this banner" class="banner--viewable--cover">
																<div class="banner--viewable--screenshot" style="background-image: url(https://highlow-affiliate-banner.s3-ap-northeast-1.amazonaws.com/5472927e4c164.gif);"></div>
															</a>
														</div>
													</div>
													<div class="banner--details banner-code-div">
														<h4 class="banner--details--banner-name">
															<strong>728x90 Sample image Campaign</strong> 
															<span class="word banner--details--banner-format">
																(gif)
															</span>
														</h4>
														<div class="banner--details--campaign-name">
															Australian affiliates campaign 2
														</div>
														<div class="banner--details--target-link">	
															https://jp2.highlow.net/account
														</div>
														<button type="button" class="banner--details--get-code-btn btn-alternate btn btn-extruded banner--view-code">
															<img src="acontent/images/hl-icon-white.png"/>&nbsp;&nbsp;&nbsp;GET CODE
														</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>	
								<div class="banners--pagination">
									<ul class="pagination">
										<li class="disabled">
											<span>
												<img src="acontent/images/left-v.png"/><!--
												--><img src="acontent/images/left-v.png"/>
											</span>
										</li><!--
										--><li class="disabled">
											<span>
												<img src="acontent/images/left-v.png"/>
											</span>
										</li><!--
										--><li class="active">
											<span>1</span>
										</li><!--
										--><li>
											<a href="/en/my-account/5402f0f8ce0670930e7b23d3/view-promotion?page=2">2</a>
										</li><!--
										--><li>
											<a href="/en/my-account/5402f0f8ce0670930e7b23d3/view-promotion?page=3">3</a>
										</li><!--
										--><li>
											<a href="/en/my-account/5402f0f8ce0670930e7b23d3/view-promotion?page=4">4</a>
										</li><!--
										--><li>
											<a href="/en/my-account/5402f0f8ce0670930e7b23d3/view-promotion?page=5">5</a>
										</li><!--
										--><li class="disabled">
											<span>&hellip;</span>
										</li><!--
										--><li>
											<a href="/en/my-account/5402f0f8ce0670930e7b23d3/view-promotion?page=8">8</a>
										</li><!--
										--><li>
											<a href="/en/my-account/5402f0f8ce0670930e7b23d3/view-promotion?page=2">
												<img src="acontent/images/right-v.png"/>
											</a>
										</li><!--
										--><li>
											<a href="/en/my-account/5402f0f8ce0670930e7b23d3/view-promotion?page=8">
												<img src="acontent/images/right-v.png"/><!--
												--><img src="acontent/images/right-v.png"/>
											</a>
										</li>
									</ul>
								</div>  
							</form>
						</div>
						<div class="tab-pane" id="directLink">
							<br/>
							<div class="panel panel-default listing">	
								<b>No Direct Link found for this promotion</b>
							</div> 		
						</div>			 
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

<div class="modal fade" id="get-code-modal" tabindex="-1" role="dialog">
	<div class="p-css-table__fill p-css-table">
		<div class="p-css-table-row">
			<div class="p-css-table-cell p-css-table-cell__center">
				<div class="modal-dialog">
					<div class="modal-content">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<div class="modal-body">
							<div id="get-code-modal--layout">
								<div class="p-css-table">
									<div class="p-css-table-row">
										<div id="get-code-modal--banner-preview" class="p-css-table-cell">
											
										</div>
										<div class="p-css-table-cell get-code-modal--banner-details">
											<div class="get-code-modal--banner-details--header">
												<strong id="get-code-modal--banner-details--name"></strong> <span class="word" id="get-code-modal--banner-details--format"></span>
											</div>
											<p>
												Paste the below code into your website. It contains your personal Affiliate ID and all conversions will be tracked automatically.
											</p>
											<br/>
											<br/>
											<textarea class="banner-code-holder" id="get-code-modal--banner-details--code" readonly="readonly">
				<a href="http://www.google.com?a_aid=55b5cf4903c24&amp;a_cid=55b2298372b7f&amp;a_bid=5593b9124eeab" target="_top"><iframe style="width: 300px; height: 250px; border: none; outline: none; display: block;" src="http://point.agency/highlow/banners/market-related/mrec/banner.html"></iframe></a>
											</textarea>
											<a class="get-code-modal--banner-details--add-custom-code bannerOption" href="#"><i class="fa fa-plus"></i> &nbsp;Add your own code</a>
											<div class="subCodeDiv" style="display: none;">
												<input type="text" name="subCodeText" class="form-control subCodeText" placeholder="Sub Code" value="">
												<br/>
												<br/>
												<button type="button" class="btn-alternate btn btn-extruded applySubCode" data-target="#get-code-modal--banner-details--code">APPLY</button>
											</div>					
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="https://cdn.highlow.net/admin/js/jquery-1.8.3.js"></script>
<script src="https://cdn.highlow.net/admin/js/ui/jquery-ui-1.9.2.custom.js"></script>    	
<script src="https://cdn.highlow.net/admin/js/ui/jquery-ui-timepicker.js"></script>
<script src="https://cdn.highlow.net/admin/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.highlow.net/common/js/jquery.validate.min.js"></script>
<script src="https://cdn.highlow.net/common/js/additional-methods.min.js"></script>
<script src="acontent/js/custom.js"></script>
<script src="acontent/js/datepicker.loader.js"></script>
<script src="https://cdn.highlow.net/admin/js/daterangepicker.js"></script>
<script src="acontent/js/highlow-affiliate.js"></script>

<script>
	$(document).ready(function(){
		$(".sidebar-toggler").click(function(){
			if($('body').hasClass('show-sidebar')) {
				$('body').removeClass('show-sidebar');
				$('#side-menu').addClass('hidden-xs');
			} else {
				$('body').addClass('show-sidebar');
				$('#side-menu').removeClass('hidden-xs');
			}
		});


		setTimeout(function(){
			$('.message-wrapper').each(function(){
				$(this).addClass('display').addClass($(this).data('type'));
			});
		},600);

		$('.message-wrapper .close').click(function(){
			$('.message-wrapper').removeClass('display').removeClass('fail').removeClass('success').removeClass('alert').removeClass('generic').removeClass('warning');
		});


	});
</script>

<script type="text/javascript" src="https://cdn.highlow.net/acontent/js/jquery.zclip.min.js"></script>
<script>
	$(document).ready(function(){
		$('a.bannerOption').on('click',function(e){
			e.preventDefault();
			$(this).next('.subCodeDiv').show();
		});

		$('.applySubCode').on('click',function(e){				
			var subCodeText =  $(this).siblings('input.subCodeText').val();			
			var textarea = $($(this).data('target'));
			var textareaPrototype = textarea.data('prototype');
			href = '';
			if(subCodeText != '') {
				href = "&amp;chan="+subCodeText;
			}

			console.log(href);
			textarea.val(textareaPrototype.replace('SUBCODE',href));								
			$(this).parent('div').hide();		
		});

		if (location.hash !== '') {
			$('a[href="' + location.hash + '"]').tab('show');
		} else {
			$('.nav-tabs a:first').tab('show');
		}
		$('a[data-toggle="tab"]').on('shown.bs.tab', function(e) {
			if(history.pushState)
				history.pushState(null, null, '#'+$(e.target).attr('href').substr(1));
			else
				location.hash = '#'+$(e.target).attr('href').substr(1);
		});

		message = '<div class="highlow message-wrapper">'+
		'<div class="message">'+
		'Banner code has been copied to clipboard'+
		'</div>'+
		'<div class="close">'+
		'</div>'+
		'</div>';

		$('.get-code').zclip({
			path:'https://cdn.highlow.net/acontent/js/ZeroClipboard.swf',
			copy: function() {
				content = $(this).closest('.banner-code-div').find('.banner-code-holder').val(); 
				return content;
			},
			afterCopy: function() {
				$('.message-wrapper').remove();
				$(this).closest('.media-body').prepend(message);
				$('.message-wrapper').addClass('success').addClass('display');
				setTimeout(function(){
					$('.message-wrapper').each(function(){
						$(this).removeClass('success').removeClass('display').remove();
					});
				},5000);
			}
		});

		$('.message-wrapper .close').click(function(){
			$('.message-wrapper').removeClass('display').removeClass('fail').removeClass('success').removeClass('alert').removeClass('generic').removeClass('warning');
		});	

		//new banner item code

		$('.banner--view-code').click(function(){
			var $self = $(this),
				$bannerItem = $($self.closest('.banner--item'));

			var bannerName = $bannerItem.data('name'),
				bannerFormat = $bannerItem.data('format'),
				bannerTarget = $bannerItem.data('target'),
				bannerCampaignName = $bannerItem.data('campaignName'),
				bannerCode = $bannerItem.data('code'),
				bannerLayout = $bannerItem.data('width')<=320?'horizontal':'vertical';
			

			$('#get-code-modal--banner-details--name').html(bannerName);
			$('#get-code-modal--banner-details--format').html(bannerFormat);
			$('#get-code-modal--banner-details--code').data('prototype',bannerCode);
			$('#get-code-modal--banner-details--code').val(bannerCode.replace('SUBCODE',''));
			$('#get-code-modal--banner-preview').empty().append($(bannerCode.replace('SUBCODE','')));
			$('#get-code-modal--layout').removeClass().addClass(bannerLayout)
			$('#get-code-modal').modal('show');
		});

		//banner filter code

		$('.banners--filter .banners--filter--toggle').change(function(){
			var $self = $(this),
				$filter = $($self.closest('.banners--filter')),
				$filterOptions = $($filter.find('.banners-filter-option'));
			if($self.is(':checked') == true) {
				$filter.addClass('active');
				$filterOptions.slideDown(125);
			} else {

				$filter.removeClass('active');
				$($filterOptions.find('input[type="checkbox"]')).prop("checked", false);

				$filterOptions.slideUp(125);
			}
		});

		// check if filter already checked

		$('.banners--filter .banners--filter--toggle').each(function(){
			var $self = $(this),
				$filter = $($self.closest('.banners--filter')),
				$filterOptions = $($filter.find('.banners-filter-option'));
			if($self.is(':checked') == true) {
				$filter.addClass('active');
				$filterOptions.slideDown(125);
			} else {

				$filter.removeClass('active');
				$($filterOptions.find('input[type="checkbox"]')).prop("checked", false);

				$filterOptions.slideUp(125);
			}
		});

		// "All" option for filters

		$('.banners--filter .check-all').change(function(){
			var $self = $(this),
				$filter = $($self.closest('.banners--filter')),
				$filterOptions = $($filter.find('.banners-filter-option'));

			if($self.is(':checked') == true) {
				
				$($filterOptions.find('input[type="checkbox"]')).not('.check-all').prop("checked", true);

			} else {
				$($filterOptions.find('input[type="checkbox"]')).not('.check-all').prop("checked", false);
			}
		});

		$('.banners--filter .banners-filter-option input[type="checkbox"]').not('.check-all').change(function(){

			var $self = $(this),
				$filter = $($self.closest('.banners--filter')),
				$filterAll = $($filter.find('.check-all'));


			if($self.is(':checked') == true) {

			} else {
				$filterAll.prop("checked", false);
			}

			
		});

		// banner sort 

		$('.banners--sort label').click(function(){
			var $self = $(this),
				$options = $self.siblings('.banners--sort--options');

			$options.slideToggle(125);
		});

		$('.banners--sort--options .clear').click(function(){

			var $self = $(this),
				$options = $self.closest('.banners--sort--options');

			$($options.find('input[type="checkbox"]')).prop("checked", false);
		});

		$('body').click(function(e){

			if($(e.target).closest('.banners--sort').length<=0) {
				$('.banners--sort--options').slideUp(125);
			}
		});

	});
</script>

{% endblock %}