{% extends base %}



{% block bodyClass %}
{% endblock %}

{% block content %}

{% include header %}

{% assign banners='active' %}

{% assign creatives='active' %}

{% include side-menu %}

{% assign banners='active' %}

{% assign creatives='active' %}

<div class="main-content">
	<div class="wrapper clearfix">
		<div class="clearfix">
		</div>
		<div class="page-heading clearfix">
			<div class="pull-left">
				<h3>
					Banners  
				</h3>
			</div>
		</div>
		<div class="container">
			<h3 class="page-sub-heading">Find and use the best creative assets to maximiset lead conversion.</h3>

			<div class="row">
				<h3></h3>
				<div class="col-lg-12">
					<!-- Nav tabs -->
					{% comment %}
					<ul class="nav nav-tabs" role="tablist">
						<li class="active"><a href="#banners" role="tab" data-toggle="tab">Banners</a></li>
						<li><a href="#directLink" role="tab" data-toggle="tab">Direct Links</a></li>		
					</ul>
					{% endcomment %}
					<!-- Tab panes -->
					<div class="tab-content">
						<div class="tab-pane active" id="banners">
							<form>
								<div class="banners--panel clearfix">
									<div class="col-lg-3 banners--filters">
										<div class="header-block-2 banners--filters--panel-header">
											<div class="banners--views--toggles">
												<div class="banners--views--toggle banners--views--grid-toggle toggler" data-toggle-switch='on' data-toggle-target-class="grid" data-toggle-self-off-disabled="true" data-toggle-target=".banners--list" data-toggle-group="banner-list-view-mode">
													<div class="banners--views--toggle--icon--default sprite-icon__grid-grey-sm"></div>
													<div class="banners--views--toggle--icon--active sprite-icon__grid-red-sm"></div>
												</div>
												<div class="banners--views--toggle banners--views--list-toggle active toggler" data-toggle-switch='off' data-toggle-target-class="grid" data-toggle-self-off-disabled="true" data-toggle-target=".banners--list" data-toggle-group="banner-list-view-mode">
													<div class="banners--views--toggle--icon--default sprite-icon__list-grey-sm"></div>
													<div class="banners--views--toggle--icon--active sprite-icon__list-red-sm"></div>
												</div>
											</div>
											<div class="clearfix banners--search-options">
												<div class="banners--search">
													<label for="banners-search-input">Search</label>
													<input id="banners-search-input" type="text" placeholder="Keywords" class="form-control"/>
												</div>
												<div class="banners--sort">
													<label>Sort by</label>
													<div class="banners--sort--options">
														<div class="banners--sort--option">
															<label>
																<input type="checkbox" name="sort-alphabet"/>
																&nbsp;&nbsp;Alphabetically
															</label>
															<select>
																<option value="asc">ASC</option>
																<option value="asc">DEC</option>
															</select>
														</div>
														<div class="banners--sort--option">
															<label>
																<input type="checkbox" name="sort-recent"/>
																&nbsp;&nbsp;Most recent
															</label>
															<select>
																<option value="asc">ASC</option>
																<option value="asc">DEC</option>
															</select>
														</div>
														<div class="banners--sort--option">
															<label>
																<input type="checkbox" name="sort-type"/>
																&nbsp;&nbsp;File type
															</label>
															<select>
																<option value="asc">ASC</option>
																<option value="asc">DEC</option>
															</select>
														</div>
														<div class="banners--sort--option clearfix">
															<button class="banners--sort--apply-btn btn btn-alternate btn btn-extruded pull-left">
																<i class="fa fa-check"></i>&nbsp;&nbsp;SORT
															</button>
															<div class="btn clear pull-right">
																CLEAR
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="banners--filter-list">
											<div class="banners--filter-list--title toggler" data-toggle-target=".banners--filter-container" data-toggle-class="active">
												FILTER
											</div>
											<div class="clearfix banners--filter-container">
												<div class="banners--filter--group">
													<div class="banners--filter">
														<label for="language-filter-toggle">
															<input id="language-filter-toggle" type="checkbox" class="banners--filter--toggle" checked>
															&nbsp;&nbsp;By language
														</label>
														<div class="banners-filter-option" style="display: block;">
															<label>
																<input type="checkbox" class="check-all" name="language[]" value="all"/>
																All
															</label>
															<label>
																<input type="checkbox" name="language[]" value="jp"/>
																Japanese
															</label>
															<label>
																<input type="checkbox" checked name="language[]" value="eng"/>
																English
															</label>
															<label>
																<input type="checkbox" name="language[]" value="uni"/>
																Generic
															</label>
														</div>
													</div>
													<div class="banners--filter">
														<label for="banner-type-filter-toggle">
															<input id="banner-type-filter-toggle" type="checkbox" class="banners--filter--toggle">
															&nbsp;&nbsp;By banner type
														</label>
														<div class="banners-filter-option">
															<label>
																<input type="checkbox" class="check-all" name="type[]" value="all"/>
																All
															</label>
															<label>
																<input type="checkbox" name="type[]" value="animated"/>
																Animated
															</label>
															<label>
																<input type="checkbox" name="type[]" value="static"/>
																Static
															</label>
														</div>
													</div>
													<div class="banners--filter">
														<label for="banner-size-filter-toggle">
															<input id="banner-size-filter-toggle" type="checkbox" class="banners--filter--toggle">
															&nbsp;&nbsp;By size
														</label>
														<div class="banners-filter-option">
															<label>
																<input type="checkbox" class="check-all" name="size[]" value="all"/>
																All
															</label>
															<label>
																<input type="checkbox" name="size[]" value="120x240"/>
																120x240
															</label>
															<label>
																<input type="checkbox" name="size[]" value="120x90"/>
																120x90
															</label>
															<label>
																<input type="checkbox" name="size[]" value="120x60"/>
																120x60
															</label>
															<label>
																<input type="checkbox" name="size[]" value="120x600"/>
																120x600
															</label>
															<label>
																<input type="checkbox" name="size[]" value="125x125"/>
																125x125
															</label>
															<label>
																<input type="checkbox" name="size[]" value="160x600"/>
																160x600
															</label>
															<label>
																<input type="checkbox" name="size[]" value="234x60"/>
																234x60
															</label>
															<label>
																<input type="checkbox" name="size[]" value="300x250"/>300x250
															</label>
															<label>
																<input type="checkbox" name="size[]" value="320x50"/>320x50
															</label>
															<label>
																<input type="checkbox" name="size[]" value="468x60"/>468x60
															</label>
															<label>
																<input type="checkbox" name="size[]" value="500x147"/>500x147
															</label>
															<label>
																<input type="checkbox" name="size[]" value="728x90"/>728x90
															</label>
														</div>
													</div>
													<div class="banners--filter">
														<label for="banner-orientation-filter-toggle">
															<input id="banner-orientation-filter-toggle" type="checkbox" class="banners--filter--toggle">
															&nbsp;&nbsp;By orientation
														</label>
														<div class="banners-filter-option">
															<label>
																<input type="checkbox" class="check-all" name="orientation[]" value="all"/>
																All
															</label>
															<label>
																<input type="checkbox" name="orientation[]" value="square"/>
																Square
															</label>
															<label>
																<input type="checkbox" name="orientation[]" value="Landscape"/>
																Landscape
															</label>
															<label>
																<input type="checkbox" name="orientation[]" value="portrait"/>
																Portrait
															</label>
														</div>
													</div>
												</div>
												<div class="banners--filter--group">
													<div class="banners--filter">
														<label for="banner-extension-filter-toggle">
															<input id="banner-extension-filter-toggle" type="checkbox" class="banners--filter--toggle">
															&nbsp;&nbsp;By file type
														</label>
														<div class="banners-filter-option">
															<label>
																<input type="checkbox" class="check-all" name="extension[]" value="all"/>
																All
															</label>
															<label>
																<input type="checkbox" name="extension[]" value="html5"/>
																HTML5
															</label>
															<label>
																<input type="checkbox" name="extension[]" value="gif"/>
																.gif
															</label>
															<label>
																<input type="checkbox" name="extension[]" value="png"/>
																.png
															</label>
															<label>
																<input type="checkbox" name="extension[]" value="jpg"/>
																.jpg
															</label>
														</div>
													</div>
													<div class="banners--filter">
														<label for="banner-concept-filter-toggle">
															<input id="banner-concept-filter-toggle" type="checkbox" class="banners--filter--toggle">
															&nbsp;&nbsp;By concept
														</label>
														<div class="banners-filter-option">
															<label>
																<input type="checkbox" class="check-all" name="extension[]" value="all"/>All
															</label>
															<label>
																<input type="checkbox" name="extension[]" value="logo"/>Logo/Brand
															</label>
															<label>
																<input type="checkbox" name="extension[]" value="cashback"/>Signup Cashback
															</label>
															<label>
																<input type="checkbox" name="extension[]" value="traders"/>Traders
															</label>
															<label>
																<input type="checkbox" name="extension[]" value="etc"/>etc.
															</label>
														</div>
													</div>
													<div class="banners--filter">
														<label for="banner-currency-filter-toggle">
															<input id="banner-currency-filter-toggle" type="checkbox" class="banners--filter--toggle">
															&nbsp;&nbsp;By currency
														</label>
														<div class="banners-filter-option">
															<label>
																<input type="checkbox" class="check-all" name="currency[]" value="all"/>
																All
															</label>
															<label>
																<input type="checkbox" name="currency[]" value="usd"/>
																USD
															</label>
															<label>
																<input type="checkbox" name="currency[]" value="aud"/>
																AUD
															</label>
															<label>
																<input type="checkbox" name="currency[]" value="gbp"/>
																GBP
															</label>
															<label>
																<input type="checkbox" name="currency[]" value="eur"/>
																EUR
															</label>
															<label>
																<input type="checkbox" name="currency[]" value="jpy"/>
																JPY
															</label>
															<label>
																<input type="checkbox" name="currency[]" value="uni"/>
																Generic
															</label>
														</div>
													</div>
													<div class="banners--filter active">
														<label for="banner-favourite-filter-toggle">
															<input id="banner-favourite-filter-toggle" type="checkbox">
															&nbsp;&nbsp;By favourite
														</label>
													</div>
												</div>
												<div class="banners--filter--apply">
													<button class="banners--filter--apply-btn btn btn-alternate btn-extruded pull-left"><i class="fa fa-filter"></i>&nbsp;&nbsp;APPLY FILTER</button>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-9 banners--list" data-toggle-group="banner-list-view-mode">
										<div class="header-block-1">
											Creative banners <span class="thin">(1-12 of 76 records)</span>
										</div>
										<div class="banner--item"
											data-name="Experienced Market Trader: ASX"
											data-format="(html5)"
											data-campaign-name="Australian affiliates campaign 2"
											data-target="https://en2.highlow.net/account"
											data-code='<a href="LANDINGPAGE?a_aid=55b5cf4903c24&amp;a_cid=55b2298372b7f&amp;a_bid=5593b9124eeabSUBCODE" target="_top" style="position: relative; display:block;"><div style="position:absolute;width:100%;height:100%;z-index:1;"></div><iframe scrolling="no" style="width: 300px; height: 250px; border: none; outline: none; display: block;" src="http://point.agency/highlow/banners/market-related/mrec-asx/banner.html"></iframe></a>'
											data-width="300"
											data-height="250">
											<div class="p-css-table banner--item-content">
												<div class="p-css-table-row">
													<div class="p-css-table-cell banner--preview-container">
														<div class="banner--preview banner--viewable banner--playable banner--view-code">
															<a title="preview this banner" class="banner--viewable--cover">
																<div class="banner--viewable--screenshot" style="background-image: url(acontent/images/banner1-asx-mRec-preview.png);"></div>
															</a>
														</div>
													</div>
													<div class="banner--details banner-code-div">
														<div class="banner--details--content">
															<div class="banner--details--favourite">
																<label>
																	<input type="checkbox" class="banner--details--favourite--checkbox" value="all"/>
																	<span class="banner--details--favourite--icon">
																	</span>
																</label>
															</div>
															<h4 class="banner--details--banner-name">
																<strong><span class="banner--dimensions">300x250</span> - Experienced Market Trader: ASX</strong> 
																<span class="word banner--details--banner-format">
																	(html5)
																</span>
															</h4>
															<div class="banner--details--campaign-name">
																Australian affiliates campaign 2
															</div>
															<div class="banner--details--target-link">	
																<a href="https://en2.highlow.net/account">https://en2.highlow.net/account</a>
															</div>
															<button type="button" class="banner--details--get-code-btn btn-alternate btn btn-extruded banner--view-code">
																<img src="acontent/images/hl-icon-white.png"/>&nbsp;&nbsp;&nbsp;GET CODE
															</button>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="banner--item"
											data-name="Experienced Market Trader: ASX"
											data-format="(html5)"
											data-campaign-name="Australian affiliates campaign 2"
											data-target="https://en2.highlow.net/account"
											data-code='<a href="LANDINGPAGE?a_aid=55b5cf4903c24&amp;a_cid=55b2298372b7f&amp;a_bid=5593b9124eeabSUBCODE" target="_top" style="position: relative; display:block;"><div style="position:absolute;width:100%;height:100%;z-index:1;"></div><iframe scrolling="no" style="width: 728px; height: 90px; border: none; outline: none; display: block;" src="http://point.agency/highlow/banners/market-related/leaderboard-asx/banner.html"></iframe></a>'
											data-width="728"
											data-height="90"
											data-favourite="true">
											<div class="p-css-table banner--item-content">
												<div class="p-css-table-row">
													<div class="p-css-table-cell banner--preview-container">
														<div class="banner--preview banner--viewable banner--playable banner--view-code">
															<a title="preview this banner" class="banner--viewable--cover">
																<div class="banner--viewable--screenshot" style="background-image: url(acontent/images/banner1-asx-leaderboard-preview.png);"></div>
															</a>
														</div>
													</div>
													<div class="banner--details banner-code-div">
														<div class="banner--details--content">
															<div class="banner--details--favourite">
																<label>
																	<input type="checkbox" checked="checked" class="banner--details--favourite--checkbox" value="all"/>
																	<span class="banner--details--favourite--icon">
																	</span>
																</label>
															</div>
															<h4 class="banner--details--banner-name">
																<strong><span class="banner--dimensions">728x90</span> - Experienced Market Trader: ASX</strong> 
																<span class="word banner--details--banner-format">
																	(html5)
																</span>
															</h4>
															<div class="banner--details--campaign-name">
																Australian affiliates campaign 2
															</div>
															<div class="banner--details--target-link">	
																<a href="https://en2.highlow.net/account">https://en2.highlow.net/account</a>
															</div>
															<button type="button" class="banner--details--get-code-btn btn-alternate btn btn-extruded banner--view-code">
																<img src="acontent/images/hl-icon-white.png"/>&nbsp;&nbsp;&nbsp;GET CODE
															</button>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="banner--item"
											data-name="Experienced Market Trader: ASX"
											data-format="(html5)"
											data-campaign-name="Australian affiliates campaign 2"
											data-target="https://en2.highlow.net/account"
											data-code='<a href="LANDINGPAGE?a_aid=55b5cf4903c24&amp;a_cid=55b2298372b7f&amp;a_bid=5593b9124eeabSUBCODE" target="_top" style="position: relative; display:block;"><div style="position:absolute;width:100%;height:100%;z-index:1;"></div><iframe scrolling="no" style="width: 120px; height: 600px; border: none; outline: none; display: block;" src="http://point.agency/highlow/banners/market-related/skyscrapper-asx/banner.html"></iframe></a>'
											data-width="120"
											data-height="600">
											<div class="p-css-table banner--item-content">
												<div class="p-css-table-row">
													<div class="p-css-table-cell banner--preview-container">
														<div class="banner--preview banner--viewable banner--playable banner--view-code">
															<a title="preview this banner" class="banner--viewable--cover">
																<div class="banner--viewable--screenshot" style="background-image: url(acontent/images/banner1-asx-skyscraper-preview.png);"></div>
															</a>
														</div>
													</div>
													<div class="banner--details banner-code-div">
														<div class="banner--details--content">
															<div class="banner--details--favourite">
																<label>
																	<input type="checkbox" class="banner--details--favourite--checkbox" value="all"/>
																	<span class="banner--details--favourite--icon">
																	</span>
																</label>
															</div>
															<h4 class="banner--details--banner-name">
																<strong><span class="banner--dimensions">120x600</span> - Experienced Market Trader: ASX</strong> 
																<span class="word banner--details--banner-format">
																	(html5)
																</span>
															</h4>
															<div class="banner--details--campaign-name">
																Australian affiliates campaign 2
															</div>
															<div class="banner--details--target-link">	
																<a href="https://en2.highlow.net/account">https://en2.highlow.net/account</a>
															</div>
															<button type="button" class="banner--details--get-code-btn btn-alternate btn btn-extruded banner--view-code">
																<img src="acontent/images/hl-icon-white.png"/>&nbsp;&nbsp;&nbsp;GET CODE
															</button>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="banner--item"
											data-name="Experienced Market Trader: ASX"
											data-format="(html5)"
											data-campaign-name="Australian affiliates campaign 2"
											data-target="https://en2.highlow.net/account"
											data-code='<a href="LANDINGPAGE?a_aid=55b5cf4903c24&amp;a_cid=55b2298372b7f&amp;a_bid=5593b9124eeabSUBCODE" target="_top" style="position: relative; display:block;"><div style="position:absolute;width:100%;height:100%;z-index:1;"></div><iframe scrolling="no" style="width: 320px; height: 50px; border: none; outline: none; display: block;" src="http://point.agency/highlow/banners/market-related/mobile-asx/banner.html"></iframe></a>'
											data-width="320"
											data-height="50"
											data-favourite="true">
											<div class="p-css-table banner--item-content">
												<div class="p-css-table-row">
													<div class="p-css-table-cell banner--preview-container">
														<div class="banner--preview banner--viewable banner--playable banner--view-code">
															<a title="preview this banner" class="banner--viewable--cover">
																<div class="banner--viewable--screenshot" style="background-image: url(acontent/images/banner1-asx-mobile-preview.png);"></div>
															</a>
														</div>
													</div>
													<div class="banner--details banner-code-div">
														<div class="banner--details--content">
															<div class="banner--details--favourite">
																<label>
																	<input type="checkbox" checked="checked" class="banner--details--favourite--checkbox" value="all"/>
																	<span class="banner--details--favourite--icon">
																	</span>
																</label>
															</div>
															<h4 class="banner--details--banner-name">
																<strong><span class="banner--dimensions">320x50</span> - Experienced Market Trader: ASX</strong> 
																<span class="word banner--details--banner-format">
																	(html5)
																</span>
															</h4>
															<div class="banner--details--campaign-name">
																Australian affiliates campaign 2
															</div>
															<div class="banner--details--target-link">	
																<a href="https://en2.highlow.net/account">https://en2.highlow.net/account</a>
															</div>
															<button type="button" class="banner--details--get-code-btn btn-alternate btn btn-extruded banner--view-code">
																<img src="acontent/images/hl-icon-white.png"/>&nbsp;&nbsp;&nbsp;GET CODE
															</button>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="banner--item"
											data-name="Experienced Market Trader: DAX"
											data-format="(html5)"
											data-campaign-name="Australian affiliates campaign 2"
											data-target="https://en2.highlow.net/account"
											data-code='<a href="LANDINGPAGE?a_aid=55b5cf4903c24&amp;a_cid=55b2298372b7f&amp;a_bid=5593b9124eeabSUBCODE" target="_top" style="position: relative; display:block;"><div style="position:absolute;width:100%;height:100%;z-index:1;"></div><iframe scrolling="no" style="width: 468px; height: 60px; border: none; outline: none; display: block;" src="http://point.agency/highlow/banners/market-related/banner-dax/banner.html"></iframe></a>'
											data-width="468"
											data-height="60">
											<div class="p-css-table banner--item-content">
												<div class="p-css-table-row">
													<div class="p-css-table-cell banner--preview-container">
														<div class="banner--preview banner--viewable banner--playable banner--view-code">
															<a title="preview this banner" class="banner--viewable--cover">
																<div class="banner--viewable--screenshot" style="background-image: url(acontent/images/banner1-dax-banner-preview.png);"></div>
															</a>
														</div>
													</div>
													<div class="banner--details banner-code-div">
														<div class="banner--details--content">
															<div class="banner--details--favourite">
																<label>
																	<input type="checkbox" class="banner--details--favourite--checkbox" value="all"/>
																	<span class="banner--details--favourite--icon">
																	</span>
																</label>
															</div>
															<h4 class="banner--details--banner-name">
																<strong><span class="banner--dimensions">468x60</span> - Experienced Market Trader: DAX</strong> 
																<span class="word banner--details--banner-format">
																	(html5)
																</span>
															</h4>
															<div class="banner--details--campaign-name">
																Australian affiliates campaign 2
															</div>
															<div class="banner--details--target-link">	
																<a href="https://en2.highlow.net/account">https://en2.highlow.net/account</a>
															</div>
															<button type="button" class="banner--details--get-code-btn btn-alternate btn btn-extruded banner--view-code">
																<img src="acontent/images/hl-icon-white.png"/>&nbsp;&nbsp;&nbsp;GET CODE
															</button>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="banner--item"
											data-name="OZ Regulated: USD"
											data-format="(html5)"
											data-campaign-name="Australian affiliates campaign 2"
											data-target="https://en2.highlow.net/account"
											data-code='<a href="LANDINGPAGE?a_aid=55b5cf4903c24&amp;a_cid=55b2298372b7f&amp;a_bid=5593b9124eeabSUBCODE" target="_top" style="position: relative; display:block;"><div style="position:absolute;width:100%;height:100%;z-index:1;"></div><iframe scrolling="no" style="width: 300px; height: 600px; border: none; outline: none; display: block;" src="http://point.agency/highlow/banners/oz-regulated-300x600/banner.html"></iframe></a>'
											data-width="300"
											data-height="600">
											<div class="p-css-table banner--item-content">
												<div class="p-css-table-row">
													<div class="p-css-table-cell banner--preview-container">
														<div class="banner--preview banner--viewable banner--playable banner--view-code">
															<a title="preview this banner" class="banner--viewable--cover">
																<div class="banner--viewable--screenshot" style="background-image: url(http://point.agency/highlow/banners/oz-regulated-300x600/preview.png);"></div>
															</a>
														</div>
													</div>
													<div class="banner--details banner-code-div">
														<div class="banner--details--content">
															<div class="banner--details--favourite">
																<label>
																	<input type="checkbox" class="banner--details--favourite--checkbox" value="all"/>
																	<span class="banner--details--favourite--icon">
																	</span>
																</label>
															</div>
															<h4 class="banner--details--banner-name">
																<strong><span class="banner--dimensions">300x600</span> - OZ Regulated: USD</strong> 
																<span class="word banner--details--banner-format">
																	(html5)
																</span>
															</h4>
															<div class="banner--details--campaign-name">
																Australian affiliates campaign 2
															</div>
															<div class="banner--details--target-link">	
																<a href="https://en2.highlow.net/account">https://en2.highlow.net/account</a>
															</div>
															<button type="button" class="banner--details--get-code-btn btn-alternate btn btn-extruded banner--view-code">
																<img src="acontent/images/hl-icon-white.png"/>&nbsp;&nbsp;&nbsp;GET CODE
															</button>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="banner--item"
											data-name="OZ Regulated: GBP"
											data-format="(html5)"
											data-campaign-name="Australian affiliates campaign 2"
											data-target="https://en2.highlow.net/account"
											data-code='<a href="LANDINGPAGE?a_aid=55b5cf4903c24&amp;a_cid=55b2298372b7f&amp;a_bid=5593b9124eeabSUBCODE" target="_top" style="position: relative; display:block;"><div style="position:absolute;width:100%;height:100%;z-index:1;"></div><iframe scrolling="no" style="width: 300px; height: 250px; border: none; outline: none; display: block;" src="http://point.agency/highlow/banners/oz-regulated-gbp-300x250/banner.html"></iframe></a>'
											data-width="300"
											data-height="250">
											<div class="p-css-table banner--item-content">
												<div class="p-css-table-row">
													<div class="p-css-table-cell banner--preview-container">
														<div class="banner--preview banner--viewable banner--playable banner--view-code">
															<a title="preview this banner" class="banner--viewable--cover">
																<div class="banner--viewable--screenshot" style="background-image: url(http://point.agency/highlow/banners/oz-regulated-gbp-300x250/preview.png);"></div>
															</a>
														</div>
													</div>
													<div class="banner--details banner-code-div">
														<div class="banner--details--content">
															<div class="banner--details--favourite">
																<label>
																	<input type="checkbox" class="banner--details--favourite--checkbox" value="all"/>
																	<span class="banner--details--favourite--icon">
																	</span>
																</label>
															</div>
															<h4 class="banner--details--banner-name">
																<strong><span class="banner--dimensions">300x250</span> - OZ Regulated: GBP</strong> 
																<span class="word banner--details--banner-format">
																	(html5)
																</span>
															</h4>
															<div class="banner--details--campaign-name">
																Australian affiliates campaign 2
															</div>
															<div class="banner--details--target-link">	
																<a href="https://en2.highlow.net/account">https://en2.highlow.net/account</a>
															</div>
															<button type="button" class="banner--details--get-code-btn btn-alternate btn btn-extruded banner--view-code">
																<img src="acontent/images/hl-icon-white.png"/>&nbsp;&nbsp;&nbsp;GET CODE
															</button>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="banner--item"
											data-name="Japanese landscape example"
											data-format="(html5)"
											data-campaign-name="Australian affiliates campaign 2"
											data-target="https://jp2.highlow.net/account"
											data-code='<a href="LANDINGPAGE?a_aid=568d490aad773&amp;a_cid=757a25f1&amp;a_bid=a7fbd113SUBCODE" target="_top" style="position: relative; display:block;"><div style="position:absolute;width:100%;height:100%;z-index:1;"></div><img src="https://highlow-affiliate-banner.s3-ap-northeast-1.amazonaws.com/5472927e4c164.gif" alt="1口１０００円からのバイナリーオプション一銭の値動きで利益が出る。お得なキャンペーン実施中！" title="1口１０００円からのバイナリーオプション一銭の値動きで利益が出る。お得なキャンペーン実施中！" /></a>'
											data-width="728"
											data-height="90">
											<div class="p-css-table banner--item-content">
												<div class="p-css-table-row">
													<div class="p-css-table-cell banner--preview-container">
														<div class="banner--preview banner--viewable banner--view-code">
															<a title="preview this banner" class="banner--viewable--cover">
																<div class="banner--viewable--screenshot" style="background-image: url(https://highlow-affiliate-banner.s3-ap-northeast-1.amazonaws.com/5472927e4c164.gif);"></div>
															</a>
														</div>
													</div>
													<div class="banner--details banner-code-div">
														<div class="banner--details--content">
															<div class="banner--details--favourite">
																<label>
																	<input type="checkbox" class="banner--details--favourite--checkbox" value="all"/>
																	<span class="banner--details--favourite--icon">
																	</span>
																</label>
															</div>
															<h4 class="banner--details--banner-name">
																<strong><span class="banner--dimensions">728x90</span> - Japanese landscape example</strong> 
																<span class="word banner--details--banner-format">
																	(gif)
																</span>
															</h4>
															<div class="banner--details--campaign-name">
																Australian affiliates campaign 2
															</div>
															<div class="banner--details--target-link">	
																<a href="https://en2.highlow.net/account">https://en2.highlow.net/account</a>
															</div>
															<button type="button" class="banner--details--get-code-btn btn-alternate btn btn-extruded banner--view-code">
																<img src="acontent/images/hl-icon-white.png"/>&nbsp;&nbsp;&nbsp;GET CODE
															</button>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="banner--item"
											data-name="Experienced Market Trader: ASX"
											data-format="(html5)"
											data-campaign-name="Australian affiliates campaign 2"
											data-target="https://en2.highlow.net/account"
											data-code='<a href="LANDINGPAGE?a_aid=55b5cf4903c24&amp;a_cid=55b2298372b7f&amp;a_bid=5593b9124eeabSUBCODE" target="_top" style="position: relative; display:block;"><div style="position:absolute;width:100%;height:100%;z-index:1;"></div><iframe scrolling="no" style="width: 120px; height: 600px; border: none; outline: none; display: block;" src="http://point.agency/highlow/banners/market-related/skyscrapper-asx/banner.html"></iframe></a>'
											data-width="120"
											data-height="600">
											<div class="p-css-table banner--item-content">
												<div class="p-css-table-row">
													<div class="p-css-table-cell banner--preview-container">
														<div class="banner--preview banner--viewable banner--playable banner--view-code">
															<a title="preview this banner" class="banner--viewable--cover">
																<div class="banner--viewable--screenshot" style="background-image: url(acontent/images/banner1-asx-skyscraper-preview.png);"></div>
															</a>
														</div>
													</div>
													<div class="banner--details banner-code-div">
														<div class="banner--details--content">
															<div class="banner--details--favourite">
																<label>
																	<input type="checkbox" class="banner--details--favourite--checkbox" value="all"/>
																	<span class="banner--details--favourite--icon">
																	</span>
																</label>
															</div>
															<h4 class="banner--details--banner-name">
																<strong><span class="banner--dimensions">120x600</span> - Experienced Market Trader: ASX</strong> 
																<span class="word banner--details--banner-format">
																	(html5)
																</span>
															</h4>
															<div class="banner--details--campaign-name">
																Australian affiliates campaign 2
															</div>
															<div class="banner--details--target-link">	
																<a href="https://en2.highlow.net/account">https://en2.highlow.net/account</a>
															</div>
															<button type="button" class="banner--details--get-code-btn btn-alternate btn btn-extruded banner--view-code">
																<img src="acontent/images/hl-icon-white.png"/>&nbsp;&nbsp;&nbsp;GET CODE
															</button>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="banner--item"
											data-name="Experienced Market Trader: ASX"
											data-format="(html5)"
											data-campaign-name="Australian affiliates campaign 2"
											data-target="https://en2.highlow.net/account"
											data-code='<a href="LANDINGPAGE?a_aid=55b5cf4903c24&amp;a_cid=55b2298372b7f&amp;a_bid=5593b9124eeabSUBCODE" target="_top" style="position: relative; display:block;"><div style="position:absolute;width:100%;height:100%;z-index:1;"></div><iframe scrolling="no" style="width: 320px; height: 50px; border: none; outline: none; display: block;" src="http://point.agency/highlow/banners/market-related/mobile-asx/banner.html"></iframe></a>'
											data-width="320"
											data-height="50"
											data-favourite="true">
											<div class="p-css-table banner--item-content">
												<div class="p-css-table-row">
													<div class="p-css-table-cell banner--preview-container">
														<div class="banner--preview banner--viewable banner--playable banner--view-code">
															<a title="preview this banner" class="banner--viewable--cover">
																<div class="banner--viewable--screenshot" style="background-image: url(acontent/images/banner1-asx-mobile-preview.png);"></div>
															</a>
														</div>
													</div>
													<div class="banner--details banner-code-div">
														<div class="banner--details--content">
															<div class="banner--details--favourite">
																<label>
																	<input type="checkbox" checked="checked" class="banner--details--favourite--checkbox" value="all"/>
																	<span class="banner--details--favourite--icon">
																	</span>
																</label>
															</div>
															<h4 class="banner--details--banner-name">
																<strong><span class="banner--dimensions">320x50</span> - Experienced Market Trader: ASX</strong> 
																<span class="word banner--details--banner-format">
																	(html5)
																</span>
															</h4>
															<div class="banner--details--campaign-name">
																Australian affiliates campaign 2
															</div>
															<div class="banner--details--target-link">	
																<a href="https://en2.highlow.net/account">https://en2.highlow.net/account</a>
															</div>
															<button type="button" class="banner--details--get-code-btn btn-alternate btn btn-extruded banner--view-code">
																<img src="acontent/images/hl-icon-white.png"/>&nbsp;&nbsp;&nbsp;GET CODE
															</button>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="banner--item"
											data-name="Experienced Market Trader: DAX"
											data-format="(html5)"
											data-campaign-name="Australian affiliates campaign 2"
											data-target="https://en2.highlow.net/account"
											data-code='<a href="LANDINGPAGE?a_aid=55b5cf4903c24&amp;a_cid=55b2298372b7f&amp;a_bid=5593b9124eeabSUBCODE" target="_top" style="position: relative; display:block;"><div style="position:absolute;width:100%;height:100%;z-index:1;"></div><iframe scrolling="no" style="width: 468px; height: 60px; border: none; outline: none; display: block;" src="http://point.agency/highlow/banners/market-related/banner-dax/banner.html"></iframe></a>'
											data-width="468"
											data-height="60">
											<div class="p-css-table banner--item-content">
												<div class="p-css-table-row">
													<div class="p-css-table-cell banner--preview-container">
														<div class="banner--preview banner--viewable banner--playable banner--view-code">
															<a title="preview this banner" class="banner--viewable--cover">
																<div class="banner--viewable--screenshot" style="background-image: url(acontent/images/banner1-dax-banner-preview.png);"></div>
															</a>
														</div>
													</div>
													<div class="banner--details banner-code-div">
														<div class="banner--details--content">
															<div class="banner--details--favourite">
																<label>
																	<input type="checkbox" class="banner--details--favourite--checkbox" value="all"/>
																	<span class="banner--details--favourite--icon">
																	</span>
																</label>
															</div>
															<h4 class="banner--details--banner-name">
																<strong><span class="banner--dimensions">468x60</span> - Experienced Market Trader: DAX</strong> 
																<span class="word banner--details--banner-format">
																	(html5)
																</span>
															</h4>
															<div class="banner--details--campaign-name">
																Australian affiliates campaign 2
															</div>
															<div class="banner--details--target-link">	
																<a href="https://en2.highlow.net/account">https://en2.highlow.net/account</a>
															</div>
															<button type="button" class="banner--details--get-code-btn btn-alternate btn btn-extruded banner--view-code">
																<img src="acontent/images/hl-icon-white.png"/>&nbsp;&nbsp;&nbsp;GET CODE
															</button>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="banner--item"
											data-name="OZ Regulated: USD"
											data-format="(html5)"
											data-campaign-name="Australian affiliates campaign 2"
											data-target="https://en2.highlow.net/account"
											data-code='<a href="LANDINGPAGE?a_aid=55b5cf4903c24&amp;a_cid=55b2298372b7f&amp;a_bid=5593b9124eeabSUBCODE" target="_top" style="position: relative; display:block;"><div style="position:absolute;width:100%;height:100%;z-index:1;"></div><iframe scrolling="no" style="width: 300px; height: 600px; border: none; outline: none; display: block;" src="http://point.agency/highlow/banners/oz-regulated-300x600/banner.html"></iframe></a>'
											data-width="300"
											data-height="600">
											<div class="p-css-table banner--item-content">
												<div class="p-css-table-row">
													<div class="p-css-table-cell banner--preview-container">
														<div class="banner--preview banner--viewable banner--playable banner--view-code">
															<a title="preview this banner" class="banner--viewable--cover">
																<div class="banner--viewable--screenshot" style="background-image: url(http://point.agency/highlow/banners/oz-regulated-300x600/preview.png);"></div>
															</a>
														</div>
													</div>
													<div class="banner--details banner-code-div">
														<div class="banner--details--content">
															<div class="banner--details--favourite">
																<label>
																	<input type="checkbox" class="banner--details--favourite--checkbox" value="all"/>
																	<span class="banner--details--favourite--icon">
																	</span>
																</label>
															</div>
															<h4 class="banner--details--banner-name">
																<strong><span class="banner--dimensions">300x600</span> - OZ Regulated: USD</strong> 
																<span class="word banner--details--banner-format">
																	(html5)
																</span>
															</h4>
															<div class="banner--details--campaign-name">
																Australian affiliates campaign 2
															</div>
															<div class="banner--details--target-link">	
																<a href="https://en2.highlow.net/account">https://en2.highlow.net/account</a>
															</div>
															<button type="button" class="banner--details--get-code-btn btn-alternate btn btn-extruded banner--view-code">
																<img src="acontent/images/hl-icon-white.png"/>&nbsp;&nbsp;&nbsp;GET CODE
															</button>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>	
								<div class="banners--pagination">
									<ul class="pagination">
										<li class="disabled">
											<span>
												<img src="acontent/images/left-v.png"/><!--
												--><img src="acontent/images/left-v.png"/>
											</span>
										</li><!--
										--><li class="disabled">
											<span>
												<img src="acontent/images/left-v.png"/>
											</span>
										</li><!--
										--><li class="active">
											<span>1</span>
										</li><!--
										--><li>
											<a href="/en/my-account/5402f0f8ce0670930e7b23d3/view-promotion?page=2">2</a>
										</li><!--
										--><li>
											<a href="/en/my-account/5402f0f8ce0670930e7b23d3/view-promotion?page=3">3</a>
										</li><!--
										--><li>
											<a href="/en/my-account/5402f0f8ce0670930e7b23d3/view-promotion?page=4">4</a>
										</li><!--
										--><li>
											<a href="/en/my-account/5402f0f8ce0670930e7b23d3/view-promotion?page=5">5</a>
										</li><!--
										--><li class="disabled">
											<span>&hellip;</span>
										</li><!--
										--><li>
											<a href="/en/my-account/5402f0f8ce0670930e7b23d3/view-promotion?page=8">8</a>
										</li><!--
										--><li>
											<a href="/en/my-account/5402f0f8ce0670930e7b23d3/view-promotion?page=2">
												<img src="acontent/images/right-v.png"/>
											</a>
										</li><!--
										--><li>
											<a href="/en/my-account/5402f0f8ce0670930e7b23d3/view-promotion?page=8">
												<img src="acontent/images/right-v.png"/><!--
												--><img src="acontent/images/right-v.png"/>
											</a>
										</li>
									</ul>
								</div>  
							</form>
						</div>
						{% comment %}<div class="tab-pane" id="directLink">
							<br/>
							<div class="panel panel-default listing">	
								<b>No Direct Link found for this promotion</b>
							</div> 		
						</div>{% endcomment %}			 
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

{% include get-code-modal %}

{% endblock %}

{% block script %}

<script>
	$(document).ready(function(){
		$(".sidebar-toggler").click(function(){
			if($('body').hasClass('show-sidebar')) {
				$('body').removeClass('show-sidebar');
				$('#side-menu').addClass('hidden-xs');
			} else {
				$('body').addClass('show-sidebar');
				$('#side-menu').removeClass('hidden-xs');
			}
		});


		setTimeout(function(){
			$('.message-wrapper').each(function(){
				$(this).addClass('display').addClass($(this).data('type'));
			});
		},600);

		$('.message-wrapper .close').click(function(){
			$('.message-wrapper').removeClass('display').removeClass('fail').removeClass('success').removeClass('alert').removeClass('generic').removeClass('warning');
		});


		var bannerItemResizeTimeout;

		window.bannerItemResize = function() {
			clearTimeout(bannerItemResizeTimeout);

			$('.banner--item .banner--details').css({
				height: 'auto'
			});

			bannerItemResizeTimeout = setTimeout(function(){
				var bannerItemMaxHeight = 0;

				$('.banner--item').each(function(){
					var $self = $(this),
						$bannerDetails = $($self.find('.banner--details'));

					if($bannerDetails.outerHeight()>bannerItemMaxHeight) {
						bannerItemMaxHeight = $bannerDetails.outerHeight();
					}
				});

				$('.banner--item .banner--details').css({
					height: bannerItemMaxHeight
				});
			},750);
		}

		$('.banners--views--toggle').click(function(){
			window.bannerItemResize();
		});

		$(window).resize(function(){

			window.bannerItemResize();
			
		});

	});
</script>

<script type="text/javascript" src="https://cdn.highlow.net/acontent/js/jquery.zclip.min.js"></script>


{% include preview-banner-js %}



{% endblock %}