*[class^=sprite-icon] {
	display: inline-block;
	vertical-align: middle;
	&:before {
		content: "";
		display: inline-block;
		vertical-align: middle;
	}
}

.sprite-icon__down-grey-sm {
	&:before {
		.sprite(@down-grey-sm);
	}
}

.sprite-icon__down-pink-sm {
	&:before {
		.sprite(@down-pink-sm);
	}
}

.sprite-icon__down-white-sm {
	&:before {
		.sprite(@down-white-sm);
	}
}