*[class*=sprite-icon] {
	display: inline-block;
	vertical-align: middle;
	&:before {
		content: "";
		display: inline-block;
		vertical-align: middle;
	}
}

.sprite-icon__down-grey-sm {
	&:before {
		.sprite(@down-grey-sm);
	}
}

.sprite-icon__down-pink-sm {
	&:before {
		.sprite(@down-pink-sm);
	}
}

.sprite-icon__down-white-sm {
	&:before {
		.sprite(@down-white-sm);
	}
}

.sprite-icon__globe-grey-sm {
	&:before {
		.sprite(@globe-grey-sm);
	}
}

.sprite-icon__globe-white-sm {
	&:before {
		.sprite(@globe-white-sm);
	}
}

.sprite-icon__globe-red-sm {
	&:before {
		.sprite(@globe-red-sm);
	}
}

.sprite-icon__star-grey-sm {
	&:before {
		.sprite(@star-grey-sm);
	}
}

.sprite-icon__star-white-sm {
	&:before {
		.sprite(@star-white-sm);
	}
}

.sprite-icon__star-red-sm {
	&:before {
		.sprite(@star-red-sm);
	}
}

.sprite-icon__bars-grey-sm {
	&:before {
		.sprite(@bars-grey-sm);
	}
}

.sprite-icon__bars-white-sm {
	&:before {
		.sprite(@bars-white-sm);
	}
}

.sprite-icon__bars-red-sm {
	&:before {
		.sprite(@bars-red-sm);
	}
}

.sprite-icon__link-grey-sm {
	&:before {
		.sprite(@link-grey-sm);
	}
}

.sprite-icon__link-white-sm {
	&:before {
		.sprite(@link-white-sm);
	}
}

.sprite-icon__link-red-sm {
	&:before {
		.sprite(@link-red-sm);
	}
}

.sprite-icon__dollar-grey-sm {
	&:before {
		.sprite(@dollar-grey-sm);
	}
}

.sprite-icon__dollar-white-sm {
	&:before {
		.sprite(@dollar-white-sm);
	}
}

.sprite-icon__dollar-red-sm {
	&:before {
		.sprite(@dollar-red-sm);
	}
}

.sprite-icon__ticket-grey {
	&:before {
		.sprite(@ticket-grey);
	}
}

.sprite-icon__ticket-white {
	&:before {
		.sprite(@ticket-white);
	}
}

.sprite-icon__ticket-red {
	&:before {
		.sprite(@ticket-red);
	}
}


.sprite-icon__wrench-orange-md {
	&:before {
		.sprite(@wrench-orange-md);
	}
}

.sprite-icon__man-orange-md {
	&:before {
		.sprite(@man-orange-md);
	}
}

.sprite-icon__dollar-orange-md {
	&:before {
		.sprite(@dollar-orange-md);
	}
}

.sprite-icon__star-orange-md {
	&:before {
		.sprite(@star-orange-md);
	}
}

.sprite-icon__help-orange-md {
	&:before {
		.sprite(@help-orange-md);
	}
}

.sprite-icon__link-orange-md {
	&:before {
		.sprite(@link-orange-md);
	}
}

.sprite-icon__wrench-yellow-md {
	&:before {
		.sprite(@wrench-yellow-md);
	}
}

.sprite-icon__man-yellow-md {
	&:before {
		.sprite(@man-yellow-md);
	}
}

.sprite-icon__dollar-yellow-md {
	&:before {
		.sprite(@dollar-yellow-md);
	}
}

.sprite-icon__star-yellow-md {
	&:before {
		.sprite(@star-yellow-md);
	}
}

.sprite-icon__help-yellow-md {
	&:before {
		.sprite(@help-yellow-md);
	}
}

.sprite-icon__link-yellow-md {
	&:before {
		.sprite(@link-yellow-md);
	}
}