/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
@arrow-left-x: 153px;
@arrow-left-y: 148px;
@arrow-left-offset-x: -153px;
@arrow-left-offset-y: -148px;
@arrow-left-width: 11px;
@arrow-left-height: 24px;
@arrow-left-total-width: 400px;
@arrow-left-total-height: 326px;
@arrow-left-image: '../images/a-spritesheet.png';
@arrow-left: 153px 148px -153px -148px 11px 24px 400px 326px '../images/a-spritesheet.png';
@arrow-right-x: 166px;
@arrow-right-y: 148px;
@arrow-right-offset-x: -166px;
@arrow-right-offset-y: -148px;
@arrow-right-width: 11px;
@arrow-right-height: 24px;
@arrow-right-total-width: 400px;
@arrow-right-total-height: 326px;
@arrow-right-image: '../images/a-spritesheet.png';
@arrow-right: 166px 148px -166px -148px 11px 24px 400px 326px '../images/a-spritesheet.png';
@bars-grey-sm-x: 98px;
@bars-grey-sm-y: 313px;
@bars-grey-sm-offset-x: -98px;
@bars-grey-sm-offset-y: -313px;
@bars-grey-sm-width: 11px;
@bars-grey-sm-height: 13px;
@bars-grey-sm-total-width: 400px;
@bars-grey-sm-total-height: 326px;
@bars-grey-sm-image: '../images/a-spritesheet.png';
@bars-grey-sm: 98px 313px -98px -313px 11px 13px 400px 326px '../images/a-spritesheet.png';
@bars-red-sm-x: 42px;
@bars-red-sm-y: 313px;
@bars-red-sm-offset-x: -42px;
@bars-red-sm-offset-y: -313px;
@bars-red-sm-width: 11px;
@bars-red-sm-height: 13px;
@bars-red-sm-total-width: 400px;
@bars-red-sm-total-height: 326px;
@bars-red-sm-image: '../images/a-spritesheet.png';
@bars-red-sm: 42px 313px -42px -313px 11px 13px 400px 326px '../images/a-spritesheet.png';
@bars-white-sm-x: 14px;
@bars-white-sm-y: 313px;
@bars-white-sm-offset-x: -14px;
@bars-white-sm-offset-y: -313px;
@bars-white-sm-width: 11px;
@bars-white-sm-height: 13px;
@bars-white-sm-total-width: 400px;
@bars-white-sm-total-height: 326px;
@bars-white-sm-image: '../images/a-spritesheet.png';
@bars-white-sm: 14px 313px -14px -313px 11px 13px 400px 326px '../images/a-spritesheet.png';
@buoy-red-md-x: 140px;
@buoy-red-md-y: 57px;
@buoy-red-md-offset-x: -140px;
@buoy-red-md-offset-y: -57px;
@buoy-red-md-width: 49px;
@buoy-red-md-height: 55px;
@buoy-red-md-total-width: 400px;
@buoy-red-md-total-height: 326px;
@buoy-red-md-image: '../images/a-spritesheet.png';
@buoy-red-md: 140px 57px -140px -57px 49px 55px 400px 326px '../images/a-spritesheet.png';
@buoy-yellow-md-x: 0px;
@buoy-yellow-md-y: 122px;
@buoy-yellow-md-offset-x: 0px;
@buoy-yellow-md-offset-y: -122px;
@buoy-yellow-md-width: 49px;
@buoy-yellow-md-height: 55px;
@buoy-yellow-md-total-width: 400px;
@buoy-yellow-md-total-height: 326px;
@buoy-yellow-md-image: '../images/a-spritesheet.png';
@buoy-yellow-md: 0px 122px 0px -122px 49px 55px 400px 326px '../images/a-spritesheet.png';
@calendar-red-sm-x: 111px;
@calendar-red-sm-y: 313px;
@calendar-red-sm-offset-x: -111px;
@calendar-red-sm-offset-y: -313px;
@calendar-red-sm-width: 11px;
@calendar-red-sm-height: 13px;
@calendar-red-sm-total-width: 400px;
@calendar-red-sm-total-height: 326px;
@calendar-red-sm-image: '../images/a-spritesheet.png';
@calendar-red-sm: 111px 313px -111px -313px 11px 13px 400px 326px '../images/a-spritesheet.png';
@cross-red-md-x: 204px;
@cross-red-md-y: 205px;
@cross-red-md-offset-x: -204px;
@cross-red-md-offset-y: -205px;
@cross-red-md-width: 20px;
@cross-red-md-height: 20px;
@cross-red-md-total-width: 400px;
@cross-red-md-total-height: 326px;
@cross-red-md-image: '../images/a-spritesheet.png';
@cross-red-md: 204px 205px -204px -205px 20px 20px 400px 326px '../images/a-spritesheet.png';
@cross-thin-grey-sm-x: 226px;
@cross-thin-grey-sm-y: 205px;
@cross-thin-grey-sm-offset-x: -226px;
@cross-thin-grey-sm-offset-y: -205px;
@cross-thin-grey-sm-width: 14px;
@cross-thin-grey-sm-height: 15px;
@cross-thin-grey-sm-total-width: 400px;
@cross-thin-grey-sm-total-height: 326px;
@cross-thin-grey-sm-image: '../images/a-spritesheet.png';
@cross-thin-grey-sm: 226px 205px -226px -205px 14px 15px 400px 326px '../images/a-spritesheet.png';
@crosshair-grey-ms-x: 128px;
@crosshair-grey-ms-y: 284px;
@crosshair-grey-ms-offset-x: -128px;
@crosshair-grey-ms-offset-y: -284px;
@crosshair-grey-ms-width: 16px;
@crosshair-grey-ms-height: 16px;
@crosshair-grey-ms-total-width: 400px;
@crosshair-grey-ms-total-height: 326px;
@crosshair-grey-ms-image: '../images/a-spritesheet.png';
@crosshair-grey-ms: 128px 284px -128px -284px 16px 16px 400px 326px '../images/a-spritesheet.png';
@crosshair-grey-sm-x: 180px;
@crosshair-grey-sm-y: 284px;
@crosshair-grey-sm-offset-x: -180px;
@crosshair-grey-sm-offset-y: -284px;
@crosshair-grey-sm-width: 16px;
@crosshair-grey-sm-height: 16px;
@crosshair-grey-sm-total-width: 400px;
@crosshair-grey-sm-total-height: 326px;
@crosshair-grey-sm-image: '../images/a-spritesheet.png';
@crosshair-grey-sm: 180px 284px -180px -284px 16px 16px 400px 326px '../images/a-spritesheet.png';
@disc-grey-md-x: 366px;
@disc-grey-md-y: 143px;
@disc-grey-md-offset-x: -366px;
@disc-grey-md-offset-y: -143px;
@disc-grey-md-width: 33px;
@disc-grey-md-height: 33px;
@disc-grey-md-total-width: 400px;
@disc-grey-md-total-height: 326px;
@disc-grey-md-image: '../images/a-spritesheet.png';
@disc-grey-md: 366px 143px -366px -143px 33px 33px 400px 326px '../images/a-spritesheet.png';
@disc-tick-green-md-x: 366px;
@disc-tick-green-md-y: 187px;
@disc-tick-green-md-offset-x: -366px;
@disc-tick-green-md-offset-y: -187px;
@disc-tick-green-md-width: 33px;
@disc-tick-green-md-height: 33px;
@disc-tick-green-md-total-width: 400px;
@disc-tick-green-md-total-height: 326px;
@disc-tick-green-md-image: '../images/a-spritesheet.png';
@disc-tick-green-md: 366px 187px -366px -187px 33px 33px 400px 326px '../images/a-spritesheet.png';
@disc-tick-grey-md-x: 366px;
@disc-tick-grey-md-y: 231px;
@disc-tick-grey-md-offset-x: -366px;
@disc-tick-grey-md-offset-y: -231px;
@disc-tick-grey-md-width: 33px;
@disc-tick-grey-md-height: 33px;
@disc-tick-grey-md-total-width: 400px;
@disc-tick-grey-md-total-height: 326px;
@disc-tick-grey-md-image: '../images/a-spritesheet.png';
@disc-tick-grey-md: 366px 231px -366px -231px 33px 33px 400px 326px '../images/a-spritesheet.png';
@dollar-grey-sm-x: 321px;
@dollar-grey-sm-y: 284px;
@dollar-grey-sm-offset-x: -321px;
@dollar-grey-sm-offset-y: -284px;
@dollar-grey-sm-width: 9px;
@dollar-grey-sm-height: 14px;
@dollar-grey-sm-total-width: 400px;
@dollar-grey-sm-total-height: 326px;
@dollar-grey-sm-image: '../images/a-spritesheet.png';
@dollar-grey-sm: 321px 284px -321px -284px 9px 14px 400px 326px '../images/a-spritesheet.png';
@dollar-orange-md-x: 0px;
@dollar-orange-md-y: 236px;
@dollar-orange-md-offset-x: 0px;
@dollar-orange-md-offset-y: -236px;
@dollar-orange-md-width: 78px;
@dollar-orange-md-height: 46px;
@dollar-orange-md-total-width: 400px;
@dollar-orange-md-total-height: 326px;
@dollar-orange-md-image: '../images/a-spritesheet.png';
@dollar-orange-md: 0px 236px 0px -236px 78px 46px 400px 326px '../images/a-spritesheet.png';
@dollar-red-sm-x: 311px;
@dollar-red-sm-y: 192px;
@dollar-red-sm-offset-x: -311px;
@dollar-red-sm-offset-y: -192px;
@dollar-red-sm-width: 9px;
@dollar-red-sm-height: 14px;
@dollar-red-sm-total-width: 400px;
@dollar-red-sm-total-height: 326px;
@dollar-red-sm-image: '../images/a-spritesheet.png';
@dollar-red-sm: 311px 192px -311px -192px 9px 14px 400px 326px '../images/a-spritesheet.png';
@dollar-white-sm-x: 297px;
@dollar-white-sm-y: 284px;
@dollar-white-sm-offset-x: -297px;
@dollar-white-sm-offset-y: -284px;
@dollar-white-sm-width: 9px;
@dollar-white-sm-height: 14px;
@dollar-white-sm-total-width: 400px;
@dollar-white-sm-total-height: 326px;
@dollar-white-sm-image: '../images/a-spritesheet.png';
@dollar-white-sm: 297px 284px -297px -284px 9px 14px 400px 326px '../images/a-spritesheet.png';
@dollar-yellow-md-x: 322px;
@dollar-yellow-md-y: 0px;
@dollar-yellow-md-offset-x: -322px;
@dollar-yellow-md-offset-y: 0px;
@dollar-yellow-md-width: 78px;
@dollar-yellow-md-height: 46px;
@dollar-yellow-md-total-width: 400px;
@dollar-yellow-md-total-height: 326px;
@dollar-yellow-md-image: '../images/a-spritesheet.png';
@dollar-yellow-md: 322px 0px -322px 0px 78px 46px 400px 326px '../images/a-spritesheet.png';
@down-grey-sm-x: 378px;
@down-grey-sm-y: 178px;
@down-grey-sm-offset-x: -378px;
@down-grey-sm-offset-y: -178px;
@down-grey-sm-width: 10px;
@down-grey-sm-height: 5px;
@down-grey-sm-total-width: 400px;
@down-grey-sm-total-height: 326px;
@down-grey-sm-image: '../images/a-spritesheet.png';
@down-grey-sm: 378px 178px -378px -178px 10px 5px 400px 326px '../images/a-spritesheet.png';
@down-grey-xs-x: 366px;
@down-grey-xs-y: 178px;
@down-grey-xs-offset-x: -366px;
@down-grey-xs-offset-y: -178px;
@down-grey-xs-width: 10px;
@down-grey-xs-height: 7px;
@down-grey-xs-total-width: 400px;
@down-grey-xs-total-height: 326px;
@down-grey-xs-image: '../images/a-spritesheet.png';
@down-grey-xs: 366px 178px -366px -178px 10px 7px 400px 326px '../images/a-spritesheet.png';
@down-pink-sm-x: 390px;
@down-pink-sm-y: 178px;
@down-pink-sm-offset-x: -390px;
@down-pink-sm-offset-y: -178px;
@down-pink-sm-width: 10px;
@down-pink-sm-height: 5px;
@down-pink-sm-total-width: 400px;
@down-pink-sm-total-height: 326px;
@down-pink-sm-image: '../images/a-spritesheet.png';
@down-pink-sm: 390px 178px -390px -178px 10px 5px 400px 326px '../images/a-spritesheet.png';
@down-white-sm-x: 366px;
@down-white-sm-y: 222px;
@down-white-sm-offset-x: -366px;
@down-white-sm-offset-y: -222px;
@down-white-sm-width: 10px;
@down-white-sm-height: 5px;
@down-white-sm-total-width: 400px;
@down-white-sm-total-height: 326px;
@down-white-sm-image: '../images/a-spritesheet.png';
@down-white-sm: 366px 222px -366px -222px 10px 5px 400px 326px '../images/a-spritesheet.png';
@error-close-x: 322px;
@error-close-y: 231px;
@error-close-offset-x: -322px;
@error-close-offset-y: -231px;
@error-close-width: 42px;
@error-close-height: 42px;
@error-close-total-width: 400px;
@error-close-total-height: 326px;
@error-close-image: '../images/a-spritesheet.png';
@error-close: 322px 231px -322px -231px 42px 42px 400px 326px '../images/a-spritesheet.png';
@error-icon-x: 277px;
@error-icon-y: 313px;
@error-icon-offset-x: -277px;
@error-icon-offset-y: -313px;
@error-icon-width: 12px;
@error-icon-height: 12px;
@error-icon-total-width: 400px;
@error-icon-total-height: 326px;
@error-icon-image: '../images/a-spritesheet.png';
@error-icon: 277px 313px -277px -313px 12px 12px 400px 326px '../images/a-spritesheet.png';
@filter-grey-sm-x: 194px;
@filter-grey-sm-y: 313px;
@filter-grey-sm-offset-x: -194px;
@filter-grey-sm-offset-y: -313px;
@filter-grey-sm-width: 10px;
@filter-grey-sm-height: 13px;
@filter-grey-sm-total-width: 400px;
@filter-grey-sm-total-height: 326px;
@filter-grey-sm-image: '../images/a-spritesheet.png';
@filter-grey-sm: 194px 313px -194px -313px 10px 13px 400px 326px '../images/a-spritesheet.png';
@filter-white-sm-x: 360px;
@filter-white-sm-y: 284px;
@filter-white-sm-offset-x: -360px;
@filter-white-sm-offset-y: -284px;
@filter-white-sm-width: 10px;
@filter-white-sm-height: 13px;
@filter-white-sm-total-width: 400px;
@filter-white-sm-total-height: 326px;
@filter-white-sm-image: '../images/a-spritesheet.png';
@filter-white-sm: 360px 284px -360px -284px 10px 13px 400px 326px '../images/a-spritesheet.png';
@globe-grey-sm-x: 70px;
@globe-grey-sm-y: 313px;
@globe-grey-sm-offset-x: -70px;
@globe-grey-sm-offset-y: -313px;
@globe-grey-sm-width: 12px;
@globe-grey-sm-height: 13px;
@globe-grey-sm-total-width: 400px;
@globe-grey-sm-total-height: 326px;
@globe-grey-sm-image: '../images/a-spritesheet.png';
@globe-grey-sm: 70px 313px -70px -313px 12px 13px 400px 326px '../images/a-spritesheet.png';
@globe-red-sm-x: 386px;
@globe-red-sm-y: 284px;
@globe-red-sm-offset-x: -386px;
@globe-red-sm-offset-y: -284px;
@globe-red-sm-width: 12px;
@globe-red-sm-height: 13px;
@globe-red-sm-total-width: 400px;
@globe-red-sm-total-height: 326px;
@globe-red-sm-image: '../images/a-spritesheet.png';
@globe-red-sm: 386px 284px -386px -284px 12px 13px 400px 326px '../images/a-spritesheet.png';
@globe-white-sm-x: 0px;
@globe-white-sm-y: 313px;
@globe-white-sm-offset-x: 0px;
@globe-white-sm-offset-y: -313px;
@globe-white-sm-width: 12px;
@globe-white-sm-height: 13px;
@globe-white-sm-total-width: 400px;
@globe-white-sm-total-height: 326px;
@globe-white-sm-image: '../images/a-spritesheet.png';
@globe-white-sm: 0px 313px 0px -313px 12px 13px 400px 326px '../images/a-spritesheet.png';
@grid-grey-sm-x: 218px;
@grid-grey-sm-y: 313px;
@grid-grey-sm-offset-x: -218px;
@grid-grey-sm-offset-y: -313px;
@grid-grey-sm-width: 13px;
@grid-grey-sm-height: 12px;
@grid-grey-sm-total-width: 400px;
@grid-grey-sm-total-height: 326px;
@grid-grey-sm-image: '../images/a-spritesheet.png';
@grid-grey-sm: 218px 313px -218px -313px 13px 12px 400px 326px '../images/a-spritesheet.png';
@grid-red-sm-x: 262px;
@grid-red-sm-y: 313px;
@grid-red-sm-offset-x: -262px;
@grid-red-sm-offset-y: -313px;
@grid-red-sm-width: 13px;
@grid-red-sm-height: 12px;
@grid-red-sm-total-width: 400px;
@grid-red-sm-total-height: 326px;
@grid-red-sm-image: '../images/a-spritesheet.png';
@grid-red-sm: 262px 313px -262px -313px 13px 12px 400px 326px '../images/a-spritesheet.png';
@header-logo-x: 0px;
@header-logo-y: 284px;
@header-logo-offset-x: 0px;
@header-logo-offset-y: -284px;
@header-logo-width: 90px;
@header-logo-height: 27px;
@header-logo-total-width: 400px;
@header-logo-total-height: 326px;
@header-logo-image: '../images/a-spritesheet.png';
@header-logo: 0px 284px 0px -284px 90px 27px 400px 326px '../images/a-spritesheet.png';
@help-grey-x: 111px;
@help-grey-y: 284px;
@help-grey-offset-x: -111px;
@help-grey-offset-y: -284px;
@help-grey-width: 15px;
@help-grey-height: 16px;
@help-grey-total-width: 400px;
@help-grey-total-height: 326px;
@help-grey-image: '../images/a-spritesheet.png';
@help-grey: 111px 284px -111px -284px 15px 16px 400px 326px '../images/a-spritesheet.png';
@help-orange-md-x: 242px;
@help-orange-md-y: 48px;
@help-orange-md-offset-x: -242px;
@help-orange-md-offset-y: -48px;
@help-orange-md-width: 78px;
@help-orange-md-height: 46px;
@help-orange-md-total-width: 400px;
@help-orange-md-total-height: 326px;
@help-orange-md-image: '../images/a-spritesheet.png';
@help-orange-md: 242px 48px -242px -48px 78px 46px 400px 326px '../images/a-spritesheet.png';
@help-red-x: 146px;
@help-red-y: 284px;
@help-red-offset-x: -146px;
@help-red-offset-y: -284px;
@help-red-width: 15px;
@help-red-height: 16px;
@help-red-total-width: 400px;
@help-red-total-height: 326px;
@help-red-image: '../images/a-spritesheet.png';
@help-red: 146px 284px -146px -284px 15px 16px 400px 326px '../images/a-spritesheet.png';
@help-white-x: 163px;
@help-white-y: 284px;
@help-white-offset-x: -163px;
@help-white-offset-y: -284px;
@help-white-width: 15px;
@help-white-height: 16px;
@help-white-total-width: 400px;
@help-white-total-height: 326px;
@help-white-image: '../images/a-spritesheet.png';
@help-white: 163px 284px -163px -284px 15px 16px 400px 326px '../images/a-spritesheet.png';
@help-yellow-md-x: 322px;
@help-yellow-md-y: 48px;
@help-yellow-md-offset-x: -322px;
@help-yellow-md-offset-y: -48px;
@help-yellow-md-width: 78px;
@help-yellow-md-height: 46px;
@help-yellow-md-total-width: 400px;
@help-yellow-md-total-height: 326px;
@help-yellow-md-image: '../images/a-spritesheet.png';
@help-yellow-md: 322px 48px -322px -48px 78px 46px 400px 326px '../images/a-spritesheet.png';
@highlow-icon-x: 322px;
@highlow-icon-y: 96px;
@highlow-icon-offset-x: -322px;
@highlow-icon-offset-y: -96px;
@highlow-icon-width: 50px;
@highlow-icon-height: 45px;
@highlow-icon-total-width: 400px;
@highlow-icon-total-height: 326px;
@highlow-icon-image: '../images/a-spritesheet.png';
@highlow-icon: 322px 96px -322px -96px 50px 45px 400px 326px '../images/a-spritesheet.png';
@left-v-x: 256px;
@left-v-y: 224px;
@left-v-offset-x: -256px;
@left-v-offset-y: -224px;
@left-v-width: 4px;
@left-v-height: 8px;
@left-v-total-width: 400px;
@left-v-total-height: 326px;
@left-v-image: '../images/a-spritesheet.png';
@left-v: 256px 224px -256px -224px 4px 8px 400px 326px '../images/a-spritesheet.png';
@link-grey-sm-x: 332px;
@link-grey-sm-y: 284px;
@link-grey-sm-offset-x: -332px;
@link-grey-sm-offset-y: -284px;
@link-grey-sm-width: 11px;
@link-grey-sm-height: 14px;
@link-grey-sm-total-width: 400px;
@link-grey-sm-total-height: 326px;
@link-grey-sm-image: '../images/a-spritesheet.png';
@link-grey-sm: 332px 284px -332px -284px 11px 14px 400px 326px '../images/a-spritesheet.png';
@link-orange-md-x: 80px;
@link-orange-md-y: 236px;
@link-orange-md-offset-x: -80px;
@link-orange-md-offset-y: -236px;
@link-orange-md-width: 78px;
@link-orange-md-height: 46px;
@link-orange-md-total-width: 400px;
@link-orange-md-total-height: 326px;
@link-orange-md-image: '../images/a-spritesheet.png';
@link-orange-md: 80px 236px -80px -236px 78px 46px 400px 326px '../images/a-spritesheet.png';
@link-red-md-x: 51px;
@link-red-md-y: 179px;
@link-red-md-offset-x: -51px;
@link-red-md-offset-y: -179px;
@link-red-md-width: 49px;
@link-red-md-height: 55px;
@link-red-md-total-width: 400px;
@link-red-md-total-height: 326px;
@link-red-md-image: '../images/a-spritesheet.png';
@link-red-md: 51px 179px -51px -179px 49px 55px 400px 326px '../images/a-spritesheet.png';
@link-red-sm-x: 308px;
@link-red-sm-y: 284px;
@link-red-sm-offset-x: -308px;
@link-red-sm-offset-y: -284px;
@link-red-sm-width: 11px;
@link-red-sm-height: 14px;
@link-red-sm-total-width: 400px;
@link-red-sm-total-height: 326px;
@link-red-sm-image: '../images/a-spritesheet.png';
@link-red-sm: 308px 284px -308px -284px 11px 14px 400px 326px '../images/a-spritesheet.png';
@link-white-sm-x: 284px;
@link-white-sm-y: 284px;
@link-white-sm-offset-x: -284px;
@link-white-sm-offset-y: -284px;
@link-white-sm-width: 11px;
@link-white-sm-height: 14px;
@link-white-sm-total-width: 400px;
@link-white-sm-total-height: 326px;
@link-white-sm-image: '../images/a-spritesheet.png';
@link-white-sm: 284px 284px -284px -284px 11px 14px 400px 326px '../images/a-spritesheet.png';
@link-yellow-md-x: 102px;
@link-yellow-md-y: 122px;
@link-yellow-md-offset-x: -102px;
@link-yellow-md-offset-y: -122px;
@link-yellow-md-width: 49px;
@link-yellow-md-height: 55px;
@link-yellow-md-total-width: 400px;
@link-yellow-md-total-height: 326px;
@link-yellow-md-image: '../images/a-spritesheet.png';
@link-yellow-md: 102px 122px -102px -122px 49px 55px 400px 326px '../images/a-spritesheet.png';
@list-grey-sm-x: 247px;
@list-grey-sm-y: 313px;
@list-grey-sm-offset-x: -247px;
@list-grey-sm-offset-y: -313px;
@list-grey-sm-width: 13px;
@list-grey-sm-height: 12px;
@list-grey-sm-total-width: 400px;
@list-grey-sm-total-height: 326px;
@list-grey-sm-image: '../images/a-spritesheet.png';
@list-grey-sm: 247px 313px -247px -313px 13px 12px 400px 326px '../images/a-spritesheet.png';
@list-red-sm-x: 305px;
@list-red-sm-y: 313px;
@list-red-sm-offset-x: -305px;
@list-red-sm-offset-y: -313px;
@list-red-sm-width: 13px;
@list-red-sm-height: 12px;
@list-red-sm-total-width: 400px;
@list-red-sm-total-height: 326px;
@list-red-sm-image: '../images/a-spritesheet.png';
@list-red-sm: 305px 313px -305px -313px 13px 12px 400px 326px '../images/a-spritesheet.png';
@looking-glass-grey-md-x: 374px;
@looking-glass-grey-md-y: 96px;
@looking-glass-grey-md-offset-x: -374px;
@looking-glass-grey-md-offset-y: -96px;
@looking-glass-grey-md-width: 24px;
@looking-glass-grey-md-height: 24px;
@looking-glass-grey-md-total-width: 400px;
@looking-glass-grey-md-total-height: 326px;
@looking-glass-grey-md-image: '../images/a-spritesheet.png';
@looking-glass-grey-md: 374px 96px -374px -96px 24px 24px 400px 326px '../images/a-spritesheet.png';
@man-orange-md-x: 160px;
@man-orange-md-y: 236px;
@man-orange-md-offset-x: -160px;
@man-orange-md-offset-y: -236px;
@man-orange-md-width: 78px;
@man-orange-md-height: 46px;
@man-orange-md-total-width: 400px;
@man-orange-md-total-height: 326px;
@man-orange-md-image: '../images/a-spritesheet.png';
@man-orange-md: 160px 236px -160px -236px 78px 46px 400px 326px '../images/a-spritesheet.png';
@man-yellow-md-x: 242px;
@man-yellow-md-y: 0px;
@man-yellow-md-offset-x: -242px;
@man-yellow-md-offset-y: 0px;
@man-yellow-md-width: 78px;
@man-yellow-md-height: 46px;
@man-yellow-md-total-width: 400px;
@man-yellow-md-total-height: 326px;
@man-yellow-md-image: '../images/a-spritesheet.png';
@man-yellow-md: 242px 0px -242px 0px 78px 46px 400px 326px '../images/a-spritesheet.png';
@meter-grey-sm-x: 179px;
@meter-grey-sm-y: 313px;
@meter-grey-sm-offset-x: -179px;
@meter-grey-sm-offset-y: -313px;
@meter-grey-sm-width: 13px;
@meter-grey-sm-height: 13px;
@meter-grey-sm-total-width: 400px;
@meter-grey-sm-total-height: 326px;
@meter-grey-sm-image: '../images/a-spritesheet.png';
@meter-grey-sm: 179px 313px -179px -313px 13px 13px 400px 326px '../images/a-spritesheet.png';
@meter-red-sm-x: 164px;
@meter-red-sm-y: 313px;
@meter-red-sm-offset-x: -164px;
@meter-red-sm-offset-y: -313px;
@meter-red-sm-width: 13px;
@meter-red-sm-height: 13px;
@meter-red-sm-total-width: 400px;
@meter-red-sm-total-height: 326px;
@meter-red-sm-image: '../images/a-spritesheet.png';
@meter-red-sm: 164px 313px -164px -313px 13px 13px 400px 326px '../images/a-spritesheet.png';
@meter-white-sm-x: 149px;
@meter-white-sm-y: 313px;
@meter-white-sm-offset-x: -149px;
@meter-white-sm-offset-y: -313px;
@meter-white-sm-width: 13px;
@meter-white-sm-height: 13px;
@meter-white-sm-total-width: 400px;
@meter-white-sm-total-height: 326px;
@meter-white-sm-image: '../images/a-spritesheet.png';
@meter-white-sm: 149px 313px -149px -313px 13px 13px 400px 326px '../images/a-spritesheet.png';
@money-red-md-x: 51px;
@money-red-md-y: 122px;
@money-red-md-offset-x: -51px;
@money-red-md-offset-y: -122px;
@money-red-md-width: 49px;
@money-red-md-height: 55px;
@money-red-md-total-width: 400px;
@money-red-md-total-height: 326px;
@money-red-md-image: '../images/a-spritesheet.png';
@money-red-md: 51px 122px -51px -122px 49px 55px 400px 326px '../images/a-spritesheet.png';
@money-red-sm-x: 242px;
@money-red-sm-y: 192px;
@money-red-sm-offset-x: -242px;
@money-red-sm-offset-y: -192px;
@money-red-sm-width: 41px;
@money-red-sm-height: 30px;
@money-red-sm-total-width: 400px;
@money-red-sm-total-height: 326px;
@money-red-sm-image: '../images/a-spritesheet.png';
@money-red-sm: 242px 192px -242px -192px 41px 30px 400px 326px '../images/a-spritesheet.png';
@money-yellow-md-x: 191px;
@money-yellow-md-y: 0px;
@money-yellow-md-offset-x: -191px;
@money-yellow-md-offset-y: 0px;
@money-yellow-md-width: 49px;
@money-yellow-md-height: 55px;
@money-yellow-md-total-width: 400px;
@money-yellow-md-total-height: 326px;
@money-yellow-md-image: '../images/a-spritesheet.png';
@money-yellow-md: 191px 0px -191px 0px 49px 55px 400px 326px '../images/a-spritesheet.png';
@plus-grey-x: 333px;
@plus-grey-y: 313px;
@plus-grey-offset-x: -333px;
@plus-grey-offset-y: -313px;
@plus-grey-width: 11px;
@plus-grey-height: 11px;
@plus-grey-total-width: 400px;
@plus-grey-total-height: 326px;
@plus-grey-image: '../images/a-spritesheet.png';
@plus-grey: 333px 313px -333px -313px 11px 11px 400px 326px '../images/a-spritesheet.png';
@plus-white-x: 320px;
@plus-white-y: 313px;
@plus-white-offset-x: -320px;
@plus-white-offset-y: -313px;
@plus-white-width: 11px;
@plus-white-height: 11px;
@plus-white-total-width: 400px;
@plus-white-total-height: 326px;
@plus-white-image: '../images/a-spritesheet.png';
@plus-white: 320px 313px -320px -313px 11px 11px 400px 326px '../images/a-spritesheet.png';
@profile-red-md-x: 191px;
@profile-red-md-y: 57px;
@profile-red-md-offset-x: -191px;
@profile-red-md-offset-y: -57px;
@profile-red-md-width: 49px;
@profile-red-md-height: 55px;
@profile-red-md-total-width: 400px;
@profile-red-md-total-height: 326px;
@profile-red-md-image: '../images/a-spritesheet.png';
@profile-red-md: 191px 57px -191px -57px 49px 55px 400px 326px '../images/a-spritesheet.png';
@profile-yellow-md-x: 191px;
@profile-yellow-md-y: 114px;
@profile-yellow-md-offset-x: -191px;
@profile-yellow-md-offset-y: -114px;
@profile-yellow-md-width: 49px;
@profile-yellow-md-height: 55px;
@profile-yellow-md-total-width: 400px;
@profile-yellow-md-total-height: 326px;
@profile-yellow-md-image: '../images/a-spritesheet.png';
@profile-yellow-md: 191px 114px -191px -114px 49px 55px 400px 326px '../images/a-spritesheet.png';
@right-v-x: 311px;
@right-v-y: 208px;
@right-v-offset-x: -311px;
@right-v-offset-y: -208px;
@right-v-width: 4px;
@right-v-height: 8px;
@right-v-total-width: 400px;
@right-v-total-height: 326px;
@right-v-image: '../images/a-spritesheet.png';
@right-v: 311px 208px -311px -208px 4px 8px 400px 326px '../images/a-spritesheet.png';
@smiley-red-md-x: 0px;
@smiley-red-md-y: 179px;
@smiley-red-md-offset-x: 0px;
@smiley-red-md-offset-y: -179px;
@smiley-red-md-width: 49px;
@smiley-red-md-height: 55px;
@smiley-red-md-total-width: 400px;
@smiley-red-md-total-height: 326px;
@smiley-red-md-image: '../images/a-spritesheet.png';
@smiley-red-md: 0px 179px 0px -179px 49px 55px 400px 326px '../images/a-spritesheet.png';
@smiley-yellow-md-x: 102px;
@smiley-yellow-md-y: 179px;
@smiley-yellow-md-offset-x: -102px;
@smiley-yellow-md-offset-y: -179px;
@smiley-yellow-md-width: 49px;
@smiley-yellow-md-height: 55px;
@smiley-yellow-md-total-width: 400px;
@smiley-yellow-md-total-height: 326px;
@smiley-yellow-md-image: '../images/a-spritesheet.png';
@smiley-yellow-md: 102px 179px -102px -179px 49px 55px 400px 326px '../images/a-spritesheet.png';
@sort-ascending-x: 272px;
@sort-ascending-y: 284px;
@sort-ascending-offset-x: -272px;
@sort-ascending-offset-y: -284px;
@sort-ascending-width: 10px;
@sort-ascending-height: 15px;
@sort-ascending-total-width: 400px;
@sort-ascending-total-height: 326px;
@sort-ascending-image: '../images/a-spritesheet.png';
@sort-ascending: 272px 284px -272px -284px 10px 15px 400px 326px '../images/a-spritesheet.png';
@sort-default-x: 230px;
@sort-default-y: 179px;
@sort-default-offset-x: -230px;
@sort-default-offset-y: -179px;
@sort-default-width: 10px;
@sort-default-height: 15px;
@sort-default-total-width: 400px;
@sort-default-total-height: 326px;
@sort-default-image: '../images/a-spritesheet.png';
@sort-default: 230px 179px -230px -179px 10px 15px 400px 326px '../images/a-spritesheet.png';
@sort-descending-x: 179px;
@sort-descending-y: 122px;
@sort-descending-offset-x: -179px;
@sort-descending-offset-y: -122px;
@sort-descending-width: 10px;
@sort-descending-height: 15px;
@sort-descending-total-width: 400px;
@sort-descending-total-height: 326px;
@sort-descending-image: '../images/a-spritesheet.png';
@sort-descending: 179px 122px -179px -122px 10px 15px 400px 326px '../images/a-spritesheet.png';
@sort-disabled-x: 179px;
@sort-disabled-y: 148px;
@sort-disabled-offset-x: -179px;
@sort-disabled-offset-y: -148px;
@sort-disabled-width: 10px;
@sort-disabled-height: 15px;
@sort-disabled-total-width: 400px;
@sort-disabled-total-height: 326px;
@sort-disabled-image: '../images/a-spritesheet.png';
@sort-disabled: 179px 148px -179px -148px 10px 15px 400px 326px '../images/a-spritesheet.png';
@sort-x: 206px;
@sort-y: 313px;
@sort-offset-x: -206px;
@sort-offset-y: -313px;
@sort-width: 10px;
@sort-height: 12px;
@sort-total-width: 400px;
@sort-total-height: 326px;
@sort-image: '../images/a-spritesheet.png';
@sort: 206px 313px -206px -313px 10px 12px 400px 326px '../images/a-spritesheet.png';
@star-grey-sm-x: 253px;
@star-grey-sm-y: 284px;
@star-grey-sm-offset-x: -253px;
@star-grey-sm-offset-y: -284px;
@star-grey-sm-width: 17px;
@star-grey-sm-height: 15px;
@star-grey-sm-total-width: 400px;
@star-grey-sm-total-height: 326px;
@star-grey-sm-image: '../images/a-spritesheet.png';
@star-grey-sm: 253px 284px -253px -284px 17px 15px 400px 326px '../images/a-spritesheet.png';
@star-grey-solid-sm-x: 27px;
@star-grey-solid-sm-y: 313px;
@star-grey-solid-sm-offset-x: -27px;
@star-grey-solid-sm-offset-y: -313px;
@star-grey-solid-sm-width: 13px;
@star-grey-solid-sm-height: 13px;
@star-grey-solid-sm-total-width: 400px;
@star-grey-solid-sm-total-height: 326px;
@star-grey-solid-sm-image: '../images/a-spritesheet.png';
@star-grey-solid-sm: 27px 313px -27px -313px 13px 13px 400px 326px '../images/a-spritesheet.png';
@star-orange-md-x: 242px;
@star-orange-md-y: 144px;
@star-orange-md-offset-x: -242px;
@star-orange-md-offset-y: -144px;
@star-orange-md-width: 78px;
@star-orange-md-height: 46px;
@star-orange-md-total-width: 400px;
@star-orange-md-total-height: 326px;
@star-orange-md-image: '../images/a-spritesheet.png';
@star-orange-md: 242px 144px -242px -144px 78px 46px 400px 326px '../images/a-spritesheet.png';
@star-red-md-x: 140px;
@star-red-md-y: 0px;
@star-red-md-offset-x: -140px;
@star-red-md-offset-y: 0px;
@star-red-md-width: 49px;
@star-red-md-height: 55px;
@star-red-md-total-width: 400px;
@star-red-md-total-height: 326px;
@star-red-md-image: '../images/a-spritesheet.png';
@star-red-md: 140px 0px -140px 0px 49px 55px 400px 326px '../images/a-spritesheet.png';
@star-red-sm-x: 55px;
@star-red-sm-y: 313px;
@star-red-sm-offset-x: -55px;
@star-red-sm-offset-y: -313px;
@star-red-sm-width: 13px;
@star-red-sm-height: 13px;
@star-red-sm-total-width: 400px;
@star-red-sm-total-height: 326px;
@star-red-sm-image: '../images/a-spritesheet.png';
@star-red-sm: 55px 313px -55px -313px 13px 13px 400px 326px '../images/a-spritesheet.png';
@star-white-sm-x: 345px;
@star-white-sm-y: 284px;
@star-white-sm-offset-x: -345px;
@star-white-sm-offset-y: -284px;
@star-white-sm-width: 13px;
@star-white-sm-height: 13px;
@star-white-sm-total-width: 400px;
@star-white-sm-total-height: 326px;
@star-white-sm-image: '../images/a-spritesheet.png';
@star-white-sm: 345px 284px -345px -284px 13px 13px 400px 326px '../images/a-spritesheet.png';
@star-yellow-md-x: 153px;
@star-yellow-md-y: 179px;
@star-yellow-md-offset-x: -153px;
@star-yellow-md-offset-y: -179px;
@star-yellow-md-width: 49px;
@star-yellow-md-height: 55px;
@star-yellow-md-total-width: 400px;
@star-yellow-md-total-height: 326px;
@star-yellow-md-image: '../images/a-spritesheet.png';
@star-yellow-md: 153px 179px -153px -179px 49px 55px 400px 326px '../images/a-spritesheet.png';
@star-yellow-sm-x: 234px;
@star-yellow-sm-y: 284px;
@star-yellow-sm-offset-x: -234px;
@star-yellow-sm-offset-y: -284px;
@star-yellow-sm-width: 17px;
@star-yellow-sm-height: 15px;
@star-yellow-sm-total-width: 400px;
@star-yellow-sm-total-height: 326px;
@star-yellow-sm-image: '../images/a-spritesheet.png';
@star-yellow-sm: 234px 284px -234px -284px 17px 15px 400px 326px '../images/a-spritesheet.png';
@success-close-x: 322px;
@success-close-y: 187px;
@success-close-offset-x: -322px;
@success-close-offset-y: -187px;
@success-close-width: 42px;
@success-close-height: 42px;
@success-close-total-width: 400px;
@success-close-total-height: 326px;
@success-close-image: '../images/a-spritesheet.png';
@success-close: 322px 187px -322px -187px 42px 42px 400px 326px '../images/a-spritesheet.png';
@success-icon-x: 291px;
@success-icon-y: 313px;
@success-icon-offset-x: -291px;
@success-icon-offset-y: -313px;
@success-icon-width: 12px;
@success-icon-height: 12px;
@success-icon-total-width: 400px;
@success-icon-total-height: 326px;
@success-icon-image: '../images/a-spritesheet.png';
@success-icon: 291px 313px -291px -313px 12px 12px 400px 326px '../images/a-spritesheet.png';
@thick-arrow-down-grey-sm-x: 124px;
@thick-arrow-down-grey-sm-y: 313px;
@thick-arrow-down-grey-sm-offset-x: -124px;
@thick-arrow-down-grey-sm-offset-y: -313px;
@thick-arrow-down-grey-sm-width: 9px;
@thick-arrow-down-grey-sm-height: 13px;
@thick-arrow-down-grey-sm-total-width: 400px;
@thick-arrow-down-grey-sm-total-height: 326px;
@thick-arrow-down-grey-sm-image: '../images/a-spritesheet.png';
@thick-arrow-down-grey-sm: 124px 313px -124px -313px 9px 13px 400px 326px '../images/a-spritesheet.png';
@tick-green-x: 374px;
@tick-green-y: 122px;
@tick-green-offset-x: -374px;
@tick-green-offset-y: -122px;
@tick-green-width: 22px;
@tick-green-height: 18px;
@tick-green-total-width: 400px;
@tick-green-total-height: 326px;
@tick-green-image: '../images/a-spritesheet.png';
@tick-green: 374px 122px -374px -122px 22px 18px 400px 326px '../images/a-spritesheet.png';
@tick-white-sm-x: 242px;
@tick-white-sm-y: 224px;
@tick-white-sm-offset-x: -242px;
@tick-white-sm-offset-y: -224px;
@tick-white-sm-width: 12px;
@tick-white-sm-height: 9px;
@tick-white-sm-total-width: 400px;
@tick-white-sm-total-height: 326px;
@tick-white-sm-image: '../images/a-spritesheet.png';
@tick-white-sm: 242px 224px -242px -224px 12px 9px 400px 326px '../images/a-spritesheet.png';
@ticket-grey-x: 204px;
@ticket-grey-y: 179px;
@ticket-grey-offset-x: -204px;
@ticket-grey-offset-y: -179px;
@ticket-grey-width: 24px;
@ticket-grey-height: 24px;
@ticket-grey-total-width: 400px;
@ticket-grey-total-height: 326px;
@ticket-grey-image: '../images/a-spritesheet.png';
@ticket-grey: 204px 179px -204px -179px 24px 24px 400px 326px '../images/a-spritesheet.png';
@ticket-red-x: 153px;
@ticket-red-y: 122px;
@ticket-red-offset-x: -153px;
@ticket-red-offset-y: -122px;
@ticket-red-width: 24px;
@ticket-red-height: 24px;
@ticket-red-total-width: 400px;
@ticket-red-total-height: 326px;
@ticket-red-image: '../images/a-spritesheet.png';
@ticket-red: 153px 122px -153px -122px 24px 24px 400px 326px '../images/a-spritesheet.png';
@ticket-white-x: 285px;
@ticket-white-y: 192px;
@ticket-white-offset-x: -285px;
@ticket-white-offset-y: -192px;
@ticket-white-width: 24px;
@ticket-white-height: 24px;
@ticket-white-total-width: 400px;
@ticket-white-total-height: 326px;
@ticket-white-image: '../images/a-spritesheet.png';
@ticket-white: 285px 192px -285px -192px 24px 24px 400px 326px '../images/a-spritesheet.png';
@upload-grey-lg-x: 0px;
@upload-grey-lg-y: 0px;
@upload-grey-lg-offset-x: 0px;
@upload-grey-lg-offset-y: 0px;
@upload-grey-lg-width: 138px;
@upload-grey-lg-height: 120px;
@upload-grey-lg-total-width: 400px;
@upload-grey-lg-total-height: 326px;
@upload-grey-lg-image: '../images/a-spritesheet.png';
@upload-grey-lg: 0px 0px 0px 0px 138px 120px 400px 326px '../images/a-spritesheet.png';
@warning-close-x: 322px;
@warning-close-y: 143px;
@warning-close-offset-x: -322px;
@warning-close-offset-y: -143px;
@warning-close-width: 42px;
@warning-close-height: 42px;
@warning-close-total-width: 400px;
@warning-close-total-height: 326px;
@warning-close-image: '../images/a-spritesheet.png';
@warning-close: 322px 143px -322px -143px 42px 42px 400px 326px '../images/a-spritesheet.png';
@warning-icon-x: 233px;
@warning-icon-y: 313px;
@warning-icon-offset-x: -233px;
@warning-icon-offset-y: -313px;
@warning-icon-width: 12px;
@warning-icon-height: 12px;
@warning-icon-total-width: 400px;
@warning-icon-total-height: 326px;
@warning-icon-image: '../images/a-spritesheet.png';
@warning-icon: 233px 313px -233px -313px 12px 12px 400px 326px '../images/a-spritesheet.png';
@wrench-grey-sm-x: 135px;
@wrench-grey-sm-y: 313px;
@wrench-grey-sm-offset-x: -135px;
@wrench-grey-sm-offset-y: -313px;
@wrench-grey-sm-width: 12px;
@wrench-grey-sm-height: 13px;
@wrench-grey-sm-total-width: 400px;
@wrench-grey-sm-total-height: 326px;
@wrench-grey-sm-image: '../images/a-spritesheet.png';
@wrench-grey-sm: 135px 313px -135px -313px 12px 13px 400px 326px '../images/a-spritesheet.png';
@wrench-orange-md-x: 240px;
@wrench-orange-md-y: 236px;
@wrench-orange-md-offset-x: -240px;
@wrench-orange-md-offset-y: -236px;
@wrench-orange-md-width: 78px;
@wrench-orange-md-height: 46px;
@wrench-orange-md-total-width: 400px;
@wrench-orange-md-total-height: 326px;
@wrench-orange-md-image: '../images/a-spritesheet.png';
@wrench-orange-md: 240px 236px -240px -236px 78px 46px 400px 326px '../images/a-spritesheet.png';
@wrench-red-sm-x: 84px;
@wrench-red-sm-y: 313px;
@wrench-red-sm-offset-x: -84px;
@wrench-red-sm-offset-y: -313px;
@wrench-red-sm-width: 12px;
@wrench-red-sm-height: 13px;
@wrench-red-sm-total-width: 400px;
@wrench-red-sm-total-height: 326px;
@wrench-red-sm-image: '../images/a-spritesheet.png';
@wrench-red-sm: 84px 313px -84px -313px 12px 13px 400px 326px '../images/a-spritesheet.png';
@wrench-white-sm-x: 372px;
@wrench-white-sm-y: 284px;
@wrench-white-sm-offset-x: -372px;
@wrench-white-sm-offset-y: -284px;
@wrench-white-sm-width: 12px;
@wrench-white-sm-height: 13px;
@wrench-white-sm-total-width: 400px;
@wrench-white-sm-total-height: 326px;
@wrench-white-sm-image: '../images/a-spritesheet.png';
@wrench-white-sm: 372px 284px -372px -284px 12px 13px 400px 326px '../images/a-spritesheet.png';
@wrench-yellow-md-x: 242px;
@wrench-yellow-md-y: 96px;
@wrench-yellow-md-offset-x: -242px;
@wrench-yellow-md-offset-y: -96px;
@wrench-yellow-md-width: 78px;
@wrench-yellow-md-height: 46px;
@wrench-yellow-md-total-width: 400px;
@wrench-yellow-md-total-height: 326px;
@wrench-yellow-md-image: '../images/a-spritesheet.png';
@wrench-yellow-md: 242px 96px -242px -96px 78px 46px 400px 326px '../images/a-spritesheet.png';
@x-grey-md-x: 92px;
@x-grey-md-y: 284px;
@x-grey-md-offset-x: -92px;
@x-grey-md-offset-y: -284px;
@x-grey-md-width: 17px;
@x-grey-md-height: 17px;
@x-grey-md-total-width: 400px;
@x-grey-md-total-height: 326px;
@x-grey-md-image: '../images/a-spritesheet.png';
@x-grey-md: 92px 284px -92px -284px 17px 17px 400px 326px '../images/a-spritesheet.png';
@zoom-out-white-small-x: 198px;
@zoom-out-white-small-y: 284px;
@zoom-out-white-small-offset-x: -198px;
@zoom-out-white-small-offset-y: -284px;
@zoom-out-white-small-width: 16px;
@zoom-out-white-small-height: 16px;
@zoom-out-white-small-total-width: 400px;
@zoom-out-white-small-total-height: 326px;
@zoom-out-white-small-image: '../images/a-spritesheet.png';
@zoom-out-white-small: 198px 284px -198px -284px 16px 16px 400px 326px '../images/a-spritesheet.png';
@zoom-white-small-x: 216px;
@zoom-white-small-y: 284px;
@zoom-white-small-offset-x: -216px;
@zoom-white-small-offset-y: -284px;
@zoom-white-small-width: 16px;
@zoom-white-small-height: 16px;
@zoom-white-small-total-width: 400px;
@zoom-white-small-total-height: 326px;
@zoom-white-small-image: '../images/a-spritesheet.png';
@zoom-white-small: 216px 284px -216px -284px 16px 16px 400px 326px '../images/a-spritesheet.png';

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
.sprite-width(@sprite) {
  width: ~`"@{sprite}".split(', ')[4]`;
}

.sprite-height(@sprite) {
  height: ~`"@{sprite}".split(', ')[5]`;
}

.sprite-position(@sprite) {
  @sprite-offset-x: ~`"@{sprite}".split(', ')[2]`;
  @sprite-offset-y: ~`"@{sprite}".split(', ')[3]`;
  background-position: @sprite-offset-x  @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: ~`"@{sprite}".split(', ')[8].slice(1, -2)`;
  background-image: url(@sprite-image);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}
