.expandable {
	.expandable-header {
		background-color: #ecebeb;
		padding: 0.75em 1.75em 0.75em 1em;
		// .plus {
		// 	display: inline-block;
		// 	position: relative;
		// 	margin-left: 1em;
		// 	vertical-align: middle;
		// 	top: auto;
		// 	right: auto;
		// }
		.plus {
			right: 0.7em;
			top: 0.7em;
		}
	}
}