.slide-iframe {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	border: none;
	.opacity(0);
	.transition(all 0.25s ease);
	z-index: 1;

	&.active {
		.opacity(1);
		.transition(opacity 0.25s ease);
		// .transition-delay(0.25s);
	}
}