<!DOCTYPE html>
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <title>Promotion View | HighLow Affiliates</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta name="description" content="Welcome!" />
		<meta name="keywords" content="Welcome!" />
		<meta name="robots" content="index, follow" />
		<link type="text/css" rel="stylesheet" href="//fast.fonts.net/cssapi/521a1bbb-4492-4625-bae8-58bf3edd68bf.css"/>
		<link href="acontent/css/post-login.css" rel="stylesheet"/>
        <!--[if lt IE 9]>
  		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  		<![endif]-->
  		<link rel="shortcut icon" href="https://cdn.highlow.net/common/img/highlow_favicon.ico">
  		<link rel="icon" type="image/x-icon" href="https://cdn.highlow.net/common/img/highlow_favicon.ico" />
	</head>
	<body class="splash en">
	<!-- HL Google Tag Manager -->
		<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-WX2M5K"
			height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
			<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
				new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-WX2M5K');</script>
		<!-- End HL Google Tag Manager -->

	{% include header %}

	{% block content %}

	{% endblock %}

	</body>
</html>