<!DOCTYPE html>
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <title>{% block title %}HighLow 2.0 - It's time to make some serious money{% endblock %}</title>

	    <link rel="apple-touch-icon" sizes="57x57" href="assets/images/favicons/apple-touch-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="114x114" href="assets/images/favicons/apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="72x72" href="assets/images/favicons/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="144x144" href="assets/images/favicons/apple-touch-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="60x60" href="assets/images/favicons/apple-touch-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="120x120" href="assets/images/favicons/apple-touch-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="76x76" href="assets/images/favicons/apple-touch-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="152x152" href="assets/images/favicons/apple-touch-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicons/apple-touch-icon-180x180.png">
		<link rel="shortcut icon" href="assets/images/favicons/favicon.ico">
		<link rel="icon" type="image/png" href="assets/images/favicons/favicon-192x192.png" sizes="192x192">
		<link rel="icon" type="image/png" href="assets/images/favicons/favicon-160x160.png" sizes="160x160">
		<link rel="icon" type="image/png" href="assets/images/favicons/favicon-96x96.png" sizes="96x96">
		<link rel="icon" type="image/png" href="assets/images/favicons/favicon-16x16.png" sizes="16x16">
		<link rel="icon" type="image/png" href="assets/images/favicons/favicon-32x32.png" sizes="32x32">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="msapplication-TileImage" content="assets/images/favicons/mstile-144x144.png">
		<meta name="msapplication-config" content="assets/images/favicons/browserconfig.xml">

	    <!-- Meta for viewport -->
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
	    <meta name="apple-mobile-web-app-capable" content="yes" />
	    
	    <link href='http://fonts.googleapis.com/css?family=Roboto:100,500,300,700,400' rel='stylesheet' type='text/css'>

	    {% block commonStyle %}
	    	<link rel="stylesheet" href="assets/css/site-split.css" media="all" />
	    	<!--[if lt IE 9]>
				<link rel="stylesheet" type="text/css" href="assets/css/site-ie8.css" />
			<![endif]-->
	    {% endblock %}

	    <script type="text/javascript">
		    // first, create the object that contains
		    // configuration variables
		    var MTIConfig = {
			 EnableCustomFOUTHandler: true,
			 UseTextIndent: true
			};

		</script>
	    <script type="text/javascript" src="http://fast.fonts.net/jsapi/21d9f754-6257-4b0a-95a8-8dd04d55f8c1.js"></script>
	   
	    {% block pageStyle %}
	    {% endblock %}

	    <style>
	    	
	    </style>
	</head>
	<body class="{% block bodyClass %}{% endblock %}">
		<!-- begin main content -->
		{% block content %}{% endblock %}
		<!-- end main content -->
		
		<!-- begin javascript -->


		{% block defaultScript %}
			<script type="text/javascript">
				if(!window.console) {
					window.console = {
						log: function(){
							
						}
					}
				}

			</script>
			<script type="text/javascript" src="assets/js/third-parties.js"></script>
			<script type="text/javascript" src="assets/js/home-made.js"></script>
			<script type="text/javascript" src="assets/js/site.js"></script>
			
		{% endblock %}
		

		{% block scripts %}{% endblock %}
		<!-- end javascript -->
	</body>  
</html>