<div class="modal fade" id="first-time-welcome-message" tabindex="-1" role="dialog">
	<div class="p-css-table__fill p-css-table">
		<div class="p-css-table-row">
			<div class="p-css-table-cell p-css-table-cell__center">
				<div class="modal-dialog">
					<div class="modal-content">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<div class="modal-body">
							<div class="modal-headline">
								Welcome to <b>HighLow affiliates control centre</b>
							</div>
							<div class="modal-intro">
								This is a welcome message to some one that just signed up, you can show some features of your dashboard or links to configuration.
							</div>
							<div class="row first-time-welcome--quick-links">
								<a class="col-xs-6 col-sm-4 first-time-welcome--quick-link">
									<div class="first-time-welcome--quick-link--icon">
										<div class="sprite-icon__wrench-orange-md first-time-welcome--quick-link--icon-default">
										</div>
										<div class="sprite-icon__wrench-yellow-md first-time-welcome--quick-link--icon-hover">
										</div>
									</div>
									<div class="first-time-welcome--quick-link--label">
										Configure your settings
									</div>
								</a>
								<a class="col-xs-6 col-sm-4 first-time-welcome--quick-link">
									<div class="first-time-welcome--quick-link--icon">
										<div class="sprite-icon__man-orange-md first-time-welcome--quick-link--icon-default">
										</div>
										<div class="sprite-icon__man-yellow-md first-time-welcome--quick-link--icon-hover">
										</div>
									</div>
									<div class="first-time-welcome--quick-link--label">
										Adjust your profile
									</div>
								</a>
								<a href="payments.html" class="col-xs-6 col-sm-4 first-time-welcome--quick-link">
									<div class="first-time-welcome--quick-link--icon">
										<div class="sprite-icon__dollar-orange-md first-time-welcome--quick-link--icon-default">
										</div>
										<div class="sprite-icon__dollar-yellow-md first-time-welcome--quick-link--icon-hover">
										</div>
									</div>
									<div class="first-time-welcome--quick-link--label">
										Organise your payments
									</div>
								</a>
								<a href="view-promotions.html" class="col-xs-6 col-sm-4 first-time-welcome--quick-link">
									<div class="first-time-welcome--quick-link--icon">
										<div class="sprite-icon__star-orange-md first-time-welcome--quick-link--icon-default">
										</div>
										<div class="sprite-icon__star-yellow-md first-time-welcome--quick-link--icon-hover">
										</div>
									</div>
									<div class="first-time-welcome--quick-link--label">
										Explore our Creative
									</div>
								</a>
								<a href="faqs.html" class="col-xs-6 col-sm-4 first-time-welcome--quick-link">
									<div class="first-time-welcome--quick-link--icon">
										<div class="sprite-icon__help-orange-md first-time-welcome--quick-link--icon-default">
										</div>
										<div class="sprite-icon__help-yellow-md first-time-welcome--quick-link--icon-hover">
										</div>
									</div>
									<div class="first-time-welcome--quick-link--label">
										Visit our Help Centre
									</div>
								</a>
								<a class="col-xs-6 col-sm-4 first-time-welcome--quick-link">
									<div class="first-time-welcome--quick-link--icon">
										<div class="sprite-icon__link-orange-md first-time-welcome--quick-link--icon-default">
										</div>
										<div class="sprite-icon__link-yellow-md first-time-welcome--quick-link--icon-hover">
										</div>
									</div>
									<div class="first-time-welcome--quick-link--label">
										View your unique url
									</div>
								</a>
							</div>
							<div class="modal-footer">
								<div data-dismiss="modal" class="close">
									Just go straight to my Dashboard&nbsp;&nbsp;»
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>