<div class="modal fade" id="get-code-modal" tabindex="-1" role="dialog">
	<div class="p-css-table__fill p-css-table">
		<div class="p-css-table-row">
			<div class="p-css-table-cell p-css-table-cell__center">
				<div class="modal-dialog">
					<div class="modal-content">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="sprite-icon__x-grey-md"></span></button>
						<div class="modal-body">
							<div id="get-code-modal--layout">
								<div class="p-css-table">
									<div class="p-css-table-row">
										<div id="get-code-modal--banner-preview" class="p-css-table-cell">
											
										</div>
										<div class="p-css-table-cell get-code-modal--banner-details">
											<div class="get-code-modal--banner-details--header">
												<strong id="get-code-modal--banner-details--dimensions"></strong> - <strong id="get-code-modal--banner-details--name"></strong> <span class="word" id="get-code-modal--banner-details--format"></span>
											</div>
											<p>
												Paste the below code into your website. It contains your personal Affiliate ID and all conversions will be tracked automatically.
											</p>
											<br/>
											<label for="landing-page-select">Target URL:</label>
											<br/>
											<div class="banner--details--target-link">	
												<select id="landing-page-select" class="banner--details--target-link-selector">
													<option selected="selected" value="https://en2.highlow.net/account">https://en2.highlow.net/account</option>
													<option value="https://en2.highlow.net/lp-traders">https://en2.highlow.net/lp-traders</option>
													<option value="https://en2.highlow.net/landing">https://en2.highlow.net/landing</option>
												</select>
											</div>
											<br/>
											<br/>
											<textarea class="banner-code-holder" id="get-code-modal--banner-details--code" readonly="readonly">
				<a href="http://www.google.com?a_aid=55b5cf4903c24&amp;a_cid=55b2298372b7f&amp;a_bid=5593b9124eeab" target="_top" style="position: relative;"><div style="position:absolute;width:100%;height:100%;z-index:1;"></div><iframe style="width: 300px; height: 250px; border: none; outline: none; display: block;" src="http://point.agency/highlow/banners/market-related/mrec/banner.html"></iframe></a>
											</textarea>
											<a class="get-code-modal--banner-details--add-custom-code bannerOption" href="#"><i class="fa fa-plus"></i> &nbsp;Add your own code</a>
											<div class="subCodeDiv" style="display: none;">
												<input type="text" id="banner-sub-code" name="subCodeText" class="form-control subCodeText" placeholder="Sub Code" value="">
												<br/>
												<br/>
												<button type="button" class="btn-alternate btn btn-extruded applySubCode" data-target="#get-code-modal--banner-details--code">APPLY</button>
											</div>		
											<div class="banner--details--favourite">
												<label>
													<input type="checkbox" id="get-code-modal--banner-details--favourite" class="banner--details--favourite--checkbox" value="all"/>
													<span class="banner--details--favourite--icon">
													</span>
												</label>
											</div>		
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>