<header>
	<nav class="navbar navbar-default splash-nav navbar-fixed-top" role="navigation">
		<div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		    	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        	<span class="sr-only"></span>
		        	<span class="icon-bar"></span>
		        	<span class="icon-bar"></span>
		        	<span class="icon-bar"></span>
		      	</button>
				
				<a href='/en/' class="high-low pull-left icon"></a>
		    </div>
		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		    	<ul class="nav navbar-nav navbar-right">
		        	<li ><a href="/en/">AFFILIATES</a></li>
		        	<li ><a href="/en/faq">FAQ</a></li>
		            <li ><a href="/en/contact-us">CONTACT US</a></li>
		            <li ><a href="/en/my-account/">MY ACCOUNT</a></li>
		            <li><a href="/en/logout" class="highlight">SIGN OUT</a></li>
		        </ul>
		    </div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
</header>		