<div class="modal fade" id="landing-page-detail-modal" tabindex="-1" role="dialog">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="sprite-icon__cross-grey-lg"></span></button>
	<div class="container">
		<div id="landing-page-detail--favourite" class="favourite">

		</div>
		<div id="landing-page-detail--name">
			HighLow Markets Home page
		</div>
		<div id="landing-page-detail--url-container">
			<div id="landing-page-detail--url">
				https://en2.highlow.net/account
			</div>
		</div>

		<div id="landing-page-detail--screenshot-carousel" class="carousel slide carousel-fade" data-ride="carousel">
			<div class="carousel-inner" id="landing-page-detail--screenshot-carousel--inner" role="listbox">
			    <div class="item active">
			      <img src="acontent/landing-page-screenshots/lp-detail-shot-1.png">
			    </div>
			    <div class="item">
			      <img src="acontent/landing-page-screenshots/lp-detail-shot-2.png">
			    </div>
			    <div class="item">
			      <img src="acontent/landing-page-screenshots/lp-detail-shot-3.png">
			    </div>
			</div>
			<ol id="landing-page-detail--screenshot-carousel--indicators" class="carousel-indicators">
			    <li data-target="#landing-page-detail--screenshot-carousel" data-slide-to="0" class="active"></li>
			    <li data-target="#landing-page-detail--screenshot-carousel" data-slide-to="1"></li>
			    <li data-target="#landing-page-detail--screenshot-carousel" data-slide-to="2"></li>
			</ol>
		</div>

		<div id="landing-page-detail--description">
			<strong>Featuring a built-in sign-up form, plus regionally dynamic content</strong>
			<p>A general, simple landing page outlining key features, an image of the HighLow platform and the sign-up bonus. This page dynamically loads country-specific content using blahBlah, meaning a more relevant experience for the lead.<p>
			<p>Potential leads can sign-up for HighLow directly from this page.</p>
		</div>

		<a href="" id="landing-page-detail--open-new-tab" target="_blank" class="btn btn-alternate btn-extruded">
			OPEN IN NEW TAB
		</a>
	</div>
</div>