<div class="modal fade filter-modal" id="lead-status-filter-modal" tabindex="-1" role="dialog">
	<div class="p-css-table__fill p-css-table">
		<div class="p-css-table-row">
			<div class="p-css-table-cell p-css-table-cell__center">
				<div class="modal-bg" data-dismiss="modal">
				</div>
				<div class="modal-dialog">
					<div class="modal-content">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="sprite-icon__x-grey-md"></span></button>

						<form class="form-ajax" id="lead-status-filter-form">
							<div class="modal-body">
								<div class="modal-headline">
									Filter
								</div>
								<div class="row modal-body--inner-panel">
									<div class="form">
										<div class="form-control-group">
											<label for="lead-status-filter--status">Status</label>
											<select id="lead-status-filter--status" class="form-control selectBoxit">
												<option value="">
													Where in the sales funnel?
												</option>
												<option value="">
													All
												</option>
												<option value="clicked">
													Clicked
												</option>
												<option value="registered">
													Registered
												</option>
												<option value="approved">
													Approved
												</option>
												<option value="funded">
													Funded
												</option>
												<option value="traded">
													Traded
												</option>
											</select>
										</div>
									</div>
									<div class="form">
										<div class="form-control-group">
											<label for="lead-status-filter--commission">Commission</label>
											<select id="lead-status-filter--commission" class="form-control selectBoxit">
												<option value="">
													Paid or unpaid?
												</option>
												<option value="1">
													Paid
												</option>
												<option value="0">
													Unpaid
												</option>
											</select>
										</div>
									</div>
									<div class="form">
										<div class="form-control-group">
											<label for="lead-status-filter--country">Country</label>
											<select id="lead-status-filter--country" class="form-control selectBoxit">
												<option value="">
													Where is the lead from?
												</option>
												<option value="1">
													Australia
												</option>
												<option value="0">
													Singapore
												</option>
												<option value="0">
													Japan
												</option>
												<option value="0">
													UK
												</option>
											</select>
										</div>
									</div>
									<div class="form">
										<div class="form-control-group">
											<label for="lead-status-filter--banner">Referring banner</label>
											<select id="lead-status-filter--banner" class="form-control selectBoxit">
												<option value="">
													Where is the lead from?
												</option>
												<option value="1">
													Australia
												</option>
												<option value="0">
													Singapore
												</option>
												<option value="0">
													Japan
												</option>
												<option value="0">
													UK
												</option>
											</select>
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<div data-dismiss="modal" class="btn-extruded btn btn-alternate form-ajax--submit">
										<i class="sprite-icon__filter-white-sm"></i>&nbsp;
										FILTER
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>