<div class='settings--tabs-heading'>
	SETTINGS
</div>
<ul class="settings--tabs">
	<li class="settings--tab {{settingsProfile}}">
		<a href="settings-profile.html">
			<span class="settings--tab--icon">	
				<span class="sprite-icon__profile-line-grey-sm settings--tab--icon--default">
				</span>
				<span class="sprite-icon__profile-line-red-sm settings--tab--icon--active">
				</span>	
			</span>Profile settings
		</a>
	</li>
	<li class="settings--tab {{settingsBankAndPayments}}">
		<a href="settings-bank-and-payments.html">
			<span class="settings--tab--icon">	
				<span class="sprite-icon__bank-line-grey-sm settings--tab--icon--default">
				</span>
				<span class="sprite-icon__bank-line-red-sm settings--tab--icon--active">
				</span>	
			</span>Bank and payment
		</a>
	</li>
	<li class="settings--tab {{settingsMyWebsites}}">
		<a href="settings-my-websites.html">
			<span class="settings--tab--icon">	
				<span class="sprite-icon__link-line-grey-sm settings--tab--icon--default">
				</span>
				<span class="sprite-icon__link-line-red-sm settings--tab--icon--active">
				</span>	
			</span>My websites
		</a>
	</li>
	<li class="settings--tab {{settingsChangePassword}}">
		<a href="settings-profile.html">
			<span class="settings--tab--icon">	
				<span class="sprite-icon__lock-line-grey-sm settings--tab--icon--default">
				</span>
				<span class="sprite-icon--lock-line-red-sm settings--tab--icon--active">
				</span>	
			</span>Change password
		</a>
	</li>
</ul>