<div class="side-content sticky-side-content hidden-xs" id="side-menu">
	<div class="side-content-inner">
		<!--sidebar nav start-->
		<ul class="nav nav-pills nav-stacked custom-nav">
			<li class="user dropdown">
				<a href="#" data-toggle="dropdown" class="dropdown-toggle">
					<img class="avatar" src="https://cdn.highlow.net/acontent/images/default.jpg" />
					<span>
						Hi, Hamish!
					</span>
					<i class="sprite-icon__down-pink-sm menu-list--dropdown-icon"></i>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a href="#">
							<i class="fa fa-user"></i> My Profile
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fa fa-key"></i> Change Password
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fa fa-sign-out"></i> SIGN OUT
						</a>
					</li>
				</ul>
			</li>
			<li>
				<div class="side-content--header">
					MENU
				</div>
			</li>
			<li >
				<a href="#">
					<i class="fa fa-globe fa-icon"></i> <span>Dashboard</span>
				</a>
			</li>
			<li class="{{ promotion }}">
				<a href="#">
					<i class="fa fa-star fa-icon"></i> <span>Promotions</span>
				</a>
			</li>
			<li class="menu-list">
				<a href="javascript:void(0);">
					<i class="fa fa-signal fa-icon"></i> 
					<span>Reports</span> 
					<i class="sprite-icon__down-grey-sm menu-list--dropdown-icon"></i>
				</a>
				<ul class="sub-menu-list">
					<li class="">
						<a href="#">
							<span>Clicks</span>
						</a>
					</li>
					<li class="">
						<a href="#">
							<span>Conversion</span>
						</a>
					</li>
				</ul>
			</li>
			<li class="">
				<a href="#">
					<i class="fa fa-link fa-icon"></i> <span>Direct Links</span>
				</a>
			</li>
			<li class="">
				<a href="#">
					<i class="fa fa-dollar fa-icon"></i> <span>Payout</span>
				</a>
			</li>
		</ul>
		<!--sidebar nav end-->
	</div>
</div>