.hero.affiliate {

    -webkit-backface-visibility: hidden;
 -moz-backface-visibility: hidden;
 backface-visibility: hidden;
	.bg {
		top: auto;
		width: auto;
		position: absolute;
		bottom: 0;
		right:0;
		left: auto;
		z-index: -1;
		-webkit-backface-visibility: hidden;
 -moz-backface-visibility: hidden;
 backface-visibility: hidden;
		min-height: 100%;
			min-width: 100%;
		@media (min-width:1650px)  {
			
		}
		@media(max-width:1366px) {
			right: auto;
			left: 0;
		}
		@media (min-width: 1920px) {
			
			min-height: 100%;
			min-width: 100%;
			max-width: 1000%;
		}
	}
	.headline {
		position: relative;
		ul > li {
			line-height: 1.5em;
			margin-bottom: 0.45em;
			&:before {
				top: 0.45em;
			}
		}
	}
	.hero-content.demo {
		.headline-demo-wrap {
			max-width: 1170px;
			position: relative;
			margin: 0 auto;
			@media (max-width: 1170px) {
				padding-left: 30px;
				padding-right: 30px;
			}
		}
		.headline.demo {
			.btn {
				font-family: @font-mont;
				font-size: 0.8125em;
				padding: 2em 2.4em;
				text-transform: uppercase;
				width: auto;
				display: block;
				float: left;
				> strong {
					font-size: 1em;
					color: white;
					letter-spacing: inherit;
					font-weight: 400;
					display: inline;
				}

				@media (max-width: 1440px) {
					padding: 1.4em 2.4em;
				}
			}
			p {
				margin-bottom: 1em;
				@media (max-width: 1440px) and (min-width: 1280px) {
					font-size: 1.25em;
					line-height: 1.2em;
					width: 30em;
				}
			}
			.headline-content {
				padding: 0;
				h1 {
					margin-bottom: 0.4em;

					@media (max-width: 1440px) {
						margin-bottom: 0.35em;
					}

					@media (max-width: 480px) {
						margin-bottom: 0.45em;
						line-height: 0.85em;
					}
					@media (min-width: 1650px) {
						font-size: 92px;
						line-height: 79px;
						margin-bottom: 42px;
					}
				}

				@media(max-width: 920px) {
					.sign-up-cta {
						display: none;
					}
				}

				@media(max-width: 767px) {
					.sign-up-cta {
						display: block;
					}
				}
				
				&.verify {
					text-align: center;
					
					h1 {
						width: 100%;
					}
					
					p {
						width: 100%;
						max-width: 100%;
						float: none;
					}
				}
			}

			#demo-block {
				padding-right: 0em;
				position: relative;
				width: 56%;

				.sign-up-cta {
					display: none;
					float: right;
					width: 20em;
					margin: 24px 30px 0px 0px;
				}

				@media(min-width: 1650px) {
					width: 56%;
				}

				@media(max-width: 1440px) {
					width: 43%;
				}

				@media(max-width: 700px) {
					img {
						max-height: 360px;
					}
				}

				

				@media(max-height: 900px) {
					img {
						max-height: 490px;
					}
				}

				@media (max-height: 800px) {
					img {
						max-height: 410px;
					}
				}

				@media(max-width: 920px) {
					img {
						max-height: 360px;
					}
					.sign-up-cta {
						display: block;
					}
				}
			}
			@media(max-width:590px) {
				ul > li {
					br {
						display: none;
					}
				}
			}
		}
		
	}
	.modal .modal-body {
		p {
			line-height: normal;
			font-size: 1.25em;
			font-weight: 300;
			color: #9a9ca2;
			margin: 1em auto 0;
		}
	}
	
	&.message-page {
		.hero-content.demo .headline.demo .headline-content.verify p {
			font-size: 21px;
			line-height: 32px;
			margin:bottom: 1.3em;
		}
		
		img {
			margin-bottom: 20px;
		}
		
		a {
			color: #fff;
			font-size: 14px;
			text-decoration: underline;
		}
	}
}

.hero.heading-only {
	h1 {
		margin-top: 0.7em;
		margin-bottom: 0.6em;
	}
	.bg {
		z-index: -1;
	}
}

@media (max-width: 767px) {
	.hero.heading-only h1 {
		font-size: 3em;
		margin-top: 0.5em;
	}
}


