{% extends base %}


{% block bodyClass %}root{% endblock %}

{% block content %}

<!-- HighLow 2.0 It's time to make some serious money -->

<input type="hidden" id="asset-path" value="assets/images/"/>

<iframe id="make-serious-money" name="make-serious-money" class="slide-iframe active" src="make-serious-money.html">
</iframe>

<iframe id="relaunch-soon" name="relaunch-soon" class="slide-iframe" src="relaunch-soon.html">
</iframe>

<iframe id="we-want-to-help" name="we-want-to-help" class="slide-iframe" src="we-want-to-help.html">
</iframe>

<iframe id="sell-highlow-effectively" name="sell-highlow-effectively" class="slide-iframe" src="sell-highlow-effectively.html">
</iframe>

<!-- end Stunning creative -->


<div id="slide-selectors">
	<div class="slide-selector active" data-target="#make-serious-money">
	</div>
	<div class="slide-selector" data-target="#relaunch-soon">
	</div>
	<div class="slide-selector" data-target="#we-want-to-help">
	</div>
	<div class="slide-selector" data-target="#sell-highlow-effectively" data-step="intro">
	</div>
	<div class="slide-selector" data-target="#sell-highlow-effectively" data-step="appropriate-message">
	</div>
	<div class="slide-selector" data-target="#sell-highlow-effectively" data-step="stunning-creative">
	</div>
	{% comment %}<div class="slide-selector" data-target="">
	</div>
	<div class="slide-selector" data-target="">
	</div>{% endcomment %}
</div>

{% endblock %}

{% block defaultScript %}
	<script type="text/javascript">
		if(!window.console) {
			window.console = {
				log: function(){
					
				}
			}
		}
	</script>
	<script type="text/javascript" src="assets/js/third-parties.js"></script>
	<script type="text/javascript" src="assets/js/home-made.js"></script>
	<script type="text/javascript" src="assets/js/site-iframe-version.js"></script>
	
{% endblock %}