{% extends iframe-base %}


{% block bodyClass %}sell-highlow-effectively{% endblock %}

{% block content %}

<div id="sell-highlow-effectively" class="p-full-screen-slide">
	<div id="sell-highlow-effectively--bg">
	</div>
	<div id="sell-highlow-effectively--text">
		<div class="css-table css-table-fill">
			<div class="css-table-row">
				<div class="css-table-cell css-table-cell-vcenter">
					<div id="sell-highlow-effectively--text-content">
						<span class="unhighlighted-text">so</span> <span class="unhighlighted-text">it&rsquo;s</span> <span class="unhighlighted-text">important</span> <span class="unhighlighted-text">that</span> <span class="unhighlighted-text">you</span> <em id="sell-highlow-effectively--heading--sell">sell</em> <em id="sell-highlow-effectively--heading--highlow">highlow</em> <span class="unhighlighted-text">to</span> <span class="unhighlighted-text">your</span> <span class="unhighlighted-text">leads</span> <em id="sell-highlow-effectively--heading--effectively">effectively</em>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="appropriate-messaging" class="p-full-screen-slide">
	<div id="appropriate-messaging--heading">
		<span id="appropriate-messaging--heading--common">
			<span id="appropriate-messaging--heading--sell">SELL</span>
			<span id="appropriate-messaging--heading--highlow">HIGHLOW</span>
			<span id="appropriate-messaging--heading--effectively">EFFECTIVELY</span>
		</span>
		<div id="appropriate-messaging--heading--variable">
			
		</div>
		<div id="appropriate-messaging--messages">
			<div class="appropriate-messaging--message-container">
				<div class="appropriate-messaging--message">
					<div class="appropriate-messaging--message--inner-wrap">
						<div class="appropriate-messaging--message--icon">
							<img src="assets/images/200.png"/>
						</div>
						<div class="appropriate-messaging--message--text">
							HighLow offer industry-best payouts, with returns of up to 200% on your initial investment, quickly and securely.
						</div>
					</div>
				</div>
				<div class="appropriate-messaging--message">
					<div class="appropriate-messaging--message--inner-wrap">
						<div class="appropriate-messaging--message--icon">
							<img src="assets/images/withdraw-yen.png"/>
						</div>
						<div class="appropriate-messaging--message--text">
							HighLow is the only Broker who allow you to withdraw your funds in Yen, for free in real-time. No delays – no transactional fees.
						</div>
					</div>
				</div>
				<div class="appropriate-messaging--message">
					<div class="appropriate-messaging--message--inner-wrap">
						<div class="appropriate-messaging--message--icon">
							<img src="assets/images/support.png"/>
						</div>
						<div class="appropriate-messaging--message--text">
							HighLow has a Japanese phone support team who are highly skilled and dedicated. They exist to help whenever you need it.
						</div>
					</div>
				</div>
				<div class="appropriate-messaging--message active">
					<div class="appropriate-messaging--message--inner-wrap">
						<div class="appropriate-messaging--message--icon">
							<img src="assets/images/withdraw-yen.png"/>
						</div>
						<div class="appropriate-messaging--message--text">
							HighLow is the only Broker who allow you to withdraw your funds in Yen, for free in real-time. No delays – no transactional fees.
						</div>
					</div>
				</div>
				<div class="appropriate-messaging--message">
					<div class="appropriate-messaging--message--inner-wrap">
						<div class="appropriate-messaging--message--icon">
							<img src="assets/images/support.png"/>
						</div>
						<div class="appropriate-messaging--message--text">
							HighLow has a Japanese phone support team who are highly skilled and dedicated. They exist to help whenever you need it.
						</div>
					</div>
				</div>
				<div class="appropriate-messaging--message">
					<div class="appropriate-messaging--message--inner-wrap">
						<div class="appropriate-messaging--message--icon">
							<img src="assets/images/withdraw-yen.png"/>
						</div>
						<div class="appropriate-messaging--message--text">
							HighLow is the only Broker who allow you to withdraw your funds in Yen, for free in real-time. No delays – no transactional fees.
						</div>
					</div>
				</div>
				<div class="appropriate-messaging--message">
					<div class="appropriate-messaging--message--inner-wrap">
						<div class="appropriate-messaging--message--icon">
							<img src="assets/images/support.png"/>
						</div>
						<div class="appropriate-messaging--message--text">
							HighLow has a Japanese phone support team who are highly skilled and dedicated. They exist to help whenever you need it.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="appropriate-messaging--arrows">
		<div id="appropriate-messaging--arrows--left">
			<img src="assets/images/left.png"/>
		</div>
		<div id="appropriate-messaging--arrows--right">
			<img src="assets/images/right.png"/>
		</div>
	</div>
</div>

<div id="stunning-creative" class="p-full-screen-slide">
	<div id="stunning-creative--items">
		<div class="stunning-creative--item-container">
			<div class="stunning-creative--item playable">
				<div class="stunning-creative--item--inner-wrap">
					<img src="assets/images/sample-creative-1.png" class="stunning-creative--item--item"/>
					<div class="stunning-creative--item--meta">
						<span class="stunning-creative--item--meta--name">"Lorem ipsum"</span>
						<span class="stunning-creative--item--meta--sizes">300x250px, 728x90px, 120x600px, 120x60</span>
						<span class="stunning-creative--item--meta--formats">.swf, .jpg, .gif</span>
					</div>
				</div>
			</div>
			<div class="stunning-creative--item">
				<div class="stunning-creative--item--inner-wrap">
					<img src="assets/images/sample-creative-2.png" class="stunning-creative--item--item"/>
					<div class="stunning-creative--item--meta">
						<span class="stunning-creative--item--meta--name">"Lorem ipsum"</span>
						<span class="stunning-creative--item--meta--sizes">300x250px, 728x90px, 120x600px, 120x60</span>
						<span class="stunning-creative--item--meta--formats">.swf, .jpg, .gif</span>
					</div>
				</div>
			</div>
			<div class="stunning-creative--item playable">
				<div class="stunning-creative--item--inner-wrap">
					<img src="assets/images/sample-creative-3.png" class="stunning-creative--item--item"/>
					<div class="stunning-creative--item--meta">
						<span class="stunning-creative--item--meta--name">"Lorem ipsum"</span>
						<span class="stunning-creative--item--meta--sizes">300x250px, 728x90px, 120x600px, 120x60</span>
						<span class="stunning-creative--item--meta--formats">.swf, .jpg, .gif</span>
					</div>
				</div>
			</div>
			<div class="stunning-creative--item playable">
				<div class="stunning-creative--item--inner-wrap">
					<img src="assets/images/sample-creative-1.png" class="stunning-creative--item--item"/>
					<div class="stunning-creative--item--meta">
						<span class="stunning-creative--item--meta--name">"Lorem ipsum"</span>
						<span class="stunning-creative--item--meta--sizes">300x250px, 728x90px, 120x600px, 120x60</span>
						<span class="stunning-creative--item--meta--formats">.swf, .jpg, .gif</span>
					</div>
				</div>
			</div>
			<div class="stunning-creative--item active">
				<div class="stunning-creative--item--inner-wrap">
					<img src="assets/images/sample-creative-2.png" class="stunning-creative--item--item"/>
					<div class="stunning-creative--item--meta">
						<span class="stunning-creative--item--meta--name">"Lorem ipsum"</span>
						<span class="stunning-creative--item--meta--sizes">300x250px, 728x90px, 120x600px, 120x60</span>
						<span class="stunning-creative--item--meta--formats">.swf, .jpg, .gif</span>
					</div>
				</div>
			</div>
			<div class="stunning-creative--item playable">
				<div class="stunning-creative--item--inner-wrap">
					<img src="assets/images/sample-creative-3.png" class="stunning-creative--item--item"/>
					<div class="stunning-creative--item--meta">
						<span class="stunning-creative--item--meta--name">"Lorem ipsum"</span>
						<span class="stunning-creative--item--meta--sizes">300x250px, 728x90px, 120x600px, 120x60</span>
						<span class="stunning-creative--item--meta--formats">.swf, .jpg, .gif</span>
					</div>
				</div>
			</div>
			<div class="stunning-creative--item playable">
				<div class="stunning-creative--item--inner-wrap">
					<img src="assets/images/sample-creative-1.png" class="stunning-creative--item--item"/>
					<div class="stunning-creative--item--meta">
						<span class="stunning-creative--item--meta--name">"Lorem ipsum"</span>
						<span class="stunning-creative--item--meta--sizes">300x250px, 728x90px, 120x600px, 120x60</span>
						<span class="stunning-creative--item--meta--formats">.swf, .jpg, .gif</span>
					</div>
				</div>
			</div>
			<div class="stunning-creative--item">
				<div class="stunning-creative--item--inner-wrap">
					<img src="assets/images/sample-creative-2.png" class="stunning-creative--item--item"/>
					<div class="stunning-creative--item--meta">
						<span class="stunning-creative--item--meta--name">"Lorem ipsum"</span>
						<span class="stunning-creative--item--meta--sizes">300x250px, 728x90px, 120x600px, 120x60</span>
						<span class="stunning-creative--item--meta--formats">.swf, .jpg, .gif</span>
					</div>
				</div>
			</div>
			<div class="stunning-creative--item playable">
				<div class="stunning-creative--item--inner-wrap">
					<img src="assets/images/sample-creative-3.png" class="stunning-creative--item--item"/>
					<div class="stunning-creative--item--meta">
						<span class="stunning-creative--item--meta--name">"Lorem ipsum"</span>
						<span class="stunning-creative--item--meta--sizes">300x250px, 728x90px, 120x600px, 120x60</span>
						<span class="stunning-creative--item--meta--formats">.swf, .jpg, .gif</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="stunning-creative--arrows">
		<div id="stunning-creative--arrows--left">
			<img src="assets/images/left.png"/>
		</div>
		<div id="stunning-creative--arrows--right">
			<img src="assets/images/right.png"/>
		</div>
	</div>
</div>

{% endblock %}

{% block scripts %}

	<script>

		$(document).ready(function(){

			window.finishedAnimating = false;

			window.resetDelay = 750;

			var slide4Loaded = false;
			var slide5Loaded = false;
			var slide6Loaded = false;
			var assetPath = $('#asset-path').val();

			var $frame = $('#sell-highlow-effectively'),
				$sellEffectiveBG = $('#sell-highlow-effectively--bg'),
				$sellEffectiveText = $('#sell-highlow-effectively--text'),
				$sellEffectiveHeadingSell = $('#sell-highlow-effectively--heading--sell'),
				$sellEffectiveHeadingHighlow = $('#sell-highlow-effectively--heading--highlow'),
				$sellEffectiveHeadingEffectively = $('#sell-highlow-effectively--heading--effectively'),
				$slide5 = $('#appropriate-messaging'),
				$appropriateMessagingHeadingSell = $('#appropriate-messaging--heading--sell'),
				$appropriateMessagingHeadingHighlow = $('#appropriate-messaging--heading--highlow'),
				$appropriateMessagingHeadingEffectively = $('#appropriate-messaging--heading--effectively'),
				$appropriateMessagingHeadingVariable = $('#appropriate-messaging--heading--variable'),
				$appropriateMesasgingArrows = $('#appropriate-messaging--arrows'),
				$slide6 = $('#stunning-creative');

			window.reset = function() {
				window.location.reload();
			}

			window.exitBeforeReset = true;

			window.exit = function(callback,parallelCallback,index) {

				setTimeout(function(){
					if(parallelCallback)
						parallelCallback();
				},250);

				setTimeout(function() {
					callback();
				},750);
			}

			$('#make-serious-money--slide-selector').click(function() {
				window.exit();
				window.parent.enterSlide('#we-want-to-help');
			});

			window.enter = function (callback) {

				console.log("ENTER sell-highlow-effectively");

				ImageContainerFadeIn();

				function execute() {	
					$('.p-full-screen-slide.active').removeClass('active');
					$frame.addClass('active');
					$frame.addClass('enter');

					$sellEffectiveBG.velocity({
						opacity: 1
					},{
						duration: 1000,
						easing: [.87,-0.13,1,.07]
					});

					$sellEffectiveText.velocity({
						opacity: 1,
						top: 0
					},{
						duration: 1500,
						easing: 'ease'
					});
				
					$('#sell-highlow-effectively--text em').velocity({
						top: 0,
						opacity: 1
					},{
						duration: 1500,
						easing: 'ease',
						complete: function() {

							window.finishedAnimating = true;

							if(callback) {
								callback();
							}
						}
					});
				
				}

				if(!slide4Loaded) {
					$frame.imagesLoaded (function(){
						execute();
						slide4Loaded = true;
					});
				} else {
					execute();
				}

			}

			window.currentStep = 'intro';

			window.steps = {
				'intro' : function(callback) {

					if(currentStep == 'appropriate-message' || currentStep == 'stunning-creative') {
						window.parent.enterSlide('#sell-highlow-effectively',null,true);
					} else {
						window.parent.enterSlide('#sell-highlow-effectively',null,true);
					}

				},
				'appropriate-message' : function(callback) {

					function execute() {	
						
						$slide5.addClass('active');
						$slide5.addClass('enter');

						$sellEffectiveHeadingSell.css({
							opacity: 0
						});

						$sellEffectiveHeadingHighlow.css({
							opacity: 0
						});

						$sellEffectiveHeadingEffectively.css({
							opacity: 0
						});

						$('#appropriate-messaging--heading').css({
							opacity: 1
						});


						var string = "WITH APPROPRIATE MESSAGING",
							enteredString = "";

						function enterChar(callback) {

							enteredString = enteredString + string[enteredString.length];

							$appropriateMessagingHeadingVariable.html(enteredString);


							if(enteredString.length<string.length) {
								setTimeout(function(){
									enterChar(callback);
								},20);
							} else {
								callback();
							}
						}

						enterChar(function(){

							$appropriateMesasgingArrows.velocity({
								opacity: 1
							},{
								duration: 250,
								easing: 'ease',
								complete: function(){
									$('.appropriate-messaging--message').addClass('in');
									if(callback) {
										callback();
									}
								}
							});

						});

					}


					function enter() {
						if(currentStep == 'stunning-creative') {

							$('#stunning-creative').removeClass('active');
							$('#appropriate-message').addClass('active');

							$('.appropriate-messaging--message').removeClass('in');

							$('.appropriate-messaging--message').velocity('stop');

							$('.appropriate-messaging--message').attr('style','');

							$('#stunning-creative--arrows').velocity({
								opacity : 0
							});

							$('.stunning-creative--item').each(function(){
								var self = $(this);

								self.css({
									transition: 'none'
								});

								self.velocity({
									opacity: 0,
									top: '40px'
								},{
									duration: Utils.getRandomInt(250,750),
									easing: 'ease'
								});

							});

							setTimeout(function(){
								execute();
							},750);


						} else if (currentStep == 'intro') {

							$('#sell-highlow-effectively--text-content .unhighlighted-text').each(function(){
								var self = $(this);
								self.velocity({
									opacity: 0,
									top: ((self.offset().top+self.outerHeight()/2)<$(window).height()/2)?(Utils.getRandomInt(-120,0)+'px'):(Utils.getRandomInt(0,120)+'px'),
									left: ((self.offset().left+self.outerWidth()/2)<$(window).width()/2)?(Utils.getRandomInt(-120,0)+'px'):(Utils.getRandomInt(0,120)+'px')
								},{
									duration: 500,
									easing: 'ease'
								});
							});

							$('#sell-highlow-effectively--text em').velocity('stop');

							$sellEffectiveHeadingSell.css({
								top: $sellEffectiveHeadingSell.offset().top,
								left: $sellEffectiveHeadingSell.offset().left,
							});

							$sellEffectiveHeadingHighlow.css({
								top: $sellEffectiveHeadingHighlow.offset().top,
								left: $sellEffectiveHeadingHighlow.offset().left
							});

							$sellEffectiveHeadingEffectively.css({
								top: $sellEffectiveHeadingEffectively.offset().top,
								left: $sellEffectiveHeadingEffectively.offset().left
							});

							$sellEffectiveHeadingSell.css({
								position: 'fixed'
							});

							$sellEffectiveHeadingHighlow.css({
								position: 'fixed'
							});

							$sellEffectiveHeadingEffectively.css({
								position: 'fixed'
							});

							var easing = [.82,-0.22,.18,.98],
								topOffset = 5;

							setTimeout(function(){

								$sellEffectiveHeadingSell.velocity({
									top: $appropriateMessagingHeadingSell.offset().top+topOffset,
									left: $appropriateMessagingHeadingSell.offset().left,
									opacity: 1
								},{
									duration: 1750,
									easing: easing
								})

								$sellEffectiveHeadingHighlow.velocity({
									top: $appropriateMessagingHeadingHighlow.offset().top+topOffset,
									left: $appropriateMessagingHeadingHighlow.offset().left,
									opacity: 1
								},{
									duration: 1750,
									easing: easing
								})

								$sellEffectiveHeadingEffectively.velocity({
									top: $appropriateMessagingHeadingEffectively.offset().top+topOffset,
									left: $appropriateMessagingHeadingEffectively.offset().left,
									opacity: 1
								},{
									duration: 1750,
									easing: easing
								});

							},250);
							

							setTimeout(function(){
								
								execute();

							},2000);

						} else {
							execute();
						}

						currentStep = 'appropriate-message';
					}

					if(!slide5Loaded) {
						$slide5.imagesLoaded (function(){
							enter();
							slide5Loaded = true;
						});
					} else {
						enter();
					}
				},
				'stunning-creative' : function(callback) {
					
					$('#stunning-creative').addClass('active');
					$('#appropriate-messaging').addClass('active');

					$slide6.addClass('active');
					$slide6.addClass('enter');

					function execute(callback) {	
						var string = $appropriateMessagingHeadingVariable.html();

						$('#appropriate-messaging--heading').css({
							opacity: 1
						});

						function removeCharacter(callback) {

							string = string.substring(0,string.length-1);

							$appropriateMessagingHeadingVariable.html(string);


							if(string.length>0) {
								setTimeout(function(){
									removeCharacter(callback);
								},15);
							} else {
								callback();
							}

						}

						var newString = "WITH STUNNING CREATIVE",
							enteredString = "";

						function enterChar(callback) {

							enteredString = enteredString + newString[enteredString.length];

							$appropriateMessagingHeadingVariable.html(enteredString);


							if(enteredString.length<newString.length) {
								setTimeout(function(){
									enterChar(callback);
								},20);
							} else {
								callback();
							}
						}

						if(currentStep == 'appropriate-message') {

							removeCharacter(function(){
								enterChar(function(){
									$('.stunning-creative--item').velocity('stop');
									$('.stunning-creative--item').removeAttr('style');
									$('.stunning-creative--item').addClass('in');
									$('#stunning-creative--arrows').velocity({
										opacity : 1
									});

									if(callback) {
										callback();
									}

								});
							});

						} else {

							enterChar(function(){
								$('.stunning-creative--item').velocity('stop');
								$('.stunning-creative--item').removeAttr('style');
								$('.stunning-creative--item').addClass('in');
								$('#stunning-creative--arrows').velocity({
									opacity : 1
								});

								if(callback) {
									callback();
								}

							});
						}
						
					}

					function enter() {
						if (currentStep == 'intro') {

							$('#sell-highlow-effectively--text-content .unhighlighted-text').each(function(){
								var self = $(this);
								self.velocity({
									opacity: 0,
									top: ((self.offset().top+self.outerHeight()/2)<$(window).height()/2)?(Utils.getRandomInt(-120,0)+'px'):(Utils.getRandomInt(0,120)+'px'),
									left: ((self.offset().left+self.outerWidth()/2)<$(window).width()/2)?(Utils.getRandomInt(-120,0)+'px'):(Utils.getRandomInt(0,120)+'px')
								},{
									duration: 500,
									easing: 'ease'
								});
							});

							$('#sell-highlow-effectively--text em').velocity('stop');

							$sellEffectiveHeadingSell.css({
								top: $sellEffectiveHeadingSell.offset().top,
								left: $sellEffectiveHeadingSell.offset().left,
							});

							$sellEffectiveHeadingHighlow.css({
								top: $sellEffectiveHeadingHighlow.offset().top,
								left: $sellEffectiveHeadingHighlow.offset().left
							});

							$sellEffectiveHeadingEffectively.css({
								top: $sellEffectiveHeadingEffectively.offset().top,
								left: $sellEffectiveHeadingEffectively.offset().left
							});

							$sellEffectiveHeadingSell.css({
								position: 'fixed'
							});

							$sellEffectiveHeadingHighlow.css({
								position: 'fixed'
							});

							$sellEffectiveHeadingEffectively.css({
								position: 'fixed'
							});

							var easing = [.82,-0.22,.18,.98],
								topOffset = 5;

							setTimeout(function(){

								$sellEffectiveHeadingSell.velocity({
									top: $appropriateMessagingHeadingSell.offset().top+topOffset,
									left: $appropriateMessagingHeadingSell.offset().left,
									opacity: 1
								},{
									duration: 1750,
									easing: easing
								})

								$sellEffectiveHeadingHighlow.velocity({
									top: $appropriateMessagingHeadingHighlow.offset().top+topOffset,
									left: $appropriateMessagingHeadingHighlow.offset().left,
									opacity: 1
								},{
									duration: 1750,
									easing: easing
								})

								$sellEffectiveHeadingEffectively.velocity({
									top: $appropriateMessagingHeadingEffectively.offset().top+topOffset,
									left: $appropriateMessagingHeadingEffectively.offset().left,
									opacity: 1
								},{
									duration: 1750,
									easing: easing
								});

							},250);
							

							setTimeout(function(){
								
								execute(function(){
									currentStep = 'stunning-creative';
									slide6Loaded = true;
								});

							},2000);

						} else if (currentStep == 'appropriate-message') {



							$('.appropriate-messaging--message').each(function(){
								var self = $(this);

								self.css({
									transition: 'none'
								});

								self.velocity({
									opacity: 0,
									top: '40px'
								},{
									duration: Utils.getRandomInt(250,750),
									easing: 'ease'
								});

							});

							setTimeout(function(){
								execute(function(){

									$('#appropriate-messaging--arrows').velocity('stop');
									$('#appropriate-messaging--arrows').velocity({
										opacity : 0
									});

									currentStep = 'stunning-creative';
									slide6Loaded = true;
								});
							},750);

						} else {

							execute(function(){

								$('#appropriate-messaging--arrows').velocity('stop');
								$('#appropriate-messaging--arrows').velocity({
									opacity : 0
								});
								
								currentStep = 'stunning-creative';
								slide6Loaded = true;
							});

						}
					}

					if(!slide6Loaded) {
						$slide6.imagesLoaded (function(){

							enter();
							
						});
					} else {
						enter();
					}
				}
			}

			


			var sliding = false;

			$('#appropriate-messaging--arrows--right').click(function(){
				
				if(!sliding) {
					
					var $currentMessage = $(".appropriate-messaging--message.active"),
						$nextMessage = $currentMessage.next();


					if($nextMessage.length>0) {
						sliding = true;
						$currentMessage.removeClass('active');
						$nextMessage.addClass('active');
						$('.appropriate-messaging--message-container').velocity({
							marginLeft: parseInt($('.appropriate-messaging--message-container').css('margin-left'))-$nextMessage.outerWidth()
						},{
							duration: 500,
							easing: 'ease',
							complete: function(){
								sliding = false;
							}
						});
						$('#appropriate-messaging--arrows--left').removeClass('end');

						if($nextMessage.next().length<=0) {
							$('#appropriate-messaging--arrows--right').addClass('end');
						}
					}
				}

			});

			$('#appropriate-messaging--arrows--left').click(function(){
				
				if(!sliding) {
					
					var $currentMessage = $(".appropriate-messaging--message.active"),
						$prevMessage = $currentMessage.prev();


					if($prevMessage.length>0) {
						sliding = true;
						$currentMessage.removeClass('active');
						$prevMessage.addClass('active');
						$('.appropriate-messaging--message-container').velocity({
							marginLeft: parseInt($('.appropriate-messaging--message-container').css('margin-left'))+$prevMessage.outerWidth()
						},{
							duration: 500,
							easing: 'ease',
							complete: function(){
								sliding = false;
							}
						});
						$('#appropriate-messaging--arrows--right').removeClass('end');

						if($prevMessage.prev().length<=0) {
							$('#appropriate-messaging--arrows--left').addClass('end');
						}

					} else {

					}
				}


			});


			$('#stunning-creative--arrows--right').click(function(){
		
				if(!sliding) {
					
					var $currentMessage = $(".stunning-creative--item.active"),
						$nextMessage = $currentMessage.next();


					if($nextMessage.length>0) {
						sliding = true;
						$currentMessage.removeClass('active');
						$nextMessage.addClass('active');
						$('.stunning-creative--item-container').velocity({
							marginLeft: parseInt($('.stunning-creative--item-container').css('margin-left'))-$nextMessage.outerWidth()
						},{
							duration: 500,
							easing: 'ease',
							complete: function(){
								sliding = false;
							}
						});
						$('#stunning-creative--arrows--left').removeClass('end');

						if($nextMessage.next().length<=0) {
							$('#stunning-creative--arrows--right').addClass('end');
						}
					}
				}

			});

			$('#stunning-creative--arrows--left').click(function(){
				
				if(!sliding) {
					
					var $currentMessage = $(".stunning-creative--item.active"),
						$prevMessage = $currentMessage.prev();


					if($prevMessage.length>0) {
						sliding = true;
						$currentMessage.removeClass('active');
						$prevMessage.addClass('active');
						$('.stunning-creative--item-container').velocity({
							marginLeft: parseInt($('.stunning-creative--item-container').css('margin-left'))+$prevMessage.outerWidth()
						},{
							duration: 500,
							easing: 'ease',
							complete: function(){
								sliding = false;
							}
						});
						$('#stunning-creative--arrows--right').removeClass('end');

						if($prevMessage.prev().length<=0) {
							$('#stunning-creative--arrows--left').addClass('end');
						}

					} else {

					}
				}


			});

			$(window).resize(function(){
		
				$('.appropriate-messaging--message-container').each(function(){
					var self = $(this),
						messages = $(self.find('.appropriate-messaging--message')),
						activeMessage = $(self.find('.appropriate-messaging--message.active'));

					var totalWidth = 0;

					messages.each(function(){
						totalWidth+= $(this).outerWidth();
					});

					self.css({
						width: totalWidth+'px',
						marginLeft: (-(activeMessage.index()*(activeMessage.outerWidth()))-activeMessage.outerWidth()/2) + 'px'
					});

				});

				$('.stunning-creative--item-container').each(function(){
					var self = $(this),
						messages = $(self.find('.stunning-creative--item')),
						activeMessage = $(self.find('.stunning-creative--item.active'));

					var totalWidth = 0;

					messages.each(function(){
						totalWidth+= $(this).outerWidth();
					});

					self.css({
						width: totalWidth+'px',
						marginLeft: (-(activeMessage.index()*(activeMessage.outerWidth()))-activeMessage.outerWidth()/2) + 'px'
					});

				});

			});

			$(window).resize();

			function imReady() {
				if(window.parent.imReady) {
					window.parent.imReady('sell-highlow-effectively');
				} else {
					setTimeout(imReady,250);
				}
			}

			imReady();

			window.isReady = true;

		});


	</script>

{% endblock %}