.side-content {
    left: 0;
    position: absolute;
    top: 0;
    width: @main-nav-width;
    background: #22252A;
}
.sticky-side-content {
    height: 100%;
    overflow-y: auto;
    position: fixed;
    z-index: 100;
}
.sticky-side-content .custom-nav {
    margin-top: 64px;
}
.side-content-collapsed .sticky-side-content {
    overflow-y: visible;
}

.side-content-inner {
    margin-bottom: 50px;
    padding: 0;
}

.custom-nav {
    margin-bottom: 10px;
    
    .user .dropdown-menu {
    	left: 30px;

	    a {
	    	padding: 10px !important; 
	    }
	}
    
    a {
    	font-size: 14px !important;
    }
    
    li .fa {
	    font-size: 16px;
	    margin-right: 10px;
	    text-align: center;
	    vertical-align: middle;
	    width: 16px;
	}
    
    > li {
    
    	&.user {
    		background: @main-nav-link-color-active;
    		color: #fff;
			height: 60px;
    		margin-bottom: 20px;
    		padding: 0 20px;
    		
    		> a, > a:hover, > a:active, > a:focus {
    			background: transparent;
    			color: #fff;
    			padding: 10px 0 !important;
    			position: relative;
    			text-decoration: none;
    			text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    			
    			.avatar {
    				border-radius: 50%;
    				/* margin-right: 12px; */
    				max-width: 41px;
    				position: relative;
    				top: 2px;
    				float: left;
    			}
    			
    			.user-arrow {
					float: right; 
    				position: relative; 
    				top: 15px; 
    			}
    			
    			span {
    				position: relative;
    				top: 13px;
    				text-overflow: ellipsis;
    				width: 90px !important;
    				float: left;
    				margin-left: 12px;
    			}
    		}
    	}
    	
	     > a {
		    border-radius: 0;
		    color: @main-nav-link-color;
		    padding: 12px 20px !important;
		    
		    &:hover, &:active, &:focus {
			    background-color: @main-nav-link-bg;
			    border-radius: 0;
			    color: #fff;
			    
			    .fa-icon {
			    	color: @main-nav-link-color-active;
			    }
		    }
		}
		
		&.nav-active {
			> a, > a:hover, > a:active, > a:focus {
				background-color: @main-nav-link-bg;
			    color: #fff;
			    
			    .fa-icon {
			    	color: @main-nav-link-color-active;
			    }
			}
			
			> ul {
				display: block;
			}
		}
		
		&.active {
			 > a, > a:hover, > a:active, > a:focus {
				background: none repeat scroll 0 0 @main-nav-link-bg;
	    		color: #fff;
	    		text-decoration: none;
	    		
	    		.fa-icon {
			    	color: @main-nav-link-color-active;
			    }
			}
		}
	}
	
	.menu-list.active ul {
	    display: block;
	}
	
	.sub-menu-list {
	    background: none repeat scroll 0 0 @main-nav-link-bg;
		display: none;
	    list-style: none outside none;
	    margin: 0;
	    padding: 0;
	    text-transform: capitalize;
	    
	    ul {
		    border: 0 none;
		    margin-left: 12px;
		}
	    
		> li {
		
			.fa {
			    font-size: 12px;
			    margin-right: 5px;
			    opacity: 0.5;
			    text-align: left;
			    vertical-align: baseline;
			    width: auto;
			}
		
		 	> a {
			    color: @main-nav-link-color;
			    display: block;
			    font-size: 13px;
			    padding: 10px 5px 10px 50px !important;
			    transition: all 0.2s ease-out 0s;
			    border-left: solid 3px transparent;
			    
			    &:hover, &:active, &:focus {
	    			background: none repeat scroll 0 0 @main-nav-link-bg;
	    			color: #fff;
	    			text-decoration: none;
	    			
	    			.fa-icon {
			    		color: @main-nav-link-color-active;
			    	}
				}
			}
			
			&.active{
				> a, > a:hover, > a:active, > a:focus {
	    			background: none repeat scroll 0 0 @main-nav-link-bg;
	    			color: #fff;
	    			text-decoration: none;
	    			
	    			.fa-icon {
			    		color: @main-nav-link-color-active;
			    	}
				}
			}
		}
	}
	
}

.sidebar-toggler, .sidebar-toggler:focus, .sidebar-toggler:hover {
	background: none;
	border: medium none;
	border-radius: 0;
	padding: 6px 0;
	position: relative;
	float: left;
	
	.icon-bar {
		background-color: #ee683a;
	}
}